$box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.19);

//== CiviCRM Page
//
//##

$crm-page-breakpoint-min:      1240px !default; // Unfortunately arbitrary

$crm-page-sidebar-bg:          #fff !default;
$crm-page-sidebar-max-width:   170px !default;

$crm-page-main-max-width:      1004px !default;
$crm-page-main-padding:        16px !default;

$crm-page-topbar-bg:           #586277 !default;
$crm-page-topbar-color:        #fff !default;
$crm-page-topbar-item-padding: 15px !default;



//
// Variables override
// --------------------------------------------------


//== Font paths
//
//##
$icon-font-path: "../../org.civicrm.bootstrap/fonts/" !default;
$fa-font-path:   "../fonts/font-awesome" !default;
$os-font-path:   "../fonts/open-sans" !default;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$background:            #E8EEF0 !default;
$copy:                  #727E8A !default;

$gray-darker:           #4D5663 !default;
$gray-dark:             $copy !default;
$gray-light:            $background !default;
$gray-lighter:          #F3F6F7 !default;
$gray-lightest:         lighten(desaturate(adjust-hue(#f3f6f7, -15.0000), 0.0000), 1.9608) !default;

$brand-primary:         #42AFCB !default;
$brand-primary-light:   lighten(desaturate(adjust-hue($brand-primary, 4.9301), 34.7499), 45.6863) !default;
$brand-primary-lighter: lighten(desaturate(adjust-hue(#3ab1c9, -10.0699), 36.9721), 48.2353) !default;
$brand-success:         #8EC68A !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #ECA67F !default;
$brand-danger:          #E6807F !default;

$dark-blue:             #586277 !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: $background !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base:        "Open Sans", $font-family-sans-serif !default;

$font-size-base-unitless: 13;
$font-size-base:          13px !default;
$font-size-medium:        14px !default;
$font-size-xs:            9px !default;

$font-size-h1:            24px !default;
$font-size-h2:            18px !default;
$font-size-h3:            16px !default;
$font-size-h4:            $font-size-medium !default;
$font-size-h5:            $font-size-base !default;

$line-height-base:        1.53846153846154 !default; // 20/13

//** By default, this inherits from the `<body>`.
$headings-font-weight:    500 !default;

$font-weight-h1:          600 !default;
$font-weight-h2:          600 !default;
$font-weight-h3:          600 !default;
$font-weight-h4:          500 !default;
$font-weight-h5:          700 !default;
$font-weight-h6:          500 !default;

$headings-color:          $gray-darker !default;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
$icon-font-path: "../vendor/bootstrap/fonts/bootstrap/" !default;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:  4px !default;
$padding-small-vertical: 2px !default;

$border-radius-base:  2px !default;
$border-radius-small: $border-radius-base !default;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding: 10px 20px !default;

//** Background for striped tables
$table-striped-bg:              $brand-primary-light !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               $brand-primary-lighter !default;

//** Border color for table and cell borders.
$table-border-color: $gray-light !default;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:            600 !default;
$btn-small-font-weight:      400 !default;

$btn-padding-base-vertical:  7px;
$btn-padding-small-vertical: 5px;

$btn-default-bg:            #fff !default;
$btn-default-border:        $btn-default-bg !default;


//== Forms
//
//##

$input-bg-disabled:         $gray-lightest !default;
$input-color:               $gray-dark !default;
$input-border:              $gray-dark !default;
$input-border-disabled:     #b2bac0 !default;

$input-border-radius:       0 !default;
$input-border-radius-large: $input-border-radius !default;
$input-border-radius-small: $input-border-radius !default;

$input-addon-color:         $gray-darker !default;

// custom select
$customselect-background:             #ffffff;
$customselect-caret-width:            32;
$customselect-padding-right:          $customselect-caret-width + 12;
$customselect-feedback-padding-right: $customselect-padding-right + 10;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-border:        $background !default;
$dropdown-link-hover-bg: $dropdown-border !default;


//== Modals
//
//##

$modal-inner-padding:         20px 30px !default;
$modal-title-padding:         15px !default;

$modal-header-border-color:   transparent !default;
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-md:                    500px !default;


//== Panels
//
//##

$panel-bg:                    transparent !default;
$panel-body-padding:          20px !default;
$panel-heading-padding:       10px 20px !default;
$panel-heading-big-padding:   15px 20px !default;
$panel-footer-big-padding:    $panel-heading-big-padding !default;
$panel-border-radius:         0 !default;

//** Border color for elements within panels
$panel-footer-bg:             #ffffff !default;

$panel-default-text:          $gray-darker !default;
$panel-default-heading-bg:    #ffffff !default;


//== Grid system
//
//## Define your custom responsive grid.

$grid-gutter-width: 16px !default;


//== Navs
//
//##

$nav-link-hover-bg:         $brand-primary-light !default;

//=== Nav contained in sidebar
$nav-pills-sidebar-border-radius: 0;
$nav-pills-sidebar-color:         $gray-darker;
$nav-pills-sidebar-weigth:        600;

$nav-pills-sidebar-link-padding:  16px 17px!default;
$nav-pills-sidebar-link-color:    $brand-primary !default;
$nav-pills-sidebar-link-hover-bg: $background !default;

//== Tabs

// Nav tabs placed in a panel heading
$nav-tabs-panel-heading-border:                  0 !default;
$nav-tabs-panel-heading-margin:                  -10px 0 !default;
$nav-tabs-panel-heading-link-background:         transparent !default;
$nav-tabs-panel-heading-link-border-color:       #ffffff !default;
$nav-tabs-panel-heading-link-border-width:       0 !default;
$nav-tabs-panel-heading-link-border-hover-width: 0 0 3px 0 !default;
$nav-tabs-panel-heading-link-color:              $nav-tabs-panel-heading-link-border-color !default;
$nav-tabs-panel-heading-link-padding:            15px 15px 12px !default;
$nav-tabs-panel-heading-link-weight:             600 !default;


//== Pagination
//
//##

$pagination-color:                     $gray-dark !default;
$pagination-bg:                        transparent !default;

$pagination-hover-color:               $gray-darker !default;
$pagination-hover-bg:                  $pagination-bg !default;

$pagination-active-color:              $gray-darker !default;
$pagination-active-bg:                 $pagination-bg !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               $pagination-bg !default;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $brand-success !default;
$state-info-text:                $brand-info !default;
$state-warning-text:             $brand-warning !default;
$state-danger-text:              $brand-danger !default;


//== Breadcrumbs
//
//##

$breadcrumb-separator:          ">" !default;


//== Type
//
//##

$dl-horizontal-offset: 250px !default;
