@import "overrides/variables";
@import "../../org.civicrm.bootstrap/scss/bootstrap";

@import "fonts/*";
@import "mixins/*";

#{$bootstrap-namespace} {
    @import "vendor/text-angular/text-angular";
    @import "vendor/ui-bootstrap/ui-bootstrap";
    @import "vendor/ui-select/ui-select";

    @import "overrides/style/*";
    @import "components/*";
}

@import "vendor/angular-xeditable/angular-xeditable";
@import "vendor/font-awesome/font-awesome";
@import "vendor/perfect-scrollbar/main";
@import "overrides/style/civihr-ui-select-overrides";
@import "components/civihr-ui-select";
