%no-border-radius {
  border-radius: 0 !important;
}

.crm-accordion-header {
  @extend %no-border-radius;
  background: $crm-accordion-header-color !important;
  background-image: none !important;
  color: $gray-darker;
  font-family: $font-family-base;
  font-weight: 600;
  line-height: 18px;
  padding: 16px 20px;
  position: relative;

  &:not(.crm-master-accordion-header) {
    font-size: 13px !important;
  }

  &::before {
    @include fa-icon($font-size-base, $fa-var-angle-right, $gray-darker);
    padding-right: 10px;
  }

  &.crm-master-accordion-header {
    background: $brand-primary !important;
    border-radius: $border-radius-base $border-radius-base 0 0 !important;
    color: $crm-white !important;
    font-weight: $crm-font-weight-h3 !important;
    font-size: $font-size-h2;

    &::before {
      color: $crm-white;
    }
  }

  .crm-close-accordion {
    margin-top: 5px;
    position: absolute;
    right: 7px;
    top: 7px;
  }

  .helpicon {
    padding-left: 15px;
    color: $brand-primary;
    opacity: 1;

    &:hover{
      opacity: .8;
    }
  }
}

.crm-accordion-wrapper {
  border-radius: 0;
  margin-bottom: 0;

  &:not(.collapsed) {

    .crm-accordion-header {
      &::before {
        content: '\f107';
      }
    }
  }

  &.collapsed {
    .crm-accordion-header {
      &::before {
        content: '\f105';
      }
    }
    .crm-master-accordion-header {
      border-radius: $border-radius-base !important;
    }
  }
}

.crm-accordion-header:not(.crm-master-accordion-header) {
  font-weight: 600;
  border-bottom: 1px solid $crm-grayblue-dark;
}

.crm-master-accordion-header + .crm-accordion-body {
  border-radius: 0 0 $border-radius-base $border-radius-base !important;
}

.crm-accordion-header:not(.crm-master-accordion-header) + .crm-accordion-body,
.section {
  box-shadow: $crm-box-shadow-inset;
  padding: 15px !important;

  td {
    &.label {
      font-weight: 600;
      text-align: left;
      color: $gray-darker;
      padding-left: 0;

      label {
        padding: 0;
      }
    }

    label {
      position: relative;
    }
  }
}

.crm-accordion-body {
  @extend %no-border-radius;
  background: $crm-white;
  border: 0;
  color: $gray-darker;
  font-family: $font-family-base;
  font-size: $font-size-base;

  .form-item,
  .form-item > table {
    margin: 0;
  }

  td {
    border-right-width: 0;
  }

  > table {
    &,
    td,
    th,
    tr {
      background: none !important;
    }
  }

  .helpicon {
    color: $brand-primary;
    font-size: 13px;
    opacity: 1;
  }

  span,
  div {
    &.description {
      display: block;
      line-height: 1.5em;
    }
  }
}
