.crm-container {
  %no-border-radius {
    border-radius: 0 !important;
  }

  .crm-accordion-header {
    @extend %no-border-radius;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    background-image: none !important;
    background: $crm-accordion-header-color !important;
    color: $gray-darker;
    font-weight: normal !important;

    &::before {
      @include fa-icon(.8em);
      padding-right: 10px;
    }

    &.crm-master-accordion-header {
      @extend %open-sans-font-family;
      background: $brand-primary !important;
      color: #ffffff !important;
      font-weight: 600 !important;
      font-size: 18px;

      &::before {
        color: #ffffff;
      }
    }

    .crm-close-accordion {
      margin-top: 5px;
    }

    .helpicon {
      padding-left: 15px;
      color: #ffffff;
      opacity: 1;

      &:hover{
        opacity: .8;
      }
    }
  }

  .crm-accordion-wrapper {
    margin-bottom: 1px;

    &:not(.collapsed) {
      .crm-accordion-header {
        &::before {
          content: '\f107';
        }
      }
    }

    &.collapsed {
      .crm-accordion-header {
        &::before {
          content: '\f105';
        }
      }
    }
  }

  .crm-accordion-header:not(.crm-master-accordion-header) + .crm-accordion-body,
  .section {
    padding: 15px !important;
  }

  .crm-accordion-body {
    @extend %no-border-radius;
    border: 0;
    background: #ffffff;

    .form-item,
    .form-item > table {
      margin: 0;
    }

    td {
      border-right-width: 0;
    }

    > table {
      &,
      td,
      th,
      tr {
        background: none !important;
      }
    }

    .helpicon {
      color: $brand-primary;
      font-size: 13px;
      opacity: 1;
    }
  }
}
