#alpha-filter {
  li {
    color: $crm-gray-matte;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $crm-font-weight-h3;

    a,
    a:link {
      border-bottom: none;
      color: $brand-primary;
      font-weight: $crm-font-weight-h3;

      &:hover {
        color: darken($brand-primary, $crm-darken-percentage);
      }
    }
  }
}
