@import 'SCSSROOT/org.civicrm.bootstrap/scss/vendor/bootstrap/buttons';
@import 'SCSSROOT/org.civicrm.bootstrap/scss/vendor/bootstrap/button-groups';
@import 'SCSSROOT/org.civicrm.bootstrap/scss/vendor/bootstrap/modals';
@import '../bootstrap/overrides/style/buttons';

$button-border-radius: 2px;

%btn-civi {
  @extend .btn, %open-sans-font-family;
  text-shadow: none;
  text-transform: uppercase;
  opacity: 1 !important;
  font-size: 1em !important;
}

%btn-civi-primary {
  @extend .btn-primary;
  border: 0;
  min-width: 90px;
  padding: 8px 12px;
}

%btn-civi-secondary-outline {
  @extend .btn-secondary-outline;
  border-radius: $button-border-radius;
}

%submit-buttons-civi {
  background: #ffffff !important;
  border-top: 1px solid $gray-lighter;
  margin: 20px 20px 0 !important;
  padding: 20px 0 10px !important
}

.crm-container {
  %btn,
  .crm-profile-selector-preview {
    @extend %btn-civi;

    /**
     * :not(.ui-dialog .button) is used to do not apply the selector .btn-secondary-outline
     * on modal's buttons.
     */
    &:not(.crm-form-submit):not(.crm-close-accordion):not(.crm-clear-link):not(.ui-button):not(.button.newGroup) {
      @extend %btn-civi-secondary-outline;
    }

    &.crm-form-submit:not(.cancel) {
      @extend %btn-civi-primary;
    }
  }

  #actions,
  #crm-main-content-wrapper div.action-link  {
    %btn {
      @extend .btn-secondary;
    }
  }

  // "Toolbar" buttons
  $toolbar-top-space: 6px;

  .crm-form-block {
    &.crm-search-form-block > .crm-submit-buttons,
    &.crm-form-block > .crm-submit-buttons {
      @extend %submit-buttons-civi;
    }

    .crm-button.crm-i-button input.crm-form-submit {
      padding-left: 12px;
    }

    .crm-submit-buttons {
      background: #ffffff !important;

      .crm-i {
        display: none;
      }

      .crm-button-type-cancel,
      .crm-button-type-back {
        input {
          @extend .btn-secondary-outline;
          ///The default theme uses "!important"
          color: $gray !important;
          border: solid 1px $gray-dark;

          &:hover {
            color: #ffffff !important;
            background: $gray-dark;
          }
        }
      }
    }
  }

  .crm-i-button,
  .refresh {
    padding: 0 !important;
  }

  .crm-button {
    background: none;
  }

  table.form-layout > tbody > tr > td > span.crm-button.crm-i-button {
    line-height: 35px;
  }

  #crm-submit-buttons input.crm-form-submit,
  .crm-button input.crm-form-submit,
  .crm-hover-button,
  .ui-dialog-buttonset .ui-button,
  a.button,
  a.button:link,
  a.button:visited,
  input[type=button],
  input[type=file] {
    @extend %btn;
  }

  .crm-option-edit-link.crm-hover-button,
  .crm-hover-button:not(#addMorePermission),
  .crm-clear-link {
    border: 0 !important;
    color: $gray-dark;
    margin: 0;
  }

  .crm-accordion-header,
  .crm-form-date-wrapper {
    a.crm-hover-button {
      @extend .btn-xs;
    }
  }

  a.crm-hover-button {
    padding: 4px 6px;
    border-radius: 2 !important;

    &.css_right {
      padding: 7px 12px;
    }

    &.crm-close-accordion {
      padding: 7px 15px !important;
    }

    &:hover {
      background-image: none;
      color: inherit;
    }
  }

  .crm-button-type-refresh,
  .crm-submit-buttons > .crm-button {
    padding: 0 !important;
    border: 0 !important;

    .crm-i {
      padding: 3px;
      background-color: transparent !important;
      color: #ffffff;
    }
  }

  .crm-i {
    text-shadow: none;
    vertical-align: middle;
    line-height: inherit;
  }

  .crm-button-type-refresh {
    .crm-i {
      color: #ffffff;
    }
  }

  .crm-form-block > .crm-submit-buttons {
    min-height: 43px;
    margin-left: 0;

    > .crm-button:first-of-type {
      margin-left: 10px;
    }
  }

  //"Expand all" and "configure pane" buttons;
  .crm-search-form-block > a,
  .crm-search-form-block > span {
    @extend .btn, .btn-secondary-outline;
    float: right;
    border: 0;
    margin-top: $toolbar-top-space;
    padding: 0;
    box-sizing: border-box;
    width: 30px;
    line-height: 26px;
    margin-left: 15px;
  }

  .crm-search-form-block > a {
    margin-right: 10px;
  }

  .crm-search-form-block > span {
    overflow: hidden;

    > a {
      &::before {
        @include fa-icon();
        padding: 0 15px 0 0;
        width: 30px;
        line-height: 30px;
        display: inline-block;
      }

      &:hover {
        &,
        &::before {
          color: #ffffff !important;
        }
      }

      &[href~='#collapse']::before {
        content: '\f066';
      }

      &[href~='#expand']::before {
        content: '\f065';
      }
    }
  }

  ul.wizard-bar {
    @extend .btn-group;
    $height: 25px;
    height: $height;
    border: 0 !important;

    > li {
      display: inline-block !important;
      height: $height !important;
      line-height: $height !important;
      box-shadow: none !important;
      border-radius: 0 !important;

      &:first-child {
        border-top-left-radius: $button-border-radius !important;
        border-bottom-left-radius: $button-border-radius !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      &:last-child {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: $button-border-radius !important;
        border-bottom-right-radius: $button-border-radius !important;
      }

      &:not(.current-step) {
        @extend %btn, .btn-default;

        &:hover {
          color: $gray-darker !important;
        }
      }

      &.current-step {
        @extend %btn, .btn-secondary;
        background: $gray-dark !important;
        border-color: $gray-darker !important;

        &:hover {
          color: #ffffff !important;
        }
      }
    }
  }

  #wizard-steps {
    + h1,
    + h2 {
      position: relative;
      top: -45px;
    }
  }

  .action-link {
    line-height: 45px;

    a {
      display: inline-block !important;
      float: none !important;
    }

    .crm-i {
      line-height: normal !important;
    }

    &:first-of-type a {
      vertical-align: top !important;
    }

    &:not(:first-of-type) a {
      vertical-align: bottom !important;
    }
  }

  &.ui-dialog {
    .button {
      padding: 4px 12px !important;
      font-weight: normal !important;
    }

    .ui-dialog-buttonset {
      .crm-i {
        line-height: initial !important;
      }

      .ui-button-text-icon-primary .ui-button-text {
        padding: 0 0 0 7px !important;
      }
    }
  }

  .crm-profile-selector-preview {
    padding: 4px 12px;

    .crm-i {
      position: relative;
      top: -1px;
    }
  }
}
