@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/buttons';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/button-groups';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/modals';
@import '../bootstrap/overrides/style/buttons';

$button-border-radius: 2px;

%btn-civi {
  @extend .btn, %open-sans-font-family;
  text-shadow: none;
  text-transform: uppercase;
  opacity: 1;
  font-size: 1em !important;
}

%btn-civi-primary {
  @extend .btn-primary;
  border: 0;
  min-width: 90px;
  padding: 8px 12px;
}

%btn-civi-secondary-outline {
  @extend .btn-secondary-outline;
  border-radius: $button-border-radius;
}

%submit-buttons-civi {
  background: #ffffff !important;
  border-top: 1px solid $gray-lighter;
  margin: 20px 20px 0 !important;
  padding: 20px 0 10px !important
}

.crm-container {
  margin-left: 0 !important;

  %btn,
  .crm-profile-selector-preview {
    @extend %btn-civi;

    /**
     * :not(.ui-dialog .button) is used to do not apply the selector .btn-secondary-outline
     * on modal's buttons.
     */
    &:not(.crm-form-submit):not(.crm-close-accordion):not(.crm-clear-link):not(.ui-button):not(.button.newGroup) {
      @extend %btn-civi-secondary-outline;
    }

    &.crm-form-submit:not(.cancel) {
      @extend %btn-civi-primary;
    }
  }

  #actions,
  #crm-main-content-wrapper div.action-link  {
    %btn {
      @extend .btn-secondary;
    }
  }

  input.crm-form-submit {
    background: $brand-primary;
    border-color: $brand-primary;
    border-radius: $border-radius-base;
    font-family: $font-family-base;
    padding: 8px 12px;
    text-shadow: none;
    text-transform: uppercase;

    &:hover {
      background: darken($brand-primary, $crm-darken-percentage);
    }

    &:active,
    &:focus {
      outline: none;
    }

    &.cancel {
      background: $crm-white;
      border: 1px solid $crm-copy;
      color: $crm-cancel-color;

      &:hover {
        background: $crm-copy;
        color: $crm-white;
      }
    }
  }

  .crm-button-type-cancel {

    i {
      color: $crm-cancel-color;
    }

    &:hover {
      i {
        color: $crm-white;
      }
    }

    input.crm-form-submit {
      color: $crm-cancel-color !important;

      &:hover {
        color: $crm-white !important;
      }
    }
  }

  .crm-submit-buttons {
    height: auto;
    margin: 0;

    .crm-button {
      float: none !important;
      margin-left: 0;
      margin-right: 10px;
    }

    span.crm-button {
      display: inline-block;
    }

    a.button {
      float: none;
    }
  }

  // "Toolbar" buttons
  $toolbar-top-space: 6px;

  .crm-form-block {
    &.crm-search-form-block > .crm-submit-buttons,
    &.crm-form-block > .crm-submit-buttons,
    .form-item > .crm-submit-buttons {
      @extend %submit-buttons-civi;
    }

    .crm-submit-buttons {
      background: $crm-white !important;

      .crm-i {
        display: none;
      }

      .crm-button-type-cancel,
      .crm-button-type-back {
        input {
          @extend .btn-secondary-outline;
          ///The default theme uses "!important"
          color: $crm-cancel-color !important;
          border: solid 1px $gray-dark;

          &:hover {
            color: $crm-white !important;
            background: darken($crm-copy, $crm-darken-percentage);
          }
        }
      }
    }
  }

  .crm-i-button,
  .refresh {
    padding: 0 !important;
  }

  .crm-button {
    background: none;
  }

  table.form-layout > tbody > tr > td > span.crm-button.crm-i-button {
    line-height: 35px;
  }

  #crm-submit-buttons input.crm-form-submit,
  .crm-button input.crm-form-submit,
  .crm-hover-button,
  .ui-dialog-buttonset .ui-button,
  a.button,
  a.button:link,
  a.button:visited,
  input[type=button],
  input[type=file] {
    @extend %btn;
  }

  input[type=button],
  a.button,
  a.button:link,
  a.button:visited {
    background: $gray-dark;
    color: $crm-white;

    &:hover,
    &:focus,
    &:active {
      background: darken($crm-copy, $crm-darken-percentage);
      color: $crm-white;
    }
  }

  .crm-option-edit-link.crm-hover-button,
  .crm-hover-button:not(#addMorePermission):not(.open-inline-noreturn),
  .crm-clear-link {
    border: 0 !important;
    margin: 0 !important;
  }

  a.crm-selection-reset {
    &,
    &:link {
      color: $gray-dark;
    }
  }

  .crm-accordion-header,
  .crm-form-date-wrapper {
    a.crm-hover-button {
      @extend .btn-xs;
    }
  }

  a.crm-hover-button {
    padding: 4px 6px;
    border-radius: 2 !important;

    &.css_right {
      padding: 7px 12px;
    }

    &.crm-close-accordion {
      padding: 7px 15px !important;
    }

    &:hover {
      background-image: none;
      color: inherit;
    }
  }

  .crm-button-type-refresh,
  .crm-submit-buttons > .crm-button {
    border: 0;

    .crm-i {
      padding: 3px;
      background-color: transparent !important;
      color: #ffffff;
    }
  }

  .crm-i {
    text-shadow: none;
    vertical-align: middle;
    line-height: inherit;
  }

  .crm-button-type-refresh {
    .crm-i {
      color: #ffffff;
    }
  }

  .crm-form-block > .crm-submit-buttons {
    min-height: 43px;
    margin-left: 0;
  }

  //"Expand all" and "configure pane" buttons;
  .crm-search-form-block > a,
  .crm-search-form-block > span {
    @extend .btn, .btn-secondary-outline;
    float: right;
    border: 0;
    margin-top: $toolbar-top-space;
    padding: 0;
    box-sizing: border-box;
    width: 30px;
    line-height: 26px;
    margin-left: 15px;
  }

  .crm-search-form-block > a {
    margin-right: 10px;
  }

  .crm-search-form-block > span {
    overflow: hidden;

    > a {
      &::before {
        @include fa-icon();
        padding: 0 15px 0 0;
        width: 30px;
        line-height: 30px;
        display: inline-block;
      }

      &:hover {
        &,
        &::before {
          color: #ffffff !important;
        }
      }

      &[href~='#collapse']::before {
        content: '\f066';
      }

      &[href~='#expand']::before {
        content: '\f065';
      }
    }
  }

  .action-link {
    height: auto;

    a {
      display: inline-block !important;
      float: none !important;

      &.button {
        box-shadow: $crm-form-layout-shadow;
      }
    }

    .crm-i {
      line-height: normal !important;
    }

    &:not(:first-of-type) a {
      vertical-align: bottom !important;
    }
  }

  &.ui-dialog {
    .button {
      padding: 4px 12px !important;
      font-weight: normal !important;
    }

    .ui-dialog-buttonset {
      .crm-i {
        line-height: initial !important;
      }

      .ui-button-text-icon-primary .ui-button-text {
        padding: 0 0 0 7px !important;
      }
    }
  }

  .crm-profile-selector-preview {
    padding: 4px 12px;

    .crm-i {
      position: relative;
      top: -1px;
    }
  }
}

a {
  &.button  {
    i {
      margin-top: -4px;
      margin-right: 10px;
    }
  }
}
