.crm-collapsible {
  .collapsible-title {
    &,
    &:hover {
      @include panel-header;
      background: $gray-lighter;
      font-size: $font-size-base;

      &::before {
        @include fa-icon($font-size-base, $fa-var-angle-right, $gray-darker);
        padding-right: 10px;
      }
    }
  }

  &:not(.collapsed) {

    .collapsible-title {
      &::before {
        content: $fa-var-angle-down;
      }
    }
  }

  &.collapsed {
    .collapsible-title {
      background-image: none;
      margin-bottom: 0;
    }
  }
}
