#civicrm-footer {
  border-top: 1px solid $crm-grayblue-dark;

  a,
  a:link {
    color: darken($brand-primary, $crm-darken-percentage);
  }

  .status {
    padding: 4px;
  }

  .crm-error {
    border-radius: $border-radius-base;

    a {
      color: $crm-white;
    }
  }
}
