@import '../bootstrap/components/editable-content';

.crm-editable-enabled {
  button {
    cursor: pointer;
  }

  textarea,
  input,
  select {
    box-sizing: border-box;
  }

  &:not(.crm-editable-editing):hover:after {
    line-height: normal;
    top: calc(50% - 6px);
  }
}
