@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/forms';
@import '../bootstrap/overrides/style/forms';
$control-height: 30px;

%custom-form-control {
  @extend .form-control, %open-sans-font-family;
  height: $control-height;
  line-height: $control-height;
  box-sizing: border-box;
}

.crm-container {
  $disabled-color: lighten($gray-dark, 25);
  $control-width: 230px;
  $control-spacing: 15px;

  %responsive {
    @media (min-device-width: $screen-sm-min) {
      min-width: 230px;
      width: 230px;
    }

    @media (max-device-width: $screen-sm-max) {
      min-width: 270px;
      width: 270px;
    }

    @media (max-device-width: $screen-xs-max) {
      margin: 0;
      max-width: 270px;
    }
  }

  &.select2-container,
  &.select2-choice {
    @extend %responsive;
  }

  %control-half-width {
    @media (min-width: 1065px) {
      min-width: $control-width / 2;
    }

    @media (max-width: 1064px) {
      min-width: 30% !important;
      width: 30% !important;
    }
  }

  //Page specific
  @at-root .page-civicrm-contact & {
    td:not(.html-adjust) .select2-container + select + .crm-option-edit-link {
      @media (min-width: 1330px) {
        //Compensate the ".select2-container" right margin
        position: relative;
      }
    }
  }

  @at-root .page-civicrm-contact-view & {
    .select2-search:before {
      top: 17px !important;
    }
  }

  table {
    &.form-layout,
    &.form-layout-compressed {

      td {
        > div.select2-container,
        > div.select2-container ~ a,
        > select,
        > span:not(.crm-form-date-wrapper) input,
        > span:not(.crm-form-date-wrapper) select,
        > input:not([type='radio']):not([type='checkbox']) {
          margin: $control-spacing / 2 $control-spacing $control-spacing / 2 0 !important;
          bottom: initial !important;
        }

        > select,
        > select.crm-form-multiselect {
           margin: 1px 0 $control-spacing / 2 0 !important;

           + .crm-error {
            position: relative;
            top: 7px;
          }
        }

        &.view-value {
          > div.cke {
            width: 95%;
          }
        }
      }

      tr td.label + td {
        > input:not([type="radio"]):not([type="checkbox"]),
        > div.select2-container {
          @extend %responsive;
          margin-right: 0 !important;
        }
      }
    }
  }

  .form-layout,
  .form-layout-compressed,
  .crm-accordion-body,
  .crm-form-block {
    input.crm-form-text,
    input.dateplugin,
    textarea {
      @extend %responsive;
      display: inline-block;
    }

    input.crm-form-file {
      padding-left: 0;
      padding-right: 0;
    }

    textarea {
      @extend %responsive;
    }

    input[type="checkbox"],
    input[type="radio"] {
      margin: 0 5px 0 0;
      vertical-align: middle;

      &:not(:first-of-type) {
        margin-left: 15px !important;
      }
    }

    div.form-item {
      @extend .form-group;
    }

    select {
      @extend %responsive, %open-sans-font-family;

      &:not([multiple]) {
        @extend %custom-form-control;
        cursor: pointer;
        line-height: normal;
        border-radius: 0 !important;
        display: inline-block;
        width: auto !important;
        height: $control-height !important;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding-right: 10px !important;
        position: relative;
        top: 1px;
        background: url('../svgs/drop-down-arrow.svg') no-repeat right $crm-white !important;

        option {
          @extend %custom-form-control;
          padding-top: 5px 0;
          border: 0;
        }
      }
    }

    label {
      @extend .control-label;
      font-weight: 600 !important;
      font-size: 13px;
      color: $gray-darker;
    }

    input[type=email],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=text],
    textarea {
      @extend %custom-form-control, %open-sans-font-family;
    }

    // "Select2" Drop-downs
    .select2-container,
    .crm-form-select {
      %arrow {
        @include fa-icon(13px, '\f0d7');
        display: block;
        text-align: center;
      }

      &.select2-container-multi {
        .select2-choices,
        .select2-choices::before {
          @extend %arrow;
          background: none;
          padding-right: 3px;

          b {
            display: none;
          }
        }

        .select2-choices {
          border: solid 1px $crm-darker-grayblue;
          border-radius: $border-radius-base;
          box-shadow: $crm-checkbox-shadow;
          box-sizing: border-box;
          font-family: inherit;
          line-height: inherit;
          padding-right: 20px;
          width: 100%;

          &::before {
            line-height: 22px;
          }

          .select2-search-choice {
            background: none;
            border-color: $brand-primary;
            border-radius: 0;
            line-height: 20px;
            margin-top: 4px;
            padding: 0 15px 0 5px;

            > div {
              display: inline-block;
              line-height: normal;
              padding-right: 10px;
              vertical-align: text-bottom;
            }

            .select2-search-choice-close {
              left: auto !important;
              line-height: inherit;
              padding-right: 5px;
              position: absolute;
              right: 0 !important;
              top: 1px;
            }
          }

          .select2-search-field {
            margin: 0;
            padding: 0;

            input {
              padding-left: 10px;
              box-shadow: none;
            }
          }
        }

        &.select2-dropdown-open .select2-choices::before {
          @include fa-icon($fa-var-search);
        }

        &.select2-container-disabled .select2-choices {
            width: inherit;
        }
      }

      &:not(.select2-container-active).select2-container-disabled {
        &,
        .select2-arrow,
        .select2-choice,
        .select2-choices {
          &,
          &::before {
            background: $input-bg-disabled !important;
            border-color: $disabled-color !important;
            color: $disabled-color !important;
          }
        }

        .select2-chosen {
          &,
          &::before {
            border-color: $disabled-color !important;
            color: $disabled-color !important;
          }
        }

        .select2-arrow {
          border-left: 1px solid;
        }
      }

      .select2-choice {
        @extend %custom-form-control;
        box-sizing: inherit;
        height: $control-height;
        line-height: $control-height;
        padding: 0 10px;

        abbr {
          top: 0;
        }

        .select2-chosen {
          font-size: $font-size-base;
          font-weight: normal;
          line-height: 27px;
        }
      }

      &.select2-container-active {
        &:not(.select2-dropdown-open) span {
            color: $brand-primary;
        }

        &.select2-dropdown-open {
          .select2-choice,
          .select2-choices {
            border-color: $brand-primary;
            box-shadow: none;
          }

          span {
            color: lighten($gray-light, 30);
          }

          &:not(.select2-container-multi) {
            .select2-search-choice-close {
              display: none !important;
            }
          }
        }
      }

      .select2-arrow {
        background: none;
        border-color: $crm-darker-grayblue;
        padding: 0 4px;

        > b {
          display: none;
        }

        &::before {
          @extend %arrow;
          width: inherit;
        }
      }

      &.select2-dropdown-open {
        .select2-arrow::before {
          content: '\f0d8';
        }

        .select2-choice,
        .select2-choices {
          @extend .select2-drop;
        }

        .select2-choices {
          border: 1px solid $brand-primary !important;
        }
      }

      .select2-search-choice-close {
        right: 35px;
        background: none;
        background-image: none !important;

        &::before {
          @include fa-icon(13px, '\f057', $brand-primary);
          line-height: inherit;
          vertical-align: middle;
          text-align: right;
          display: block;
        }
      }

      &.select2-container-multi .select2-choices .select2-search-field input {
        margin: 0;
      }

      .select2-input {
        border: 0 !important;
        box-shadow: none !important;
      }

      &.error {
        background-image: none;
      }
    }

    td td {
      padding: 0;
    }

    td {
      background: none !important;

      &.label {
        padding-left: 20px;
        text-align: left;
        vertical-align: top;

        label {
          margin: 10.5px 0;
        }
      }

      label {
        display: inline-block;
        line-height: initial;
        text-align: initial;
      }

      label ~ input ~ label ~ input {
        margin-left: 5px;
      }

      // "Edit options" ("wrench") buttons besides the dropdowns
      .crm-option-edit-link {
        margin-left: 5px;
      }

      > .select2-container-multi,
      > .select2-container {
        @extend %responsive;
        // Needed in order to render correctly in PhantomJS
        width: initial !important;
        height: auto !important;
      }

      > input[type="text"]:not(:only-of-type) {
        @extend %control-half-width;
      }

      .crm-field-wrapper {
        width: 100% !important;

        label {
          padding-right: 5px;
        }

        > div {
          display: flex;
          align-items: baseline;

          > input:not(:only-child) {
            width: 20%;
            flex-grow: 1;
          }
        }
      }
    }

    input + label {
      display: inline-block;
    }

    input.crm-form-text:not(.crm-form-date) {
      @extend %responsive;
    }

    table:not(.form-layout-compressed) {
      .select2-container,
      input.crm-form-text {
        margin-top: 5px;
      }

      .crm-age-range input {
        @extend %control-half-width;
        margin: 0 $control-spacing;
      }
    }

    .select2-container-multi,
    label ~ input.crm-form-text,
    td .crm-field-wrapper input.crm-form-text:only-child,
    td .crm-form-date-wrapper input.crm-form-text:only-child,
    td > input.crm-form-text {
      @extend %responsive;
      box-sizing: border-box;
      min-height: $control-height;
      display: inline-block;
    }

    td > input.crm-form-color {
      border-color: $crm-darker-grayblue;
      border-radius: $border-radius-base;
      min-width: 30px !important;
      width: 30px !important;
    }

    .crm-form-date-wrapper {
      display: inline-block;
      margin: $control-spacing / 2 0 $control-spacing / 2 0 !important;
      position: relative;

      & ~ .crm-form-date-wrapper {
        float: right;
      }

      .crm-form-date {
        border-radius: $border-radius-base 0 0 $border-radius-base;
        padding-right: 0;
      }
    }
  }

  .cke {
    border: solid 1px $gray-dark;
    border-radius: 0;
    box-shadow: none;
    margin-top: 7.5px;

    &,
    .cke_top,
    .cke_bottom {
      background: $gray-lighter;
      border-color: $crm-darker-grayblue;
    }

    .cke_toolgroup {
      background: none;
      border-radius: 0;
      border: 0;
      box-shadow: none;

      a {
        box-shadow: none;

        &:hover {
          background: lighten($gray-lighter, 10);
        }
      }
    }

    .cke_combo_text {
      @extend %open-sans-font-family;
      border-right: solid 1px $gray-dark;
      margin: 0;
      padding-right: 7px;
      //Match the dropdown size;
      width: 107px !important;
    }

    .cke_combo_button {
      border-radius: 0 !important;
      border: solid 1px $gray-dark !important;
      background: #ffffff !important;

      &,
      &:active {
        box-shadow: none !important;
      }
    }

    .cke_combo_on {
      box-shadow: none !important;
    }

    .cke_combo_open {
      padding: 0 10px;
      margin: 0 !important;
    }
  }

  &.select2-container-active.select2-drop-above .select2-choice {
    border-top: 0;
  }

  &.select2-drop,
  &.select2-drop.select2-drop-above {
    background: $crm-white !important;
    border-color: $brand-primary;
    border-radius: $border-radius-base $border-radius-base 0 0;
    box-shadow: none;
    margin-left: 0;
    margin-top: -4px;

    .select2-choice {
      border-radius: 0 0 $border-radius-base $border-radius-base;
    }

    .select2-input {
      border-color: $brand-primary !important;
      background: none !important;
      height: $control-height !important;
    }

    .select2-search::before {
      @include fa-icon(13px, '\f002');
      position: absolute;
      right: 15px;
      top: 10px;
    }

    .select2-results {
      margin: 4px 0 0 0;
      color: $gray-darker;

      li {
        padding: 5px;
        background: $crm-white;
      }

      .select2-result-label {
        padding: 5px 10px;
        color: $gray-dark;

        .crm-icon {
          text-indent: 0 !important;
          text-align: center;

          &:before {
            font-size: $font-size-base !important;
            position: relative;
            bottom: 2px;
          }

          &.Individual-icon {
            background: none;
            &:before {
              @include fa-icon($content: "\f007");
            }
          }

          &.Organization-icon {
            background: none;
            &:before {
              @include fa-icon($content: "\f0f7");
            }
          }

          &.Household-icon {
            background: none;
            &:before {
              @include fa-icon($content: "\f015");
            }
          }
        }
      }

      .select2-highlighted {
        background: $crm-background;
        color: $gray-dark;

        .crm-select2-row-description {
          p {
            color: $gray-dark;
          }
        }
      }

      .select2-no-results {
        padding: 4px;
        margin: 0;
        background: none;
      }

      select {
        height: 30px;
        background: $crm-white;
        border: 1px solid $crm-darker-grayblue;
      }
    }
  }

  &.select2-drop {
    border-radius: 0 0 $border-radius-base $border-radius-base;

    .select2-choice {
      border-radius: $border-radius-base $border-radius-base 0 0;
    }
  }


  .permission-delete-link {
    border: none !important;
    padding: 0 !important;

    &:hover,
    &:focus {
      background: none !important;
    }

    > .icon {
      margin-left: 0;
      background-image: none !important;
      text-indent: 0 !important;
      display: inline !important;

      &:hover,
      &:focus {
        background: none !important;
      }

      &:after {
        @include fa-icon(13px, '\f014');
        top: -3px;
        position: relative;
        font-weight: normal;
        color: $brand-danger !important;
      }
    }
  }

  .crm-option-edit-link.crm-hover-button {
    border: none !important;

    &:hover,
    &:focus {
      background-color: transparent !important;
    }

    > .crm-i {
      color: $brand-primary !important;
    }
  }

  .crm-marker {
    color: $brand-danger;
  }

  .help {
    padding: 15px 20px;
  }

  @mixin plain-old-text() {
    background: none;
    color: $gray-darker;
  }

  label.crm-error {

    @include plain-old-text();

    span {

      @include plain-old-text();
    }
  }

  label span.crm-error-label {

    @include plain-old-text();
  }

  #crm-main-content-wrapper input.crm-error,
  #crm-main-content-wrapper input.error {
    border-color: $brand-danger;
  }

  span.crm-error:not(.crm-error-label) {
    color: $crm-white;
    background-color: $brand-danger;
  }
}

.crm-form-text:focus + .addon.fa-calendar {
  border-color: $input-border-focus;
}

.addon.fa-calendar {
  background: $gray-lighter;
  border: 1px solid $crm-darker-grayblue;
  border-radius: 0 $border-radius-base $border-radius-base 0;
  color: $gray-darker;
  cursor: pointer;
  padding: 8px 10px 7px;
  vertical-align: bottom;
  margin-left: -2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

input.dateplugin,
input.crm-form-date {
  background: #ffffff;
  height: 26px;
  border: 1px solid $gray-dark;
  vertical-align: bottom;
}
.CRM_Admin_Form_Options .form-layout-compressed {

  td.label {
    padding-left: 0;
  }

  input[type=checkbox]:not(.old-radiocheckbox-style) {
    position: relative;

    &::before {
      content: '';
      cursor: pointer;
      display: inline-block;
      width: 16px;
      min-width: 16px;
      height: 16px;
      border-radius: 2px;
      background-color: #ffffff;
      box-shadow: $crm-checkbox-shadow;
      border: solid 1px $crm-darker-grayblue;
    }

    &:checked::after {
      @include fa-icon($font-size: 15px, $content: $fa-var-success, $color: $gray-darker);
      cursor: pointer;
      display: inline-block;
      position: absolute;
      left: 2px;
      top: 7px;
      margin-top: -6px;
    }
  }
}
