/* stylelint-disable selector-max-id, max-nesting-depth, selector-no-qualifying-type, selector-max-compound-selectors */

#civicrm-menu.sm {
  background: $crm-white;
  font-family: $font-family-base;

  li {
    line-height: 1.3;
    
    a {
      color: $gray-darker;
    } 
  }

  #crm-qsearch-input {
    border-radius: $border-radius-base;
    font-family: $font-family-base;
  }

  .crm-i {
    margin-right: 6px;
  }

  .crm-logo-sm {
    margin: 0;
  }

  .crm-quickSearchField {
    > label {
      font-weight: 500;
    }
  }

  @media (max-width: $screen-sm-min) {
    li {
      a {
        &:focus,
        &:hover,
        &.highlighted {
          background: $gray-light;
        }
      }
    }

    ul {
      background: darken($gray-light, 5%);

      ul {
        background: darken($gray-light, 15%);
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    li {
      a {
        padding-left: 15px;
        padding-right: 15px;

        &:focus,
        &:hover,
        &.highlighted {
          background: $gray-lighter;
        }
      }

      li {
        a {
          padding: 8px 36px 8px 15px;
        }
      }

      ul {
        padding: 10px 0 16px;
      }

      .sub-arrow::before {
        margin-right: 0;
        position: absolute;
        right: 15px;
      }
    }

    ul {
      box-shadow: $box-shadow;
    }
  }
}

#root-menu-div {
  + .crm-quickSearch-results {
    border: 0;
    box-shadow: $box-shadow;
    font-family: $font-family-base;

    .ui-state-active {
      background: $gray-lighter;
      border: 0;
      margin: 0;
    }
  }  
}
