@import 'SCSSROOT/org.civicrm.bootstrapcivicrm/base/scss/vendor/bootstrap/modals';
@import '../bootstrap/overrides/style/modals';

.crm-container.ui-dialog {
  border-radius: 0;
  background: $gray-lighter;
  max-height: 90%;
  overflow-y: auto;

  .help {
    border-radius: 2px;
  }

  table {
    @extend %crm-table;

    td {
      color: $crm-copy;
      font-weight: 400;

      &:first-child {
        font-weight: 600 !important;
        color: $gray-darker;
      }
    }
  }

  .ui-dialog-titlebar {
    @extend .modal-header, %open-sans-font-family;
    padding: 20px;
    background: none !important;
    border: none !important;
    border-bottom: 1px solid $crm-background !important;
    color: $gray-darker !important;

    .ui-dialog-title {
      @extend .modal-title, %open-sans-font-family;
      font-size: 18px;
      background: none;
      padding-left: 20px;
      font-weight: 600;
    }

    > .ui-button {
      &[type="button"] {
        right: 20px !important;
      }

      &.crm-dialog-titlebar-resize {
        right: 45px !important;
      }

      &.crm-dialog-titlebar-print {
        right: 70px !important;
      }

      .ui-icon[class*=" fa-"] {
        margin-left: -8px !important;
      }
    }

    .ui-button-text {
      display: none;
    }
  }

  .ui-dialog-content {
    @extend .modal-body, %open-sans-font-family;
    padding: 20px;
    margin-top: 0;
    height: auto !important;
    background: $gray-lighter;

    a.button:not(.hr-job-info-close) {
      @extend .btn-primary;
    }

    h3 {
      display: none;
    }
  }

  .ui-dialog-buttonpane {
    @extend .modal-footer, %open-sans-font-family;
    background: #ffffff;
    border-top: 0;
  }
}
