/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id, scss/at-extend-no-missing-placeholder */

@import 'base/scss/vendor/bootstrap/modals';
@import 'bootstrap/overrides/style/modals';

.crm-container.ui-dialog {
  @include ui-dialog;
}

#popupContainer {
  background-color: $crm-white !important;

  #selectedRecords-_wrapper {
    box-shadow: none;

    td {
      text-align: left;
    }
  }
}

.ui-dialog-content {
  .messages.no-popup {
    margin-bottom: $crm-standard-gap;
  }

  table {
    // @NOTE This selector is used for nested accordions
    &.form-layout,
    &.form-layout-compressed {
      > tbody > tr > td[colspan='2'] {
        padding: 0;
      }
    }

    &.no-border {
      margin: 0;
      width: 100%;
    }

    &.crm-info-panel {
      background: transparent;
      border: 0;
      box-shadow: none !important;
      font-family: $font-family-base;

      th,
      td {
        background-color: transparent !important;
        border-bottom: 1px solid $crm-background !important;
        color: $gray-darker !important;
        padding-right: $crm-standard-gap;
      }

      tr:last-of-type td {
        border: 0 !important;
      }
    }
  }

  thead.sticky {
    border-bottom: 1px solid $crm-background !important;
  }

  td.label {
    padding-left: $crm-standard-gap;
  }

  .crm-accordion-header,
  .crm-info-panel,
  .dataTables_wrapper {
    margin: 0 -#{$crm-standard-gap};
  }

  .crm-accordion-wrapper {
    margin: 0 !important;
  }

  .form-item,
  .crm-accordion-wrapper {
    padding: 0;
  }

  .crm-info-panel {
    width: calc(100% + #{$crm-standard-gap * 2});
  }

  .crm-form-block {
    margin-bottom: 0;
  }

  .crm-accordion-header:not(.crm-master-accordion-header)+.crm-accordion-body {
    box-shadow: none;
    padding: 20px 0 !important;

    td.label {
      padding-left: $crm-standard-gap;
    }

    .form-layout-compressed {
      margin-top: $crm-standard-gap;
    }
  }

  .dataTables_length {
    padding: $crm-standard-gap;
  }

  .crm-accordion-body {
    .dataTables_wrapper:first-child {
      .dataTables_length {
        padding-top: 0;
      }
    }
  }

  .dataTables_wrapper {
    box-shadow: none;
  }
}
