@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/modals';
@import '../bootstrap/overrides/style/modals';

.crm-container.ui-dialog {
  background: $gray-lighter;
  box-shadow: none;
  max-height: 90%;
  padding: 0;

  .help {
    border-radius: $border-radius-base;
  }

  table {
    @extend %crm-table;

    td {
      background: $crm-white;
      color: $crm-copy;
      font-weight: $badge-font-weight;
    }

    td:first-child {
      background: $crm-white;
      color: $gray-darker;
      font-weight: $crm-font-weight-h3 !important;

      label {
        color: $gray-darker;
        font-weight: $crm-font-weight-h3 !important;
      }
    }
  }

  .ui-dialog-titlebar {
    @extend .modal-header, %open-sans-font-family;
    border: none !important;
    border-bottom: 1px solid $crm-dark-grayblue !important;
    box-shadow: $crm-contribute-form-shadow;
    color: $gray-darker !important;
    padding: 15px 20px;
    position: relative;
    z-index: 99999;

    .ui-dialog-title {
      @extend .modal-title, %open-sans-font-family;
      background: none;
      font-size: $font-size-h2;
      font-weight: $crm-font-weight-h2;
      padding-left: 0;
    }

    > .ui-button {
      &[type="button"] {
        right: 20px !important;
      }

      &.crm-dialog-titlebar-resize {
        right: 45px !important;
      }

      &.crm-dialog-titlebar-print {
        right: 70px !important;
      }

      .ui-icon[class*=" fa-"] {
        margin-left: -8px !important;
      }
    }

    .ui-button-text {
      display: none;
    }
  }

  .ui-dialog-content {
    @extend .modal-body, %open-sans-font-family;
    @include calc(max-height, '100vh - 280px',!important);
    background: $crm-white;
    height: auto !important;
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    position: static;
    z-index: 1;


    a.button:not(.hr-job-info-close) {
      @extend .btn-primary;
    }

    h3 {
      display: none;
    }

    .crm-block {
      box-shadow: none;
      padding: 0 0 20px;
    }

    .crm-submit-buttons {
      display: none;
    }

    table {
      tr,
      td,
      th {
        border-bottom: 0;
      }
    }

    .crm-accordion-wrapper {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .ui-dialog-buttonpane {
    @extend .modal-footer, %open-sans-font-family;
    background: $gray-lighter;
    border-top: 1px solid $crm-dark-grayblue !important;
    box-shadow: $crm-contribute-form-shadow;
    display: block;
    margin-top: 0;
    position: relative;
    z-index: 99999;

    .ui-dialog-buttonset {
      margin: 0;
      width: 100%;

      button {
        background: $brand-primary;
        float: right;
        margin-left: 10px;
        margin-right: 0;

        &[data-identifier*="cancel"] {
          float: left;
          margin-left: 0 !important;
        }

        &:hover {
          color: $crm-white;
          opacity: .8;
        }

        &,
        .ui-button-text {
          font-size: $font-size-base;
        }
      }
    }
  }
}
