#crm-notification-container div {
  &.ui-notify-message {
    border-radius: $border-radius-base;

    div.icon {
      display: none;
    }

    &.error {
      h1::before {
        @include fa-icon($font-size-base, $fa-var-alert, $brand-danger);
      }

      // This removes an extra icon on the body of error notifications:
      .notify-content .crm-i.fa-exclamation-triangle {
        display: none;
      }
    }

    &.alert {
      h1::before {
        @include fa-icon($font-size-base, $fa-var-alert, $brand-warning);
      }
    }

    &.success {
      h1::before {
        @include fa-icon($font-size-base, $fa-var-success, $brand-success);
      }
    }

    &.info {
      h1::before {
        @include fa-icon($font-size-base, $fa-var-info-msg, $brand-info);
      }
    }

    h1 {
      font-size: $font-size-base;
      font-weight: $crm-font-weight-h1;
      padding-left: 0;

      &::before {
        margin-right: 5px;
      }
    }

    &,
    a.ui-notify-cross,
    h1,
    td {
      color: $gray-darker;
    }

    table {
      table-layout: fixed;
    }

    td {
      font-size: $font-size-base;
      word-wrap: break-word;
    }

    a {
      color: $brand-primary;

      &,
      &:link {
        text-decoration: none;
      }

      &.ui-button {
        background: $brand-primary;
        border-color: $brand-primary;
        color: $crm-white;
        text-decoration: none;

        .ui-icon {
          margin-top: 0;
        }

        &:hover {
          background: darken($brand-primary, $crm-darken-percentage);
          border-color: darken($brand-primary, $crm-darken-percentage);
          color: $crm-white;
        }
      }

      &:hover {
        color: darken($brand-primary, $crm-darken-percentage);
      }
    }

    .notify-content {
      ul {
        margin: 0 15px;
      }

      .ui-state-default {
        background: $brand-primary;
        border-color: $brand-primary;
        color: $crm-white;
        text-decoration: none;

        .ui-button-text {
          color: $crm-white;
        }

        .ui-icon {
          margin-top: -6px;
        }

        &:hover {
          background: $crm-blue-light;
        }
      }
    }
  }

  &.ui-notify-message-style {
    background: $crm-white;
    box-shadow: $box-shadow;
    color: $crm-copy;

    p {
      font-size: $font-size-base;
      line-height: 20px;
      margin-bottom: 10px;
    }

    table {
      td,
      th {
        background: $crm-white;
        border-color: $gray-light;
        color: $gray-dark;
      }
    }
  }

  td {
    border-color: $crm-grayblue-dark;
  }
}

.crm-container {
  > .status,
  :not(.crm-footer) .status {
    background-color: $alert-warning-bg;
    border-color: $brand-warning;
    border-radius: $border-radius-base;
    color: $gray-darker;
    padding: 16px 20px;

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:not(.crm-public) {
    #crm-main-content-wrapper {
      form {
        .messages.crm-error {
          position: absolute;
          visibility: hidden;
        }
      }
    }
  }
}

div.error,
.error {
  color: $brand-danger;
}
