.crm-container {
  input[type=checkbox],
  input[type=radio] {
    display: none;

    + label[for] {
      margin-right: 10px;
    }
  }
  input[type=checkbox] + label[for],
  input[type=radio] + label[for] {
    cursor: pointer;
  }
  input[type=radio] {
    + label[for] {
      position: relative;
    }

    &:checked + label[for]::before,
    + label[for]::before {
      margin-right: 5px;
      vertical-align: middle;
    }
    + label[for]::before {
      content: '';
      display: inline-block;
      width: 14px;
      min-width: 14px;
      height: 14px;
      background-color: #ffffff;
      box-shadow: $crm-checkbox-shadow;
      border: solid 1px $crm-darker-grayblue;
      border-radius: 50%;
    }
    &:checked + label[for]::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 6px;
      left: 4px;
      width: 8px;
      min-width: 8px;
      height: 8px;
      background-color: $crm-copy;
      border-radius: 50%;
    }
  }
  input[type=checkbox] {
    &:checked + label[for]::before,
    + label[for]::before {
      margin-right: 5px;
      vertical-align: middle;
    }
    + label[for]::before {
      content: '';
      display: inline-block;
      width: 16px;
      min-width: 16px;
      height: 16px;
      border-radius: 2px;
      background-color: #ffffff;
      box-shadow: $crm-checkbox-shadow;
      border: solid 1px $crm-darker-grayblue;
    }
    &:checked + label[for] {
      position: relative;
    }
    &:checked + label[for]::after {
      @include fa-icon($font-size: 15px, $content: '\f00c', $color: $gray-darker);
      display: inline-block;
      position: absolute;
      left: 2px;
      top: 6px;
      margin-top: -6px;
    }
  }
}
