.ui-tabs {
  background: $crm-white;
  border-radius: 0;
  border: 0;
  font-family: $font-family-base;
  padding: 0;

  .ui-tabs-nav {
    background: $gray-lighter;
    border-bottom: 1px solid $crm-dark-grayblue;
    border-radius: 0;
    padding: 10px 10px 0 10px;

    *:focus {
      outline: none;
    }

    .ui-corner-all,
    .ui-corner-top {
      background: $gray-lighter;
      border:  1px solid transparent;
      border-bottom: 1px solid $crm-dark-grayblue;
      border-radius: $border-radius-base $border-radius-base 0 0;
      font-size: $font-size-base;
      font-family: $font-family-base;
      padding: 7px 15px;
      margin-bottom: -1px;

      &.crm-tab-button {
        top: 0;
      }

      span.crm-i {
        color: $crm-h3-color;
        font-family: $font-family-base;
        font-size: $font-size-base;
        font-weight: $crm-font-weight-h3;
        padding-left: 5px;
        margin: 4px 0px;

        &:before {
          font-family: $font-family-fontawesome;
          font-weight: normal;
          padding-right: 5px;
        }
      }

      a {
        color: $crm-h3-color;
        display: block;
        font-family: $font-family-base;
        font-size: $font-size-base;
        font-weight: $crm-font-weight-h3;
        outline: none;

        .crm-i {
          line-height: normal;
        }
      }

      &.ui-tabs-active {
        background: $crm-white;
        border: 1px solid $crm-dark-grayblue;
        border-bottom: 1px solid transparent;

        a {
          color: $brand-primary;
        }
      }
    }
  }

  .ui-tabs-panel {
    border-bottom: 1px solid $crm-dark-grayblue;
    border-radius: 0;

    table th {
      background-color: $crm-white;
      border-bottom: 2px solid $crm-dark-grayblue;
    }
  }
}
