table {
  .crm-icon {
    @include contact-type-icons();
  }
}

%crm-table {
  @include open-sans-font-family();
  $border-color: $table-border-color;
  border: 0;
  border-radius: $border-radius-base;

  tr {
    background: #ffffff !important;
  }

  &.row-highlight tr:hover {
    background: $gray-lighter !important;
  }

  th,
  .columnheader td {
    border-bottom: 0;
    color: $gray-darker !important;
    font-weight: bold !important;
  }

  .columnheader th {
    background: $gray-lighter !important;
  }

  td {
    font-weight: $crm-font-weight-td !important;
  }

  th,
  tr,
  tr td {
    border: initial;
    border-bottom: solid 1px $table-border-color;
    line-height: 35px;
    padding-left: 15px;
  }

  tr:last-child {
    background: transparent !important;
    border-bottom: none;
    border-left: none;
    border-radius: 0 0 $border-radius-base $border-radius-base;
    border-right: none;
  }

  thead {
    background: $gray-lighter;

    th.ui-state-default {
      background-color: $gray-lighter;

      &.sorting_disabled {
        background: $gray-lighter;
      }
    }

    > tr:first-child > th {
      border-color: $crm-grayblue-dark;
    }
  }

  &:not(.table-bordered) > tbody > tr:first-child > td {
    border-color: $crm-background;
  }

  td .crm-hover-button {
    background: none !important;
    border: 0;

    &,
    * {
      color: $brand-primary !important;
      text-transform: capitalize !important;
    }
  }
}

%civihr-table {
  @extend %crm-table;

  &:not(.report-layout) {
    box-shadow: $box-shadow;
  }

  td {
    background: $crm-white !important;

    &.label {
      vertical-align: middle !important;
    }
  }

  &.form-layout {
    //For "New Activity" page
    tr[class^="crm-activity-form"] > td:not(.label):not(.view-value) {
      padding: 0;
    }

    > tbody > tr > td.label {
      line-height: 25px;
    }
  }

  tr {
    &:first-child th {
      &:first-child {
        border-top-left-radius: $border-radius-base;
      }

      &:last-child {
        border-top-right-radius: $border-radius-base;
      }
    }

    &:last-child td {
      .crm-hover-button:hover {
        color: $brand-primary !important;
      }

      &:first-child {
        border-bottom-left-radius: $border-radius-base;
      }

      &:last-child {
        border-bottom-right-radius: $border-radius-base;
      }
    }

    td {
      color: $crm-copy;
    }
  }
}

@mixin mx-expandable-table {
  @extend %civihr-table;
  background: transparent;
  border: none;
  border-radius: $panel-border-radius;
  font-family: $font-family-base;
  width: 100% !important;

  thead,
  .columnheader {
    th,
    td {
      background-color: $gray-lighter !important;
      border: none !important;
      color: $gray-darker !important;
      line-height: 1.5em;
      padding: 15px 20px !important;
      text-transform: capitalize;
      vertical-align: middle !important;

      div {
        padding: 0;
      }
    }

    tr {
      border-top-left-radius: $border-radius-small;
      border-top-right-radius: $border-radius-small;
      background: transparent !important;
    }
  }

  .columnheader-dark {
    border: none;
    border-bottom: 1px solid $crm-grayblue-dark;

    th {
      border: none !important;
      background-color: $gray-lighter !important;
    }
  }

  tbody {
    tr {
      background: $crm-white;

      td {
        background: $crm-white !important;
        border: none !important;
        color: $gray-dark;
        padding: 15px 20px;
        line-height: 1.5em;
        vertical-align: middle;
      }

      th {
        background: $crm-background !important;
        border: none;
        color: $gray-darker !important;
        padding: 15px 10px;
        line-height: 1.5em;
        vertical-align: middle;

        div {
          padding: 0;
        }
      }
    }
  }

  &.selector {
    &.row-highlight {
      tbody {
        > tr {
          &:hover {
            background: $crm-white !important;
          }
        }
      }
    }

    tr {
      &:not(.crm-child-row) > td {
        min-width: 10px;
        padding: 15px 20px;
        word-break: break-word;

        &:first-child {
          align-items: center;
        }
      }
    }

    .crm-expand-row {
      position: relative;
      background: none;

      &:after {
        @include fa-icon(13px, '\f054');
        position: absolute;
        left: 0;
      }

      &.expanded {
        &:after {
          @include fa-icon(13px, '\f078');
        }
      }
    }

    th {
      background-color: $gray-lighter !important;
    }

    .crm-child-row {
      border-bottom: none;

      &,
      > td {
        padding: 0;
      }

      > td {
        position: relative;

        .crm-ajax-container {
          border: 2px solid $crm-background;
          margin-top: -1px;

          table {
            border: none;
          }
        }
      }

      #info {
        tr {
          border: 0 !important;
        }

        th {
          text-transform: capitalize;
        }

        td,
        th {
          padding-left: 20px;
        }

        td {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }

    .sticky {
      tr:first-child {
        border-bottom: 1px solid $crm-grayblue-dark;
      }

      th:first-child {
        text-align: center;
      }
    }
  }
}

.dataTables_wrapper {
  .dataTables_paginate {
    .paginate_button {
      color: $gray-darker !important;

      &:hover:not(.disabled),
      &.current {
        background: none;
        border: none;
        font-weight: $crm-font-weight-h3;
      }

      &.disabled {
        color: $crm-placeholder !important;
      }
    }
  }
}

.crm-container {
  > table,
  table.report-layout,
  table.selector,
  table.row-highlight,
  table.dataTable,
  table.crm-multifield-selector,
  .ui-dialog table,
  .CRM_HRRecruitment_Form_Search > table,
  .CRM_Case_Form_Search .caseSelector,
  .CRM_Activity_Form_Activity > .crm-activity-view-block > .crm-info-panel,
  #preview-counts,
  #summary-counts,
  #DataTables_Table_0,
  #DataTables_Table_1 {
    @extend %civihr-table;
  }
}
