%crm-table {
  @extend .table-bordered, %open-sans-font-family;
  $border-color: $table-border-color;

  tr, th {
    background: #ffffff !important;
  }

  &.row-highlight tr:hover {
    background: $gray-lighter !important;
  }

  th {
    color: $gray-darker;
    border-bottom: 0;
    font-weight: bold !important;
  }

  td {
    font-weight: 100 !important;
  }

  th,
  tr,
  tr td {
    border: initial !important;
    line-height: 35px;
    padding-left: 15px;
    border-bottom: solid 1px $table-border-color !important;
  }

  td .crm-hover-button {
    &:not(:only-of-type) {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;

      &:first-of-type {
        border-top-left-radius: $button-border-radius !important;
        border-bottom-left-radius: $button-border-radius !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      &:last-of-type {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: $button-border-radius !important;
        border-bottom-right-radius: $button-border-radius !important;
      }
    }

    + .crm-hover-button {
      border-left: 0;
    }
  }
}

.crm-container {
  > table,
  table.report-layout,
  table.selector,
  .ui-dialog table,
  .CRM_HRRecruitment_Form_Search > table,
  .CRM_Case_Form_Search .caseSelector,
  .CRM_Activity_Form_Activity > .crm-activity-view-block > .crm-info-panel,
  #preview-counts,
  #summary-counts,
  #DataTables_Table_0 {
    @extend %crm-table;

    &:not(.report-layout) {
      box-shadow: $box-shadow;
    }

    td {
      background: #fff !important;

      &.label {
        vertical-align: middle !important;
      }
    }

    &.form-layout {
      //For "New Activity" page
      tr[class^="crm-activity-form"] > td:not(.label):not(.view-value) {
        padding: 0;
      }

      > tbody > tr > td.label {
        line-height: 25px;
      }
    }

    tr {
      &:first-child {
        th {
          &:first-child {
            border-top-left-radius: 2px;
          }

          &:last-child {
            border-top-right-radius: 2px;
          }
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 2px;
          }

          &:last-child {
            border-bottom-right-radius: 2px;
          }
        }
      }

      td {
        color: $crm-copy;
      }
    }
  }
}
