.collapsible-title {
  width: 100%;
  border-bottom: 1px solid $crm-background;
  font-family: 'Open Sans';
  font-size: 16px;
  padding-bottom: 15px;
  box-sizing: border-box;
  background: transparent;
}
