.crm-tooltip-wrapper {
  background-image: none !important;

  .crm-tooltip {
    @extend %block-with-shadow;
    background: $crm-dark-blue !important;
    border-radius: $border-radius-base;

    .content,
    .crm-table-group-summary tr td,
    .label {
      color: $crm-white !important;
      font-weight: 600;
    }

    td {
      display: table-cell !important;
      max-width: none !important;
    }

    .crm-table-group-summary {
      &,
      tbody > tr,
      tr > td {
        background: $crm-dark-blue !important;
      }

      tbody > tr:first-child td {
        text-align: left;
        width: 100%;
      }

      > div {
        line-height: 30px;
      }

      .label,
      .content {
        font-weight: normal;
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 10px;
      }
    }

    .crm-section {
      clear: both;
      margin-bottom: 0;
      min-height: 30px !important;
    }

    .crm-table-group-summary > tbody > tr {
      &:nth-child(1) > td {
        font-size: 1.5em;
      }

      > td {
        vertical-align: top !important;
      }
    }

    td,
    tr {
      border: 0 !important;
      border-bottom: 0 !important;
    }
  }
}

a {
  &.crm-tooltip-down {
    .crm-tooltip-wrapper {
      &::before {
        content: '';
        position: relative;
        top: -9px;
        left: 30px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $crm-dark-blue !important;
      }
    }
  }

  &:not(.crm-tooltip-down) {
    .crm-tooltip-wrapper {
      &::after {
        content: '';
        position: relative;
        top: 9px;
        left: 30px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $crm-dark-blue !important;
      }
    }
  }
}
