/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

%title {
  @include open-sans-font-family();
  font-weight: 600 !important;
}

.page-civicrm {
  @include open-sans-font-family();

  #toolbar {
    box-shadow: none !important;
  }

  #branding {
    background: $crm-page-topbar-bg !important;
    color: $crm-white !important;
    line-height: 20px;
    overflow: visible !important;
    padding: 20px 40px 0 !important;

    .breadcrumb {
      color: transparent;
      float: left;
      left: 10px;
      position: relative;
      top: -5px;

      > a {
        color: $crm-white;
        font-size: 0.8rem;
        left: -10px;
        padding: 0 5px;
        position: relative;

        &:not(:last-of-type)::after {
          content: '>';
          display: inline-block;
          font-size: 0.6em;
          position: absolute;
          right: -10px;
        }
      }
    }

    h1 {
      @extend %title;
      box-sizing: border-box;
      display: block;
      float: none;
      line-height: 50px !important;
      margin: 0 0 45px !important;
      padding: 0 15px !important;
      position: relative;
      top: 25px;
      width: 100%;
      z-index: 1;
    }
  }

  h2 {
    @extend %title;
  }

  #console {
    margin-top: 0 !important;
  }
  // The "printer" icon button
  div#printer-friendly {
    position: absolute !important;
    right: 0 !important;
    top: -50px !important;
    z-index: 2;

    a {
      color: $crm-white;
    }
  }
}
