%title {
  @extend %open-sans-font-family;
  font-weight: 600 !important;
}

.page-civicrm {
  @extend %open-sans-font-family;

  #toolbar {
    box-shadow: none !important;
  }

  #branding {
    $font-size: .8rem;
    padding: 20px 40px 0 !important;
    overflow: visible !important;
    height: 30px;

    %breadcrumb-divider {
      font-size: .6em;
      content: '>';
      display: inline-block;
    }

    %breadcrumb {
      position: relative;
      top: -5px;
      float: left;
    }
    line-height: 20px;
    background: $crm-page-topbar-bg !important;
    color: #ffffff !important;

    .breadcrumb {
      @extend %breadcrumb;
      left: 10px;
      color: transparent;

      > a {
        color: #ffffff;
        font-size: $font-size;
        position: relative;
        left: -10px;
        padding: 0 5px;

        &:not(:last-of-type)::after {
          @extend %breadcrumb-divider;
          position: absolute;
          right: -10px;
        }
      }
    }

    h1 {
      @extend %title;
      float: none;
      width: 100%;
      display: block;
      position: relative;
      top: 25px;
      padding: 0 15px !important;
      line-height: 50px !important;
      box-sizing: border-box;
      margin: 0 0 45px !important;
      z-index: 1;
    }
  }

  h2 {
    @extend %title;
  }

  #console {
    margin-top: 0 !important;
  }
  // The "printer" icon button
  div#printer-friendly {
    position: absolute !important;
    right: 0 !important;
    top: -10px !important;
    z-index: 2;

    a {
      color: #ffffff;
    }
  }
}
