@include input-fields-container {
  input.ui-spinner-input {
    border: 0;
    box-shadow: none;
    height: auto;
    line-height: normal;
    margin: 0.2em 2em 0.2em 0.4em;
    padding: 0.222em 0;
    text-align: center;
    width: auto;
  }
}
