/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

.crm-container.ui-dialog {
  border: 0;
  border-radius: $border-radius-small;
  box-shadow: $box-shadow;
  color: $gray-darker;
  font-family: $font-family-base;
  padding: 0;

  .ui-dialog-header,
  .ui-dialog-titlebar {
    background: $gray-lighter;
    border: 0;
    color: $gray-darker;
    font-size: $font-size-h2;
    font-weight: $crm-font-weight-h2;
    padding: 14px 20px;

    .ui-dialog-title {
      background: 0;
      padding: 0;
    }

    .ui-button {
      background: none;
      line-height: 30px;
      outline: 0;
    }

    .ui-button .ui-icon {
      background: none;
      overflow: visible;
      text-indent: 0;
      top: 0;
    }

    .ui-button .ui-icon.ui-icon-closethick::after {
      @include fa-icon(13px, '\f00d');
    }

    .ui-button .ui-icon.ui-icon-newwin::after {
      @include fa-icon(13px, '\f2d0');
    }
  }

  .ui-dialog-content#bootstrap-theme,
  .ui-dialog-content[id*='crm-ajax-dialog'] {
    background: $crm-white;
    padding: 10px 20px;
  }
}
