{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "selector-class-pattern": null,
    "max-nesting-depth": 3,
    "no-extra-semicolons": true,
    "no-duplicate-selectors": true,
    "scss/dollar-variable-colon-space-after": "at-least-one-space"
  }
}
