/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

.CRM_Activity_Form_Search {
  #searchForm {
    margin: 0;
    padding: 0;

    .form-layout {
      td {
        border: 0;
      }

      tr:last-child {
        td {
          .crm-button {
            margin-top: 15px;
          }
        }
      }
    }

    .description {
      color: $crm-gray-matte;
      font-size: $font-size-base;
      margin: 0;
    }

    .crm-button {
      .crm-i {
        display: none;
      }
    }
  }

  .crm-contactDetails-accordion {
    margin: 0 -25px;
  }

  .crm-results-block {
    .crm-pager {
      .element-right {
        margin-top: 0;
      }
    }
  }
}
