.crm-contact-task-createsmartgroup-form-block {
  > .form-layout-compressed {
    margin-left: 20px;

    .crm-contact-task-createsmartgroup-form-block-group_type {
      td:last-child {
        padding-left: 20px;
      }
    }
  }
}