/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

#{civi-page('contribute')} {
  #branding h1.page-title {
    margin-bottom: 20px !important;
  }

  #crm-container #crm-main-content-wrapper .crm-accordion-header {
    font-weight: 600 !important;
  }

  .button {
    font-family: $font-family-base;
    text-transform: uppercase;
  }

  .CRM_Contribute_Form_Task_PDF {
    background: $crm-white;
    padding: 15px;

    .status {
      margin-left: -15px;
      margin-right: -15px;
      margin-top: -15px !important;
    }
  }

  .CRM_Contribute_Form_Task_Delete {
    background: $crm-white;
    border-radius: $border-radius-small;
    box-shadow: $crm-contribute-form-shadow;
    margin-top: 15px;

    + p {
      margin: 0;
    }

    .form-item {
      background: $crm-white;
      border-radius: 0;
      border-top: 1px solid $gray-lighter;
      margin: 20px 20px 0;
      min-height: 43px;
      padding: 20px 0 10px;
    }
  }

  .CRM_Contribute_Form_Task_Batch {
    fieldset {
      box-shadow: $box-shadow;
    }

    .help {
      background: $crm-white;
      border-radius: $border-radius-child $border-radius-child 0 0;
      margin: 0;
      padding: 15px 20px;
    }

    .crm-submit-buttons {
      background: $crm-white;
      border-radius: 0 0 $border-radius-child $border-radius-child;
      margin: 0;
      padding: 15px 10px 23px;
    }

    .columnheader {
      border-color: $crm-grayblue-dark !important;
      border-left: 0 !important;
      border-right: 0 !important;

      th,
      td {
        background: $gray-lighter;
        border: 0;
        color: $gray-darker;
        font: bold $font-size-base $font-family-base !important;
        padding: 10px 20px;
        vertical-align: middle;
      }

      .sticky-header {
        display: none !important;
      }
    }

    tbody {
      tr {
        background: $crm-white;
        border-bottom: 1px solid $crm-background;
        border-right: 0;
        line-height: 30px;
      }

      td {
        border: 0;
        color: $crm-copy;
        padding: 10px 20px;

        &:nth-child(6) {
          width: 200px;
        }
      }
    }

    .dateplugin {
      margin-bottom: 5px;
      max-width: 150px;
    }

    .six.crm-form-text {
      max-width: 83px;
    }

    .addon.fa-calendar {
      padding: 8px 10px 9px;
    }

    input[type='text'],
    .select2-choice {
      @include transition(border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s);
      background: $crm-white;
      border: 1px solid $crm-grayblue-darker;
      border-radius: $border-radius-small;
      box-shadow: $crm-input-shadow;
      color: $gray-darker;
      font-size: $font-size-base !important;
      font-weight: normal !important;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      vertical-align: middle;
      width: 100%;

      &:focus {
        border-color: $brand-primary;
      }
    }

    .select2-container {
      .select2-choice {
        width: 78%;
      }

      .select2-chosen {
        color: $gray-darker;
        font-size: $font-size-base;
        margin-right: 0;
      }

      abbr {
        background: none;
      }

      .select2-arrow {
        background: none;
        padding: 0 4px;

        &::before {
          color: $crm-copy;
          content: $fa-var-caret-down;
          display: block;
          font-family: $font-family-fontawesome;
          font-size: $font-size-base;
          font-style: normal;
          text-align: center;
          text-rendering: auto;
        }
      }

      &.select2-dropdown-open {
        .select2-choices {
          border-color: $brand-primary;
        }

        .select2-arrow {
          background: none;
          border-left: 0;
          filter: none;

          &::before {
            content: $fa-var-caret-up;
          }
        }
      }
    }
  }

  form[class*='CRM_Contribute_Form_'] {
    h3 {
      background: $gray-lighter;
      color: $gray-darker;
      font-family: $font-family-base;
      font-size: $font-size-h2;
      font-weight: $crm-font-weight-h3;
      margin: 0;
      padding: 17px 15px;
    }

    .status {
      margin-bottom: 0;
      margin-top: 0;

      p {
        margin-top: 0;
      }

      + .help {
        margin: 10px 0;
      }
    }

    .label-left {
      padding: 15px;
      width: 205px;
    }

    .crm-accordion-body {
      .crm-form-block {
        box-shadow: none;
        padding: 0;
      }

      .label-left {
        padding: 15px 0;
        width: 220px;
      }
    }

    .select2-container#s2id_format_id {
      margin-right: 0 !important;
    }

    .crm-html_email-accordion .helpIcon {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  .CRM_Contribute_Form_Task_Result {
    .crm-form-submit {
      margin: 20px;
    }

    p {
      margin: 0;
    }
  }

  #{civi-dialog()} {
    .crm-contribution-form-block {
      margin-bottom: -10px;
      padding-bottom: 0;
    }
  }
}

#{civi-page('contribute-campaign')},
#{civi-page('pcp-info')},
#{civi-page('contribute-transact')} {
  .crm-form-block {
    legend {
      @include panel-header;
      box-sizing: border-box;
      width: 100%;
    }

    .label {
      padding-left: 20px;
    }

    input[type='text'],
    input[type='password'],
    input[type='email'],
    select {
      font-size: $font-size-base !important;
    }

    .crm-contribution-form-block-title {
      padding-top: 14px;
    }
  }
}

#{civi-page('pcp-info')} {
  .CRM_PCP_Form_Campaign {
    .content {
      padding-bottom: 5px;
    }

    .crm-contribution-form-block-page_text,
    .crm-contribution-form-block-is_active {
      padding-bottom: 15px;
    }

    .crm-contribution-form-block-is_honor_roll {
      padding-top: 15px;
    }
  }

}

#{civi-page('contribute-transact')} {
  .crm-form-block {
    padding-top: 20px;

    legend {
      @include section-title;
    }

    fieldset {
      margin-bottom: 10px;
    }

    .crm-section:not(.intro_text-section) {
      margin-bottom: 10px !important;
    }

    .intro_text-section,
    .status.no-popup {
      margin: $crm-status-bar-no-top !important;
    }
  }

  #page {
    clear: both;
  }
}

#{civi-page('contribute-search')} {
  .CRM_Contribute_Form_Search {
    table.selector {
      @include expandable-table;
      margin-bottom: 20px;

      thead.sticky {
        background: transparent;
      }

      tbody {
        tr.crm-child-row {
          > td {
            padding: 0 !important;
          }
        }
      }
    }

    .crm-absolute-date-range > span,
    .crm-absolute-date-range > span > input {
      display: inline-block;
      margin-top: 5px;
      vertical-align: middle;
    }

    .description {
      padding: 10px 20px;
    }

    #contribution_recur {
      margin: 0 -24px 15px;
    }

    #search-status {
      .form-layout-compressed {
        tr {
          th {
            background: none;
            color: $gray-dark;
            font-weight: $crm-font-weight-h3;
            text-transform: capitalize;

            &.contriTotalLeft,
            &.contriTotalRight {
              border: 0;
            }
          }
        }
      }
    }
  }

  .crm-results-block-empty {
    box-shadow: none !important;
  }
}

#{civi-page('contribute-add')} {
  .CRM_Contribute_Form_Contribution {
    .crm-accordion-header:not(.crm-master-accordion-header) + .crm-accordion-body {
      padding: 20px !important;
    }

    .accordion + br {
      display: none;
    }

    .crm-link-credit-card-mode {
      margin-top: 21px !important;

      .action-item {
        padding: 8px 20px !important;
      }
    }

    legend {
      @include section-title;
      width: 100%;
    }

    .pay-later_info-section {
      .label {
        width: 150px;
      }

      .content {
        margin-left: 160px;
      }
    }

    .crm-contribution-form-block-fulfilled_date {
      .dateplugin {
        min-width: 199px !important;
      }
    }
  }
}

#{civi-page('contact-view-contribution')},
#{civi-page('contribute-add')} {
  .CRM_Contribute_Form_Contribution {
    > .form-layout-compressed {
      @include civicrm-panel;
      margin-bottom: 20px;
      width: 100%;

      tr {
        &:first-child {
          td {
            padding-top: 20px;
          }
        }

        &:last-child {
          td {
            padding-bottom: 20px;
          }
        }

        td:first-child {
          padding-left: 20px !important;
        }
      }

      #_qf_Contribution_reload {
        min-width: auto;
        width: auto;
      }
    }
  }
}

#{civi-page('contact-view-contribution')} {
  #branding {
    display: block;
  }

  #page {
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px 0 40px;
  }

  .crm-contribution-form-block {
    position: relative;
  }

  .description {
    font-family: $font-family-base;
  }

  #Contribution {
    > .crm-form-block > .form-layout-compressed td.label {
      padding: 10px 20px !important;
    }

    div.label {
      padding: 0 20px !important;
      width: 190px;
    }

    td {
      color: $crm-copy;

      &.label {
        width: 190px;
      }
    }

    .crm-accordion-body {
      padding: 15px 0 !important;

      tr td {
        color: $crm-copy;
        padding: 0;
      }

      tr td:first-child label {
        padding: 0 !important;
      }

      tr td:not(.label) {
        width: 100%;
      }

      tr td .label {
        padding: 10px 0 !important;
      }

      tr [id*='soft-credit-row'] td {
        &:first-child {
          padding-left: 0 !important;
          padding-right: 10px !important;
        }

        label {
          margin-right: 10px;
          min-width: 205px;
        }
      }

      table {
        &.crm-contribution-form-table-credit_to_pcp,
        &.crm-soft-credit-block {
          tr td {
            min-height: 40px;
            padding: 0 10px 10px 0 !important;
            vertical-align: middle !important;
          }

          .select2-container,
          input {
            margin: 0 !important;
          }
        }
      }

      .crm-contribution-form-block-pcp_details {
        left: -189px;
      }

      #id-premium td {
        display: table-cell;

        &:first-child {
          min-width: 190px;
          padding: 15px 20px 15px 0 !important;
          width: 190px;
        }
      }
    }

    legend {
      margin: 0;
      padding: 15px 20px !important;
    }

    .crm-submit-buttons {
      border-bottom: 0;
    }
  }
}

#{civi-page('contact-view')} {
  .CRM_Contribute_Form_Search {
    .description {
      padding: 10px 0 20px;
    }

    .selector {
      @include expandable-table;
    }
  }
}

.CRM_Contribute_Form_Contribution {
  .crm-accordion-header {
    font-family: $font-family-base;
    font-weight: $crm-font-weight-h1 !important;
  }

  &#Contribution .crm-accordion-body {
    padding: 15px 20px !important;
  }

  .crm-submit-buttons {
    .crm-button_qf_Contribution_upload {
      margin-left: 0 !important;
    }
  }

  .ui-accordion + br {
    display: none;
  }

  .required {
    &::after {
      display: none;
    }
  }

  .action-link .crm-hover-button {
    background-color: $crm-white !important;
    border: 1px solid $crm-copy !important;
    color: $crm-copy !important;
  }

  .crm-form-select {
    margin-right: 0 !important;

    + .helpicon {
      left: -3px;
      position: relative;
    }
  }

  td {
    border-bottom: 0 !important;

    label {
      font-family: $font-family-base;
    }
  }

  .crm-contribution-form-block-payment_instrument_id .helpicon {
    left: 0;
  }

  .crm-link-credit-card-mode {
    margin: 10px 20px 0 0;

    .action-item {
      border-color: $gray-darker !important;
      border-radius: $border-radius-base;
      padding: 6px 15px;
    }
  }

  #recurringPaymentBlock {
    strong {
      color: $gray-darker;
    }

    input,
    .select2-container {
      margin-bottom: 5px;
      margin-top: 0;
    }

    .description {
      display: block;
      font-family: $font-family-base;
      line-height: 1.5em;
      margin-top: 5px;
    }
  }

  textarea {
    padding: 0 5px;
    vertical-align: middle;
  }

  .select2-container {
    max-width: 230px;
  }

  #from_email_address {
    padding-right: 30px !important;
  }

  div.description {
    display: block;
    font-family: $font-family-base;
    line-height: 1.5em;
    padding-bottom: 10px;
  }

  .credit_card_info-section,
  .billing_name_address-section {
    .cvv2-section {
      input,
      .cvv2-icon {
        float: left;
      }
    }
  }

  input,
  select,
  textarea,
  .select2-container {
    &.crm-inline-error,
    &.crm-error,
    &.error {
      background: none !important;
      border: 1px solid $brand-danger;
      min-height: 30px;

      &.select2-container {
        padding: 0;
      }
    }
  }

  label {
    &.crm-inline-error,
    &.crm-error {
      background: $brand-danger !important;
      border-radius: 3px;
      color: $crm-white !important;
      padding: 5px;

      &.crm-inline-error {
        margin: 0 4px;
      }

      span {
        background: none;
        color: $crm-white;
      }
    }
  }

  span {
    &.crm-error {
      background: $brand-danger !important;
      border-radius: 3px;
      color: $crm-white !important;
      margin: 2px;
      padding: 5px;

      span {
        background: none;
        color: $crm-white;
      }
    }
  }

  .form-layout-compressed td.label {
    padding-left: 0 !important;
  }

  .crm-contribution-form-block-note {
    .label {
      display: table-cell;
      vertical-align: top;
    }

    .crm-form-textarea {
      min-height: 110px;
    }
  }
}

#{civi-page('contact-view')} .ui-dialog .CRM_Contribute_Form_Contribution {
  .crm-link-credit-card-mode {
    float: right;
    margin-bottom: -30px !important;
  }

  #recurringPaymentBlock {
    .crm-form-text,
    .select2-container {
      margin-top: 0;
      min-width: $crm-sm-input-width !important;
      width: 150px !important;
    }
  }

  .description {
    font-family: $font-family-base;
    margin-top: 10px;
  }

  #payment_information {
    .credit_card_info-group,
    .billing_name_address-group {
      margin: 0 -20px;

      legend {
        @include section-title;
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
}

.CRM_Contribute_Form_ContributionView {
  .action-link {
    display: none;
  }

  table {
    background: transparent;
    border: 0;
    box-shadow: none !important;
    font-family: $font-family-base;
    margin: 10px 0;

    &.crm-info-panel {
      margin-left: -20px;
      margin-right: -20px;
      margin-top: -20px;
      width: 105%;
    }

    thead tr {
      border: 1px solid $crm-background !important;

      th {
        background: $gray-lighter !important;
        border: 0;
        color: $gray-darker !important;
        height: 42px;
        line-height: 1.1em;
        vertical-align: middle;

        div {
          padding: 0;
        }
      }
    }

    tbody tr {
      background: $crm-white;
      border: 1px solid $crm-background;
      border-left: 0;
      border-right: 0;

      &.crm-child-row {
        > td {
          padding: 0;

          .crm-ajax-container table {
            margin: 0;

            tbody {
              border-top: 1px solid $crm-grayblue-dark !important;
            }
          }

          .crm-ajax-container table th {
            background: $gray-lighter !important;
            border: 0;
            color: $gray-darker;
            vertical-align: middle;
          }
        }
      }

      td {
        background: $crm-white !important;
        border: 0;
        line-height: 1.1em;
        padding: 20px;

        &.label {
          border-bottom: 0;
          color: $gray-darker !important;
          vertical-align: middle;

          div {
            padding: 0;
          }
        }

        &:not(.label) {
          color: $gray-dark;
        }
      }

      &:last-child {
        border-bottom: 0;
      }

      &:first-child {
        border-top: 0;
      }
    }
  }

  #paymentDetails_Information {
    .helpicon {
      left: 0;
    }

    td:not(.label) {
      padding: 0;
      width: 100%;
    }
  }

  #Donor_Information__ {
    padding: 0;

    .crm-accordion-body {
      padding: 20px 40px !important;
    }
  }

  .crm-accordion-header {
    font-family: $font-family-base;
    font-size: 13px !important;

    + .crm-accordion-body {
      padding: 20px !important;

      td.label {
        padding-left: 0 !important;
      }
    }
  }

  label[for='thankyou_date'] {
    top: 7px;
  }

  label[for='thankyou_date_time'] {
    top: 5px;
  }
}

#ContributionView {
  [id*='Donor_Information_'] {
    padding: 0;

    .crm-accordion-wrapper .crm-accordion-body {
      padding: 20px 43px !important;
    }

    td {
      box-sizing: border-box;
      display: table-cell;
      min-width: 170px;
      vertical-align: middle;
    }

    .html-adjust {
      width: 100%;
    }
  }
}

.CRM_Contribute_Form_Task_Email {
  .crm-contactEmail-form-block {
    .form-layout-compressed {
      background: $crm-white;
      width: 100%;

      .crm-contactEmail-form-block-recipient {
        td {
          &.label {
            color: $gray-darker;
            font-weight: 600;
          }

          &:first-child {
            &::after {
              color: $brand-danger;
              content: '*';
              font-weight: bold;
              margin: 0 5px;
              
            }
          }
        }

        .select2-container {
          width: 100% !important;
        }
      }

      td {
        &.label {
          padding-left: 30px !important;
        }
      }
    }

    .crm-submit-buttons + .status {
      margin: 15px 20px;
    }

    .crm-html_email-accordion {
      .helpIcon {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }

    #s2id_fromEmailAddress,
    #s2id_to {
      &::after {
        display: none;
      }
    }

    .crm-contactEmail-form-block-template {
      .crm-form-select {
        padding-right: 30px !important;
      }
    }
  }

  .crm-accordion-wrapper {
    .crm-accordion-body {
      td.label {
        padding-left: 15px !important;
      }
    }
  }
}

form.CRM_Contribute_Form_ContributionCharts {
  .ui-tabs-nav {
    background: $crm-white;
    border: 0;
    padding: 0 20px;
    position: relative;
  }

  .row-highlight.selector {
    border-top: 1px solid $crm-grayblue-dark;
  }

  .ui-tabs-nav .crm-tab-button {
    background: none;
    border: 0;
    border-radius: 0;
    height: 50px;
    line-height: 50px;

    &:hover {
      background-color: $gray-lighter;
    }

    a {
      color: $gray-darker;
    }

    &.ui-tabs-selected {
      border-bottom: 3px solid $gray-darker;

      a {
        background: none;
        color: $gray-darker;
      }
    }
  }

  .ui-tabs-nav .crm-tab-button + #chartData > #chartData {
    box-shadow: $box-shadow;
    padding: 20px;

    table {
      border: 0;
      border-top: 1px solid $gray-lighter;
      margin-top: 20px;
    }
  }

  #chartData {
    table {
      box-shadow: none;

      td {
        padding: 10px 20px;
      }
    }

    .chart {
      border: 0 !important;

      td {
        border: 0 !important;
      }
    }
  }

  .ui-tabs {
    border-radius: 0 0 $border-radius-base $border-radius-base;
  }

  #mainTabContainer {
    @include box-shadow($crm-form-layout-shadow-lower);
  }

  > h3 {
    @include panel-header;
    @include box-shadow($box-shadow);
    margin: 0;
  }

  .spacer + h3 {
    margin-top: 20px;

    + div {
      position: relative;
    }
  }

  .crm-pager {
    @include box-shadow($crm-form-layout-shadow-lower);
    background: $gray-lighter;
    line-height: 1.7em;
    margin: 0;
    padding: 7px 0;

    > .element-right {
      margin-top: 3px;
    }
  }

  p.description {
    @include box-shadow($crm-form-layout-shadow-lower);
    background: $crm-white;
    padding: 15px;
    position: relative;
  }

  table.selector {
    @include box-shadow($crm-form-layout-shadow-lower !important);
    border-radius: 0;

    > tbody > tr > td + .crm-pager {
      border-radius: 0 0 $panel-border-radius $panel-border-radius;
      border-top: 1px solid $crm-background;
      box-shadow: $crm-form-item-shadow;
      margin-top: 0;
    }

    + .crm-pager {
      margin-bottom: 10px;
    }
  }

  .selector,
  .report {
    @include expandable-table;
  }

  .report {
    border: solid 1px $crm-background;
    margin-top: 20px;
  }
}

.CRM_Contribute_Form_Task_Print {
  padding: 0 15px;

  .crm-form-block {
    background: transparent;
  }

  table {
    @extend %civihr-table;
    border: 0;
    border-radius: $panel-border-radius;
    margin: 30px 0 20px;

    tr.columnheader {
      border: 0 !important;
      border-bottom: 1px solid $crm-grayblue-dark !important;
    }

    tr.crm-contribution {
      border-left: 0;
      border-right: 0;
    }

    th,
    td {
      border: 0 !important;
      line-height: 1.5em !important;
      padding: 15px 20px !important;
    }

    td.crm-contribution-contribution_source {
      max-width: 300px;
    }
  }

  .element-right {
    margin-right: 0 !important;
  }
}

.CRM_Financial_Form_Search {
  .action-link {
    margin: 0 0 20px;
  }

  .form-layout-compressed {
    margin: 20px 0 0;

    input.crm-form-submit {
      margin-left: 5px;
      padding: 4px 10px;
      text-shadow: none;
      vertical-align: middle;
    }
  }
}
