.CRM_Contact_Form_Task_AlterPreferences {
  .crm-contact-task-addtodonot-form-block {
    h3 {
      padding-left: 23px;
      padding-top: 20px;
      font-family: $font-family-base;
      font-size: $font-size-h3;
      font-weight: 600;
      color: $gray-darker;
    }

    .crm-submit-buttons {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    table.form-layout-compressed {
      margin: 0 25px;

      label {
        padding: 15px 0;
        position: relative;

        &:after {
          top: 21px;
          left: 4px;
        }
      }

      .crm-contact-task-addtodonot-form-block-pref label {
        padding: 15px !important;
        position: relative;

        &:after {
          left: 17px;
        }
      }

      .listing-box {
        max-height: 216px;
        height: auto;
        border-color: $crm-background;

        > div {
          background-color: $crm-white;
        }
      }
    }
  }
}
