.CRM_Export_Form_Select {

  .help {
    margin-bottom: 20px;
  }

  .label {
    font-size: 13px;
  }

  .label,
  label,
  .content {
    color: $gray-darker;
  }

  label {
    font-weight: normal !important;
  }

  #postal_mailing_export_postal_mailing_export {
    margin-left: 0 !important;
  }

  .crm-section {
    background-color: $crm-white;
    box-shadow: $crm-panel-element-shadow;
    margin-bottom: 0;
    padding: 20px;

    &.crm-export-mapping-section {
      padding-bottom: 0;
    }

    h3 {
      padding-left: 0;
      color: $gray-darker;
      font-size: $font-size-h3;
    }
  }

  .crm-form-block {
    background-color: transparent;
    box-shadow: none;

    > .crm-submit-buttons {
      box-shadow: $crm-panel-element-shadow;
    }
  }

  #wizard-steps {
    .wizard-bar {
      @include box-shadow($box-shadow);
      border-radius: $border-radius-base;
    }
  }
}

.CRM_Export_Form_Map {
  .help {
    margin-bottom: 0;

    p {
      margin-bottom: 10px;
    }
  }

  .wizard-bar {
    margin-bottom: 0 !important;
  }

  #map-field {
    > table {
      width: 100% !important;

      .columnheader {
        border: none;

        th {
          font-size: $font-size-h2;
        }

        &-dark {
          th {
            font-size: $font-size-h3;
          }
        }

        &,
        &-dark {
          th {
            @include panel-header;
            text-transform: none;
            color: $gray-darker;
            font-weight: $crm-font-weight-h3;
            border: none;
            border-bottom: 1px solid $crm-grayblue-dark;
          }
        }
      }

      th,
      td {
        border-right: 0 !important;
      }

      td {
        padding-left: 20px !important;
      }

      + div {
        padding-left: 20px;

        td {
          padding-left: 0 !important;
        }
      }
    }
  }

  #saveDetails {
    .label {
      width: 80px;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .crm-form-text {
      margin-top: 0 !important;
    }
  }
}
