.page-civicrm-import-contact,
.page-civicrm-import-activity,
.page-civicrm-import-custom {
  @mixin table-header {
    font-weight: bold !important;
    color: $gray-darker;
  }

  &.page-civicrm-import-custom {
    #upload-file {
      > .crm-submit-buttons {
        @extend %submit-buttons-civi;
        min-height: 43px;
        margin: 20px 0 0 0 !important;

        &:first-child {
          display: none;
        }
      }
    }
  }

  #wizard-steps {
    display: none;
  }

  #dataSource {
    min-width: 250px;
  }

  .crm-form-block.crm-form-block {
    box-shadow: none;
    padding: 0 !important;

    td {
      color: $crm-copy;
    }

    > .crm-submit-buttons {
      margin: 20px 0 0 0 !important;
    }

    h2 {
      position: initial !important;
      margin: 0 0 20px 0;
    }

    h3 {
      @extend .collapsible-title;
      margin-top: 20px;
    }

    .help {
      + .crm-submit-buttons {
        display: none;
      }
    }

    .label {
      text-align: left !important;
      vertical-align: middle !important;
      width: 180px;
    }
  }

  form > .crm-form-block.crm-form-block {
    padding: 20px 20px 0 20px !important;
  }

  #map-field {
    > table {
      margin-bottom: 20px;
      @extend %civihr-table;
      width: 100% !important;
      box-shadow: none !important;
      border: 1px solid $crm-background;

      tr {
        th {
          border-right: 0 !important;
        }
      }
    }
  }

  @at-root {
    select.crm-form-select {
      @extend .select2-container;
    }
  }

  #Preview {
    > .crm-form-block.crm-form-block {
      padding: 20px 0 0 0 !important;
    }

    .help {
      margin: 20px;
    }

    h2 {
      margin: 0 20px !important;
    }

    #map-field,
    #preview-counts {
      margin: 0 20px;
    }

    #preview-counts {
      width: calc(100% - 40px) !important;
      margin-bottom: 20px;

      tr {
        td:first-child {
          @include table-header();
        }
      }
    }
  }

  #map-field,
  #preview-counts {
    .columnheader {
      td {
        @include table-header();
      }
    }
  }

  #summary-counts {
    width: 100% !important;

    tr {
      td:first-child {
        @include table-header();
      }
    }
  }

  #map-field > .selector,
  #preview-counts,
  #summary-counts {
    box-shadow: none !important;
    border: 1px solid $crm-background;
  }

  #saveDetails {
    tr {
      td {
        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  .help {
    padding: 0 0 10px 0;
  }

  .required {
    &:after {
      display: none;
    }
  }

  h3 {
    border-bottom: 0 !important;
  }

  h3,
  td.label {
    padding-left: 0;
  }

  input[type=checkbox]:checked+label[for]::after {
    left: 2px;
    top: 6px;
  }

  .CRM_Contact_Import_Form_DataSource {
    .form-layout {
      width: auto;

      td.label {
        display: table-cell;
      }
    }

    input[type=radio] + label[for] {
      margin-bottom: 5px;
    }

    #data-source-form-block {
      td.label {
        vertical-align: top !important;
        padding-top: 20px;
      }

      br {
        display: none;
      }

      .crm-import_sql-form-block-sqlQuery {
        td.label {
          display: table-cell;
          vertical-align: top !important;
          padding-top: 10px;
        }

        .crm-form-textarea {
          display: block;
          min-height: 100px;
        }
      }
    }
  }
}
