/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id, scss/at-extend-no-missing-placeholder, property-no-vendor-prefix */

#{civi-page('contact')} {
  #memberships,
  #inactive-memberships {
    margin-bottom: 20px;
  }

  #memberships {
    @include civicrm-table-with-header();

    table td {
      &:not(:last-child) {
        max-width: 85px;
        overflow: hidden;
        padding: 15px 10px 15px 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        max-width: 100px;
      }
    }
  }

  #inactive-memberships table td {
    &:not(:last-child) {
      max-width: 115px;
      overflow: hidden;
      padding: 15px 10px 15px 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:nth-child(2),
    &:nth-child(3) {
      max-width: 88px;
    }
  }
}

#{civi-page('contact-view')} {
  .help {
    margin-bottom: 20px;
  }

  .ui-widget-content {
    .crm-button i {
      top: 0.7em;
    }

    .crm-button-type-cancel {
      i {
        color: $gray-darker;
      }

      &:hover i {
        color: $crm-white;
      }
    }
  }

  .action-link {
    margin-bottom: 30px;

    br {
      display: none;
    }
  }
}

.CRM_Member_Form_MembershipRenewal {
  .crm-button {
    border: 0;
  }

  .crm-button .crm-i {
    @include transform(translate(0, -50%));
    left: 0.7em;
    top: 50%;
  }

  #help {
    margin-bottom: 15px;
    padding: 10px;
  }

  #recordContribution td,
  [class*=crm-membership-form-block-] td {
    padding-left: 5px !important;
  }
}

.CRM_Member_Form_Membership {
  select,
  #from_email_address {
    line-height: 1.5em;
    max-height: 33px;
    max-width: 230px;
    padding: 0 5px !important;
    padding-right: 30px !important;
  }

  #payment_information {
    .cvv2-section {
      input,
      .cvv2-icon {
        float: left;
      }
    }

    .crm-credit_card_type-icons {
      margin-left: 40px;
    }
  }

  #contributionTypeToggle {
    > td {
      padding-left: 20px;
    }
  }

  .crm-membership-form-block {
    .auto-renew-text {
      display: block;
      padding: $crm-status-bar-no-top;
    }

    .crm-link-credit-card-mode {
      margin: 20px 20px 0 0;

      .open-inline-noreturn {
        padding: 8px 12px;

        &:hover {
          color: $crm-white !important;
        }
      }
    }

    .crm-membership-form-block-membership_type_id {
      select {
        max-width: 230px;
        padding-right: 30px !important;
      }
    }

    .crm-membership-form-block-record_contribution {
      > td {
        padding: 0;

        legend {
          margin-bottom: 0;
          padding: 10px 20px;
        }

        .crm-membership-form-block-billing {
          #payment_information .check_number-section {
            .label {
              padding: 0 5px 0 15px;
              width: 175px;
            }

            .content {
              margin-left: 200px;
            }
          }
        }

        #recordContribution {
          margin-top: $crm-standard-gap;
        }
      }
    }

    .crm-membership-form-block-soft-credit-type .crm-option-edit-link {
      left: 0 !important;
    }

    #record-different-contact {
      .label {
        padding-left: 0;
      }
    }

    #recordContribution,
    #send-receipt {
      td {
        &.label {
          min-width: 175px;
        }
      }
    }

    .crm-accordion-wrapper {
      .crm-accordion-header {
        background: $crm-background !important;
      }

      .crm-accordion-body {
        padding: 0 !important;

        > p {
          &.description {
            padding: 0 20px 15px;
          }
        }
      }
    }
  }

  table {
    &.selector {
      box-shadow: none;

      thead {
        th {
          background: $crm-background !important;
          border: 0;
          border-bottom: 0;
          color: $gray-darker !important;
          line-height: 1.1em;
          padding: 10px;
          vertical-align: middle;

          div {
            padding: 0;
          }
        }
      }

      tbody {
        tr {
          background: $crm-white;
          border: 1px solid $crm-background !important;

          &.crm-child-row {
            > td {
              padding: 0;

              .crm-ajax-container {
                table {
                  margin: 0;

                  tbody {
                    border-top: 1px solid $crm-grayblue-dark !important;
                  }

                  th {
                    background: $gray-lighter !important;
                    border: 0;
                    border-bottom: 0;
                    color: $gray-darker;
                    vertical-align: middle;
                  }
                }
              }
            }
          }

          td {
            background: $crm-white;
            border: 0;
            color: $gray-dark;
            line-height: 1.1em;
            padding: 10px 30px;
          }
        }
      }
    }
  }
}

.CRM_Member_Form_MembershipView {
  .action-link {
    display: none;
  }

  .crm-contact-contribute-contributions > table.selector {
    margin-top: -#{$crm-standard-gap} !important;
  }
}

.CRM_Contribute_Form_AdditionalPayment {
  border: solid 1px $gray-lighter;
  border-radius: $border-radius-base;

  // Makes amount and currency appear on the same line
  tbody > tr > td:first-child {
    white-space: nowrap;
  }
}

.CRM_Member_Form_Search {
  .crm-button-type-refresh {
    .crm-i {
      line-height: 1.8em;
    }
  }

  .crm-accordion-wrapper {
    border-radius: $panel-border-radius !important;
  }

  .crm-accordion-header {
    border-radius: $panel-border-radius $panel-border-radius 0 0 !important;
  }

  .crm-accordion-body,
  .crm-search-tasks {
    border-radius: 0 0 $panel-border-radius $panel-border-radius !important;
  }

  .selector,
  .report {
    @include expandable-table;
    @include box-shadow($crm-form-layout-shadow-lower !important);

    tbody {
      tr:last-child {
        border-bottom: 1px solid $gray-light !important;

        td {
          text-align: left;
        }
      }
    }
  }

  .form-item {
    padding-top: 0;
  }

  .report {
    border-radius: $panel-border-radius;

    tr {
      &.columnheader-dark {
        background: transparent !important;
        border-radius: $panel-border-radius $panel-border-radius 0 0;

        th:first-child {
          border-top-left-radius: 0;
        }

        th:last-child {
          border-top-right-radius: 0;
        }
      }

      &.columnfooter {
        border-top: 1px solid $crm-grayblue-dark !important;
      }

      th,
      td {
        font-family: $font-family-base;
        font-size: $font-size-base !important;
      }

      th {
        padding: 15px 20px !important;
      }

      td {
        padding: 15px 20px !important;

        strong {
          color: $gray-darker;
        }
      }
    }
  }
}

#{civi-page('member-search')} {
  .selector {
    @include expandable-table;
  }

  .CRM_Member_Form_Search {
    .crm-accordion-body {
      padding: 20px !important;

      tr:first-child td {
        padding-top: 0;
      }

      tr:last-child td {
        padding-top: 15px;

        .crm-button-type-refresh .crm-i {
          padding: 3px 3px 3px 5px;
        }
      }

      td {
        padding-left: 0;
      }

      a.crm-clear-link {
        position: relative;
        top: -2px;
      }

      #_qf_Search_refresh {
        background: $brand-primary;
        border-color: $brand-primary;
        border-radius: $border-radius-base;
        color: $crm-white;
        font-family: $font-family-base;
        font-size: $font-size-base;
        padding: 8px 12px;
        text-shadow: none;
        text-transform: uppercase;
      }
    }

    #memberSearch .selector {
      border-radius: $border-radius-child;

      thead.sticky {
        background: transparent;
      }
    }
  }

  [class*=CRM_Member_Form_Task_] {
    .crm-form-block > .crm-submit-buttons > .crm-button:first-of-type {
      margin-left: 0;
    }

    .form-layout-compressed td {
      color: $crm-copy;
      padding: 10px 20px;
      vertical-align: top;

      &.label {
        color: $gray-darker;
        font-size: $font-size-base;
        font-weight: $crm-font-weight-h2;
      }

      label {
        line-height: 30px;
      }
    }

    tr.columnheader {
      border-left: 0 !important;
      border-right: 0 !important;

      th,
      td {
        background: $gray-lighter !important;
        border: 0;
        color: $gray-darker;
        padding: 10px 20px;
        vertical-align: middle;
      }
    }

    tbody tr {
      background: $crm-white;
      border-right: 0;

      td {
        border-right: 0;
        color: $crm-copy;
        line-height: 1.5em;
        padding: 15px 20px;
      }

      td .dateplugin {
        display: inline-block;
        font-weight: normal;
        max-width: $crm-table-label-column-width;
      }
    }
  }

  .CRM_Member_Form_Task_Email .crm-contactEmail-form-block {
    padding: 0 20px;

    .status {
      margin: 10px 0;
      padding: 10px 25px !important;
    }

    .crm-submit-buttons {
      margin: 0 !important;
    }

    .form-layout-compressed {
      width: 100%;

      tbody tr td {
        padding: 10px 10px 10px 0;
      }
    }

    .crm-accordion-wrapper {
      margin-left: -20px;
      margin-right: -20px;
    }

    .crm-html_email-accordion  .helpIcon {
      margin-bottom: 15px;
    }

    .crm-contactEmail-form-block > .section .section {
      padding: 0 !important;
    }

    .crm-accordion-body td {
      padding-left: 5px !important;
    }

    .spacer {
      height: 20px;
    }

    .section {
      padding: 15px 0 !important;
    }

    .crm-submit-buttons:last-child {
      margin: 20px -20px 0 !important;
      padding: 20px !important;
    }

    #saveDetails {
      .label {
        display: inline-block;
        margin-right: 20px;
      }

      .content {
        display: inline-block;
      }
    }
  }

  .CRM_Member_Form_Task_Batch {
    padding-top: 4em;

    .crm-member-task-batch-form-block {
      position: relative;

      .help {
        position: absolute;
        top: -75px;
      }

      table thead tr.columnheader {
        th,
        td {
          font: bold $font-size-base $font-family-base !important;
          padding: 15px 10px;

          &:first-child {
            padding-left: 20px;
          }

          &:last-child {
            padding-right: 20px;
          }
        }
      }

      table tbody tr {
        border-bottom: 1px solid $crm-background;
      }

      table tbody tr td {
        min-width: 85px;
        padding: 15px 10px;

        &:first-child {
          padding-left: 20px;
        }

        &:last-child {
          padding-right: 20px;
        }

        &:nth-child(1),
        &:nth-child(2) {
          max-width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 120px;
        }

        &:nth-child(3),
        &:nth-child(5) {
          min-width: 125px;
          width: 125px;

          .addon + .crm-clear-link {
            left: -5px;
            padding: 4px 0;
            position: relative;
          }
        }

        &:nth-child(4),
        &:nth-child(6) {
          max-width: 120px;
          width: 120px;
        }
      }

      table + .crm-submit-buttons {
        border-top: 0 !important;
        padding: 0 0 15px !important;
      }

      .crm-button:first-of-type {
        margin-right: 15px;
      }
    }
  }

  .CRM_Member_Form_Task_PDFLetter .crm-block {
    .no-popup {
      margin: 10px 20px;
    }

    .form-layout-compressed td {
      color: $crm-copy;
      padding: 10px 20px;

      label {
        line-height: 30px;
      }
    }

    .crm-accordion-body .crm-form-block {
      background: transparent;
      box-shadow: none;
      margin: 0 -16px;
      padding: 0;
    }

    .helpIcon {
      margin-bottom: 10px;
    }

    #saveDetails {
      padding: 15px 5px !important;
    }

    #saveDetails .label {
      float: left;
      min-width: 136px;
      padding-top: 5px;
    }
  }
}

.CRM_Member_Form_Task_Print {
  padding: 0 15px;

  table {
    @extend %civihr-table;
    border: 0;
    border-radius: $panel-border-radius;
    margin: 30px 0 20px;

    tr.columnheader {
      border: 0 !important;
      border-bottom: 1px solid $crm-grayblue-dark !important;
    }

    tr.crm-membership {
      border-left: 0;
      border-right: 0;
    }

    th,
    td {
      border: 0 !important;
      line-height: 1.5em !important;
      padding: 15px 20px !important;
    }
  }

  .element-right {
    margin-right: 0 !important;
  }

  .crm-button {
    border: 0;
    margin: 0 0 0 15px;

    i {
      left: 0.7em;
      line-height: 38px;
      top: 0;
    }

    .default {
      padding: 8px 12px 8px 25px !important;
    }

    &.crm-button_qf_Print_next i::before {
      @include fa-icon($font-size-base, $fa-var-print, $crm-white);
    }

    &.crm-button-type-back i {
      display: none;
    }
  }

  .crm-button .cancel {
    border: 1px solid $gray-darker;
    color: $gray-darker !important;
    padding: 7px 15px !important;

    &:hover {
      background: $gray-darker;
      color: $crm-white !important;
    }
  }
}

#{civi-page('member')} {
  .CRM_Member_Form_Search h3:first-of-type {
    margin-top: 0;
  }

  // Fixes the space between tables at /civicrm/member?reset=1
  table.report + .spacer {
    height: $crm-standard-gap;
  }
}

// Adhoc: fixes the <h3> margin
#related-contacts-memberships > h3 {
  box-shadow: none;
  margin: 0 -#{$crm-standard-gap};
}
