.page-civicrm-activity {
  .CRM_Activity_Form_Activity {
    .crm-activity-form-block {
      padding: 20px;
    }

    .crm-form-block > .crm-submit-buttons {
      border-top: none;
      margin: 0 0 20px !important;

      > .crm-button {
        margin-left: 0 !important;
        margin-right: 10px !important;
      }
    }

    .helpicon {
      left: 7px;
      position: relative;
      top: -3px;
    }

    table.form-layout tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      padding: 0 20px;

      &.crm-activity-form-block-attachment,
      &.crm-activity-form-block-recurring_activity,
      &.crm-activity-form-block-schedule_followup {
        margin-bottom: 0;

        > td {
          display: block;
        }
      }

      > td {
        padding: 0;

        &:not(.label) {
          color: $crm-copy;
        }

        .dateplugin {
          margin: 0 !important;
        }
      }

      > td > .select2-container,
      > td > .crm-form-text {
        margin-bottom: 0 !important;
        margin-top: 5px !important;

        &:after {
          display: none;
        }
      }

      .crm-accordion-body tr,
      .crm-accordion-body tr td.label {
        padding: 0;
      }
    }

    .label,
    label {
      color: $gray-darker;
      font-size: $font-family-base;
      margin-bottom: 0 !important;
    }

    #activity_date_time_time {
      margin-top: 0 !important;
    }

    #cke_details {
      width: 100%;
    }

    .addon.fa-calendar {
      background-color: $gray-lighter;
      border: 1px solid $crm-grayblue-darker;
      border-bottom-right-radius: $border-radius-base;
      border-top-right-radius: $border-radius-base;
      left: -2px;
      position: relative;
    }

    .crm-accordion-wrapper,
    .crm-accordion-header,
    .crm-accordion-body {
      margin-left: -20px;
      margin-right: -20px;
    }

    #s2id_activity_type_id,
    #s2id_source_contact_id,
    #s2id_target_contact_id,
    #s2id_assignee_contact_id,
    #s2id_status_id {
      min-width: 500px;
    }

    .crm-activity-form-block-subject,
    .crm-activity-form-block-location,
    .crm-activity-form-block-duration {
      input {
        min-width: 500px !important;
      }
    }

    .crm-activity-form-block-assignee_contact_id td:last-child {
      padding: 0 !important;
    }
  }

  #branding h1.page-title {
    margin-bottom: 27px !important;
  }
}

.ui-dialog-content .CRM_Activity_Form_Activity {
  .crm-core-form-recurringentity-block-ends,
  .crm-core-form-recurringentity-block-absolute_date {
    input[type="radio"]:checked + label[for]:after {
      top: 15px;
    }
  }

  .crm-activity-form-block-followup_activity_type_id {
    input.crm-form-text,
    .dateplugin {
      margin: 0 !important;
    }
  }
}

.CRM_Activity_Form_Activity {
  .crm-activity-form-block-status_id,
  .crm-activity-form-block-priority_id {
    .crm-hover-button .crm-i {
      margin-bottom: -15px;
    }
  }

  .crm-core-form-recurringentity-block-absolute_date td.label {
    visibility: hidden;
  }

  .crm-activity-form-block-assignee_contact_id .description {
    display: block;
    line-height: 1.5em;
    margin-top: 5px;
  }

  .crm-activity-form-block-duration .description {
    padding: 5px;
    position: relative;
    text-transform: capitalize;
    top: 5px;
  }

  .crm-activity-form-block-attachment td {
    &.label {
      padding-bottom: 5px !important;
    }

    .description {
      margin: 5px;
    }
  }

  .crm-activity-form-block-attachment,
  .crm-activity-form-block-recurring_activity,
  .crm-activity-form-block-schedule_followup {
    & > td {
      padding: 0;
    }
  }

  #recurring-entity-block,
  #follow-up {
    .crm-accordion-body {
      padding: 20px !important;
    }

    td {
      &.label {
        padding-bottom: 5px !important;
      }
    }
  }

  #recurring-entity-block {
    input[type=checkbox]:checked+label[for]::after {
      left: 2px;
      top: 7px;
    }
  }

  #s2id_exclude_date_list {
    .fa-calendar {
      display: none;
    }
  }

  .crm-activity-form-block-details {
    td {
      &.label {
        padding-bottom: 10px;
      }
    }
  }

  .crm-form-block {
    padding: 20px;
  }

  .crm-option-edit-link {
    position: relative;
    top: -8px;
    left: initial !important;
  }

  .crm-is-multi-activity-wrapper {
    label {
      padding: 15px 0;
      position: relative;

      &:after {
        left: 1px !important;
        top: 22px !important;
      }
    }
  }

  .required {
    &:after {
      display: none;
    }
  }


  .crm-form-block > .crm-submit-buttons {
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: auto !important;

    .crm-button_qf_Activity_upload {
      margin-left: 0;
    }
  }

  .form-layout {
    td {
      &.label {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        padding-left: 0 !important;
      }

      input.crm-form-text,
      .crm-form-select,
      .crm-form-textarea {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      .crm-form-textarea {
        min-height: 100px;
      }
    }

    .crm-activity-form-block-details {
      td.label {
        vertical-align: top;
      }
    }
  }
}

.crm-entityref-filters {
  .select2-container {
    width: 100% !important;
  }
}

.page-civicrm-contact {
  .crm-activityLinks .select2-container {
    .select2-choice {
      background: none;
      background: $crm-white;
      border: 1px solid $crm-grayblue-darker;
      border-radius: $border-radius-base;
      box-shadow: $crm-select2-box-shadow-inset;
      display: block !important;
      line-height: 30px;

      .select2-chosen {
        color: $gray-dark;
        font-family: $font-family-base;
      }
    }

    &.select2-dropdown-open {
      .select2-choice {
        border-color: $brand-primary;
        box-shadow: none;
      }
    }

    .select2-arrow {
      background: none;
      padding: 0 5px;
    }

    .select2-search-choice-close {
      right: 35px;
    }
  }

  #Activity {
    .crm-activity-form-block-assignee_contact_id td:not(.label) {
      padding: 0 5px;
    }

    #attachments tr {
      &:nth-child(4),
      &:nth-child(7) {
        td.label {
          padding: 0;
        }
      }
    }

    .crm-activity-form-block-attachment .crm-accordion-body {
      padding: 20px !important;
    }
  }

  .action-link {
    line-height: 27px;
    margin-bottom: 20px !important;
    margin-top: 0;
    min-height: 30px;
  }

  #mainTabContainer .crm-activity-selector-activity {
    .crm-accordion-header {
      border-radius: $border-radius-base $border-radius-base 0 0;
      font-size: $font-size-h2 !important;
      padding-bottom: 3px;
      padding-top: 6px;
    }

    .crm-accordion-body {
      padding: 6px 15px !important;
    }

    .dataTables_wrapper {
      border-radius: $border-radius-child;
      box-shadow: $box-shadow;
      margin: 20px 0;

      table {
        box-shadow: none;
      }

      .crm-datatable-pager-top {
        background: $gray-lighter;
        border-bottom: 1px solid $crm-background;
        border-radius: $border-radius-child $border-radius-child 0 0;
        margin-top: 10px;
        padding-bottom: 39px;
        padding-top: 10px;

        .dataTables_length {
          padding-left: 20px;
        }

        .dataTables_paginate {
          padding-right: 5px;
          padding-top: 0;
        }
      }

      .crm-datatable-pager-bottom {
        background: $crm-gray-lightest;
        border-radius: 0 0 $border-radius-child $border-radius-child;
        line-height: 1.8em;
        padding-bottom: 39px;
        padding-top: 10px;

        .dataTables_info,
        .dataTables_paginate {
          padding-top: 0;
        }
      }

      .dataTables_paginate {
        padding-right: 5px;
        width: 47% !important;
      }

      .dataTables_info {
        font-size: $font-size-base;
        padding-left: 20px;
        width: 49%;
      }

      @media (max-width: $crm-page-main-max-width) {
        overflow-x: auto;
        width: 100%;
      }
    }

    div[id*="DataTables_Table_"] table.dataTable  {
      background: transparent;
      border: none;
      display: block;
      font-family: $font-family-base;
      overflow-x: auto;
      width: auto;

      thead tr {
        background: none !important;
        border-bottom: 1px solid $crm-grayblue-dark;

        th {
          background: $gray-lighter !important;
          border: none;
          color: $gray-darker;
          line-height: 1.5em;
          padding: 15px 20px;
          vertical-align: middle;

          div {
            padding: 0;
          }
        }
      }

      > tbody > tr {
        background: $crm-white;
        border-bottom: 1px solid $crm-background;
        border-right: none;

        > td {
          background: $crm-white;
          border: none;
          color: $gray-dark;
          line-height: 1.1em;
          overflow: hidden;
          padding: 15px 20px;
          text-overflow: ellipsis;
          vertical-align: middle;
          white-space: nowrap;

          &:last-child {
            max-width: 130px;
          }

          a {
            color: $brand-primary !important;
          }
        }

        > td:nth-child(3),
        > td:nth-child(4),
        > td:nth-child(5) {
          overflow: visible;
          white-space: normal;

          a:last-child {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 83%;
          }
        }

        > td:nth-child(2) .crm-editable-enabled {
          width: 150px !important;
        }
      }

      @media (min-width: $crm-min-lg-width) {
        width: 100% !important;
      }

      @media screen and (min-width: $crm-min-width ) and (max-width: $crm-max-width) {
        width: auto !important;
      }
    }

    .accordion,
    .crm-search_filters-accordion {
      box-shadow: $box-shadow;
    }

    .crm-search_filters-accordion {
      border-radius: $border-radius-base;
      box-shadow: $box-shadow;
      overflow: hidden;

      .crm-accordion-header {
        background: $crm-white !important;
        border-bottom: 1px solid $crm-grayblue-dark;
      }
    }

    .dataTables_length,
    .dataTables_paginate {
      font-size: $font-size-base;
    }

    div[id*="s2id_autogen"] {
      .select2-choice {
        background: $crm-white;
        border: 1px solid $crm-grayblue-darker;
        border-radius: $border-radius-base;
        box-shadow: $crm-select2-box-shadow-inset;
      }

      .select2-arrow {
        background: none;
        padding: 0 5px;
      }
    }
  }
}
