/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

#{civi-page('admin-price')} {
  &,
  .ui-dialog-content {
    table.form-layout td {
      input.crm-form-text,
      .crm-form-select,
      .crm-form-textarea {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
      }

      .crm-form-textarea {
        min-height: 100px;
      }
    }

    .ui-dialog-titlebar .ui-button .ui-icon {
      top: 12px;
    }

    .description {
      display: block;
    }
  }

  .crm-price-set-preview-block {
    legend {
      @include panel-header;
      box-sizing: border-box;
      width: 100%;
    }

    .price_set-section {
      margin: 0;
      padding: 0 20px;
    }
  }

  .crm-container #crm-main-content-wrapper {
    .CRM_Price_Form_Set .crm-form-block,
    .CRM_Price_Form_Field .crm-form-block {
      .form-layout {
        margin: 0 0 20px;

        tr {
          &:nth-child(6),
          &:nth-child(8) {
            td.label {
              vertical-align: top;
            }
          }
        }
      }
    }

    #field_page,
    #option11_wrapper {
      margin-bottom: 0 !important;
      position: relative;
    }

    .dataTables_wrapper {
      overflow: visible;
    }

    #option11,
    #option12,
    #option13,
    #options {
      @include civicrm-table;

      .action-item {
        text-transform: none;
      }
    }
  }

  .CRM_Price_Form_Field {
    .form-layout tr {
      td.description {
        padding-left: 15px;
      }
    }

    #showoption {
      legend,
      .description,
      #optionFieldLink {
        padding: 0 20px;
      }
    }

    #optionField {
      @include expandable-table;
      margin: 20px 0;

      td {
        padding: 10px 20px !important;

        .crm-form-text {
          min-width: 50px !important;
          width: 50px !important;
        }
      }
    }
  }

  #{civi-dialog()} {
    .form-layout {
      td {
        line-height: 18px;
      }
    }
  }
}
