/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

.page-civicrm-civirule {
  // "CiviRules Add Rule" and "CiviRules Update Rule" pages
  &.page-civicrm-civirule-form-rule {
    .crm-civirule-rule_label-block {
      @include block-form();
    }

    // "CiviRules Update Rule" page
    .crm-civirule-trigger-block,
    .crm-civirule-rule_condition-block,
    .crm-civirule-rule_action-block {
      > .crm-section {
        margin-bottom: 0;
      }

      .dataTables_wrapper {
        box-shadow: none;
        margin-bottom: 0;

        th,
        td {
          border-bottom: solid 1px $gray-light;
          color: $crm-black;
          padding-left: $crm-standard-gap;
          padding-right: 0;

          &:last-of-type {
            padding-right: $crm-standard-gap;
          }
        }

        tr {
          background-color: transparent !important;
        }
      }

      // Table above will always have rows with bottom borders,
      // so we remove the top border to eliminate the border duplication.
      .crm-submit-buttons {
        border-top: 0;
      }
    }
  }

  // "CiviRules Add Condition", "CiviRules Add Action" and
  // "CiviRules Edit Action parameters" pages
  &.page-civicrm-civirule-form-rule-condition,
  &.page-civicrm-civirule-form-rule-action,
  &.page-civicrm-civirule-form-action {
    .crm-form-block {
      @include block-form();
    }
  }

  &.page-civicrm-civirule-form-action {
    // There is a switch between `.groups-single` and `.groups-multiple`
    // and `.groups-single` is not a last child, but doesn't need that margin
    .groups-single {
      margin-bottom: 0;
    }
  }

  // "CiviRules Add Action" page
  &.page-civicrm-civirule-form-rule-action {
    #XWeekDay_time_hour {
      text-align: right;
    }

    #XWeekDay_time_hour,
    #XWeekDay_time_minute {
      width: 20px;
    }
  }
}
