/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

.page-civicrm-civirule {
  // "CiviRules Add Rule" and "CiviRules Update Rule" pages
  .CRM_Civirules_Form_Rule {
    .crm-civirule-rule_label-block {
      @include block-form();
    }

    // "CiviRules Update Rule" page
    .crm-civirule-trigger-block,
    .crm-civirule-rule_condition-block,
    .crm-civirule-rule_action-block {
      > .crm-section {
        margin-bottom: 0;
      }

      .dataTables_wrapper {
        box-shadow: none;
        margin-bottom: 0;

        th,
        td {
          border-bottom: solid 1px $gray-light;
          color: $crm-black;
          padding-left: $crm-standard-gap;
          padding-right: 0;

          &:last-of-type {
            padding-right: $crm-standard-gap;
          }
        }

        tr {
          background-color: transparent !important;
        }
      }

      // Table above will always have rows with bottom borders,
      // so we remove the top border to eliminate the border duplication.
      .crm-submit-buttons {
        border-top: 0;
      }
    }
  }

  // "CiviRules Add Condition" page
  &.page-civicrm-civirule-form-rule-condition {
    .crm-civirule-rule_condition-block {
      @include block-form();
    }
  }
}
