.page-civicrm-tag {

  #branding {
    .page-title {
      margin-bottom: 20px !important;
    }
  }

  .help {
    background: $crm-light-green-color;
    border: none;
    margin-bottom: 20px;
    padding: 15px 20px;
  }

  .tabs-secondary {
    float: left;
  }

  .ui-dialog-content td {
    vertical-align: middle;
  }

  #page {
    .crm-form-block td {
      vertical-align: middle;
      display: table-cell;
      text-align: left;
    }

    .crm-tag-form-block-is_reserved,
    .crm-tag-form-block-is_slectable {
      td.label {
        vertical-align: top;
      }
    }
  }

  .crm-submit-buttons {
    margin: 0;

    .button {
      background: $brand-primary !important;

      &:hover {
        opacity: .9;
      }
    }
  }

  .CRM_Tag_Form_Edit {

    table {

      &.form-layout-compressed {
        margin: 0 25px;
      }
    }

    div,
    span {
      &.description {
        line-height: 1.5em;
        display: block;
      }
    }
  }

  #cat {
    box-shadow: $box-shadow;
    margin: 30px 0;

    table {
      @include mx-expandable-table();
    }
  }
  a {
    &.button  {
      i {
        margin-right: 3px;
      }
    }
  }
}

.CRM_Contact_Form_Task_AddToTag,
.CRM_Contact_Form_Task_RemoveFromTag {

  h3 {
    padding-top: 20px;
    padding-left: 25px;
  }

  table {

    &.form-layout-compressed {
      margin: 25px;
    }
  }

  .listing-box {
    max-height: 216px;
    height: auto;

    > div {
      padding: 15px;
      background-color: $crm-white;
    }
  }
}

.CRM_Tag_Form_Tag #Tag,
.tag-tree-wrapper {

  table {
    background: $crm-white;
    border: none;
    box-shadow: $box-shadow;

    thead th {
      border: none;
      border-bottom: 1px solid $crm-dark-grayblue;
      font-family: $font-family-base;
      font-size: $font-size-h2;
      font-weight: $crm-font-weight-h3;
      padding: 17px 20px;
      vertical-align: middle;
    }

    tbody td{
      border: none;
      padding: 20px;
    }
  }

  .crm-form-text {
    @extend %custom-form-control, %open-sans-font-family;
    display: inline-block;
    width: 230px;
  }

  #tagtree,
  .tag-tree {
    margin-left: -10px;

    li {
      margin: 10px;

      div.jstree-wholerow-hovered,
      div.jstree-wholerow-clicked {
        background: none;
      }

      .crm-tag-item {
        border: none;
        color: $gray-darker;
        font-weight: $crm-font-weight-h3;
        padding: 0;
      }

      .jstree-checkbox {
        background-color: $crm-white;
        background-image: none;
        border: 1px solid $crm-darker-grayblue;
        border-radius: 2px;
        box-shadow: $crm-checkbox-shadow;
        content: '';
        display: inline-block;
        height: 16px;
        margin-top: 4px;
        min-width: 16px;
        position: relative;
        width: 16px;
      }

      .jstree-clicked .jstree-checkbox::after {
        @include fa-icon($font-size: $font-size-medium, $content: $fa-var-success, $color: $gray-darker);
        display: inline-block;
        left: 1px;
        line-height: $line-height-base;
        position: absolute;
        top: 4px;
        margin-top: -6px;
      }
    }
  }

  .tag-info {
    margin-right: 10px;
  }
}
