/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

#{civi-page('tag')} {
  #branding .page-title {
    margin-bottom: 20px !important;
  }

  .help {
    margin-bottom: 20px;
  }

  .tabs-secondary {
    float: left;
  }

  .ui-dialog-content td {
    vertical-align: middle;
  }

  .tag-info {
    border: 1px solid $crm-grayblue-dark;
    border-radius: $border-radius-base;
    box-shadow: none;
    color: $gray-darker;
    font-size: $font-size-base;
    right: 20px;

    h4 {
      margin-top: 0;
    }

    .tdl {
      color: $gray-darker;
      font-weight: $crm-font-weight-h3;
    }

    .button {
      &:hover {
        .fa-trash {
          color: $crm-white;
        }
      }
    }

    .clear-tag-selection {
      color: $brand-danger;
      opacity: 1;

      .fa-ban {
        &::before {
          @include fa-icon($font-size-base,$fa-var-close, $brand-danger);
        }
      }

      &:hover {
        .fa-ban {
          &::before {
            color: darken($brand-danger, $crm-darken-percentage);
          }
        }
      }
    }
  }

  .tag-tree {
    width: 50%;
  }

  .ui-tabs {
    div.tag-tree-wrapper {
      min-height: 300px;
    }

    input[name='filter_tag_tree'] {
      margin: 0 0 20px 20px;

      + .crm-hover-button {
        margin: 0 0 20px !important;
      }
    }
  }

  #page {
    .crm-form-block td {
      display: table-cell;
      text-align: left;
      vertical-align: middle;
    }

    .crm-tag-form-block-is_reserved,
    .crm-tag-form-block-is_slectable {
      td.label {
        vertical-align: top;
      }
    }
  }

  .crm-submit-buttons a.button {
    background: $brand-primary;

    &:hover {
      background: darken($brand-primary, $crm-darken-percentage);
      color: $crm-white;
    }
  }

  .CRM_Tag_Form_Edit {
    table.form-layout-compressed {
      margin: 0 25px;
    }

    div,
    span {
      &.description {
        display: block;
        line-height: 1.5em;
      }
    }
  }

  #cat {
    box-shadow: $box-shadow;
    margin: 30px 0;

    table {
      @include expandable-table;
    }
  }

  a {
    &.button {
      i {
        margin-right: 3px;
      }
    }
  }
}

.CRM_Contact_Form_Task_AddToTag,
.CRM_Contact_Form_Task_RemoveFromTag {
  h3 {
    padding-left: 25px;
    padding-top: 20px;
  }

  table {
    &.form-layout-compressed {
      margin: 25px;
    }
  }

  .listing-box {
    height: auto;
    max-height: 216px;

    > div {
      background-color: $crm-white;
      padding: 15px;
    }
  }
}

.CRM_Tag_Form_Tag {
  #Tag {
    background: $crm-white;
    box-shadow: $box-shadow;

    h3 {
      background: $gray-lighter;
      border: 0;
      border-bottom: 1px solid $crm-grayblue-dark;
      color: $gray-darker;
      font-family: $font-family-base;
      font-size: $font-size-h2;
      padding: 17px 20px;
      vertical-align: middle;
    }

    #tagtree {
      padding: 20px;

      li {
        margin: 10px 0;

        span {
          background: none;
        }
      }
    }
  }
}


#{civi-page('contact-view')} {
  .CRM_Tag_Form_Tag {
    #Tag {
      table {
        th {
          @include panel-header;
          border-width: 0 0 1px;
        }

        td {
          border: 0;

          .crm-form-text {
            margin: 20px 0 0 20px;
          }
        }
      }

      .jstree-default {
        .jstree-checkbox {
          @include box-shadow($crm-input-shadow);
          background: none;
          border: 1px solid $crm-grayblue-darker;
          border-radius: $border-radius-base;
          height: 16px;
          position: relative;
          top: 5px;
          width: 16px;
        }

        .jstree-clicked {
          > .jstree-checkbox {
            &::after {
              @include fa-icon($font-size-base,$fa-var-check);
              left: 2px;
              position: absolute;
              top: -3px;
            }
          }
        }

        .jstree-wholerow-hovered,
        .jstree-wholerow-clicked {
          background: $crm-white;
        }
      }
    }
  }
}
