.CRM_Contact_Form_Task_Delete,
.CRM_Contact_Form_Task_Unhold,
.CRM_Contact_Form_Task_Label {
  .crm-form-block {
    padding-top: 20px;
  }

  .spacer {
    display: none;
  }

  .status.no-popup {
    margin: $crm-status-bar-no-top;
  }
}
