/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

#{civi-page('contact-view')} {
  #crm-container {
    .ui-widget-content {
      font-family: $font-family-base;

      a.button {
        background: $brand-primary;
        margin-left: 0 !important;
      }

      td.section-shown .crm-accordion-wrapper {
        border-radius: $panel-border-radius;
        box-shadow: $box-shadow;
        margin: 15px 0;

        &.collapsed .crm-accordion-header {
          border-bottom: 0;
          border-radius: $panel-border-radius !important;
        }

        .crm-accordion-header {
          border-bottom: 1px solid $crm-grayblue-dark;
          border-radius: $panel-border-radius $panel-border-radius 0 0 !important;
        }

        .crm-accordion-body {
          border-radius: 0 0 $panel-border-radius $panel-border-radius !important;
        }

        table.crm-info-panel {
          border: 0;
          border-bottom: 1px solid $crm-background;

          &:last-child {
            border-bottom: 0;
          }
        }

        table.crm-info-panel td {
          color: $crm-copy;
          vertical-align: middle;
        }

        table.crm-info-panel td.label {
          color: $gray-darker;
          font-weight: $crm-font-weight-h1;
        }

        table.crm-info-panel td.html-adjust {
          width: 100%;
        }
      }

      table.no-border td {
        border: 0;
      }
    }
  }

  .crm-block {
    padding: 0 !important;

    .crm-activity-form-block-custom_data {
      td:first-child {
        padding: 0;
      }
    }
  }

  .action-link a.button {
    font-size: $font-size-base !important;
  }
}
