&#{civi-page('admin-options-wordreplacements')} {

  #crm-container .crm-form-block {
    background: transparent;
    box-shadow: none;

    .crm-submit-buttons {
      @include civicrm-panel;
    }

    .action-item {
      display: inline-block;
      margin: 10px 0 !important;
    }

    & > table.form-layout-compressed {
      @include civicrm-table;
      @include civicrm-panel;

      margin: 0;
      width: 100%;

      & > tbody > tr > td {
        padding: 0;
      }

      .crm-form-textarea {
        padding: 5px;
        width: 100% !important;
        min-height: 40px;
      }

      .string-override-table .columnheader {
        background: $gray-lighter !important;
        border: none;
        border-bottom: 1px solid $gray-light;

        &:hover {
          background: $gray-lighter !important;
        }
      }

      .string-override-table td,
      .string-override-table th {
        padding: 5px;

        &:first-of-type,
        &:last-of-type {
          text-align: center;
        }
      }
    }
  }
}
