/*
* The advanced-multiselect() CSS function designs table structure for multiselects
*/
@mixin advanced-multiselect() {
  border: 0;

  .crm-form-multiselect {
    @include civicrm-form-control;
    height: 140px;
  }

  input[type=button] {
    margin: -10px 5px 0 !important;
  }

  td {
    border: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
  }
}
