/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

/*
 * Adds CiviCRM table-specific styles for all children tables of admin part
 */
@mixin civicrm-table() {
  table:not(.form-layout-compressed) {
    border-top: 1px solid $crm-grayblue-dark;
    box-shadow: none;
    max-width: 100%;

    tr {
      background: $crm-white;
      border: 0;
      border-bottom: 1px solid $gray-light;

      &.columnheader {
        background: $gray-lighter;
      }

      > td,
      > th {
        background: transparent;
        border: 0;
        color: $gray-dark;
        line-height: 18px;
        padding: 16px 10px;
        text-transform: unset;

        &:first-child {
          padding-left: 20px;
        }

        &:last-child {
          padding-right: 20px;
        }
      }

      > th {
        color: $gray-darker;

        .DataTables_sort_icon {
          display: block;
        }
      }
    }
  }
}


/*
 * Styles a table with a H3 header:
 * - removes unnecessary borders from the column headers
 */
@mixin civicrm-table-with-header() {
  .columnheader {
    border: 0 !important;
    border-bottom: 1px solid $crm-grayblue-dark !important;
  }
}
