/*
 * Since different elements may be a CiviCRM Panel, this mixin prevents duplicating much code.
 */
@mixin civicrm-panel() {
  background: $crm-white;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow;
}
