@mixin mx-expandable-table {
  @extend %civihr-table;
  background: transparent;
  border: none;
  border-radius: $panel-border-radius;
  font-family: $font-family-base;
  width: 100% !important;

  thead,
  .columnheader {
    th,
    td {
      background-color: $gray-lighter !important;
      border: none !important;
      color: $gray-darker !important;
      line-height: 1.5em;
      padding: 15px 20px !important;
      text-transform: capitalize;
      vertical-align: middle !important;

      div {
        padding: 0;
      }
    }

    tr {
      border-top-left-radius: $border-radius-small;
      border-top-right-radius: $border-radius-small;
      background: transparent !important;
    }
  }

  .columnheader-dark {
    border: none;
    border-bottom: 1px solid $crm-grayblue-dark;

    th {
      border: none !important;
      background-color: $gray-lighter !important;
    }
  }

  tbody {
    tr {
      background: $crm-white;

      td {
        background: $crm-white !important;
        border: none !important;
        color: $gray-dark;
        padding: 15px 20px;
        line-height: 1.5em;
        vertical-align: middle;
      }

      th {
        background: $crm-background !important;
        border: none;
        color: $gray-darker !important;
        padding: 15px 10px;
        line-height: 1.5em;
        vertical-align: middle;

        div {
          padding: 0;
        }
      }
    }
  }

  &.selector {
    &.row-highlight {
      tbody {
        > tr {
          &:hover {
            background: $crm-white !important;
          }
        }
      }
    }

    tr {
      &:not(.crm-child-row) > td {
        min-width: 10px;
        padding: 15px 20px;
        word-break: break-word;

        &:first-child {
          align-items: center;
        }
      }
    }

    .crm-expand-row {
      position: relative;
      background: none;

      &:after {
        @include fa-icon(13px, '\f054');
        position: absolute;
        left: 0;
      }

      &.expanded {
        &:after {
          @include fa-icon(13px, '\f078');
        }
      }
    }

    th {
      background-color: $gray-lighter !important;
    }

    .crm-child-row {
      border-bottom: none;

      &,
      > td {
        padding: 0;
      }

      > td {
        position: relative;

        .crm-ajax-container {
          border: 2px solid $crm-background;
          margin-top: -1px;

          table {
            border: none;
          }
        }
      }

      #info {
        tr {
          border: 0 !important;
        }

        th {
          text-transform: capitalize;
        }

        td,
        th {
          padding-left: 20px;
        }

        td {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }

    .sticky {
      tr:first-child {
        border-bottom: 1px solid $crm-grayblue-dark;
      }

      th:first-child {
        text-align: center;
      }
    }
  }
}
