label {
    color: $gray-darker;
    font-weight: 600;
}

/**
 * An extension of Bootstraps' input-group,
 * so that the addon has no background or border set
 */
.input-group-unstyled {

    .input-group-addon,
    .input-group-btn > button {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }
}
