label {
    color: $gray-darker;
    font-weight: 600;
}

.form-control {
    @include box-shadow(none);

    &:focus {
        @include box-shadow(none);
    }
}

.form-horizontal {

    @media (min-width: $screen-sm-min) {

        // Labels should always be aligned to the left
        .control-label {
            text-align: left;
        }

        // Label size is always the same also with small size input fields
        .form-group-sm {
            .control-label {
                font-size: $font-size-base;
            }
        }
    }
}

/**
 * An extension of Bootstraps' input-group,
 * so that the addon has no background or border set
 */
.input-group-unstyled {

    .input-group-addon,
    .input-group-btn > button {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }
}
