/**
 * This is a custom class for the custom CTools modal with Bootstrap markup
 * It cancels out the styles that CTools applies via JS
 */
.modal-civihr-bootstrap {
    position: initial !important;
    top: initial !important;
    left: initial !important;

    .loading-spinner {
        left: initial !important;
        margin: 0 auto -20px !important;
        position: initial !important;
        top: initial !important;
    }
}
