.nav-pills-stacked-sidebar {
    background: $crm-page-sidebar-bg;

    > li {

        > a {
            border-radius: $crm-nav-pills-sidebar-border-radius;
            color: $crm-nav-pills-sidebar-color;
            font-weight: $crm-nav-pills-sidebar-weigth;
            padding: $crm-nav-pills-sidebar-link-padding;
        }

        + li {
            margin-top: 0;
        }

        &.active {
            position: relative;
            z-index: 0;

            &:after,
            &:before {
                content: "";
                box-shadow: 1px 4px 15px 0px rgba(0,0,0,0.1);
                display: block;
                height: 999999px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 1;
            }

            &:after {
                top: 100%;
            }

            &:before {
                bottom: 100%;
            }

            > a {
                background: $crm-nav-pills-sidebar-link-hover-bg !important;
                color: $crm-nav-pills-sidebar-link-color !important;
            }
        }
    }
}


// Nav tabs in the heading of a primary panel
.panel-primary {

    > .panel-heading {

        > .nav-tabs {
            border: $crm-nav-tabs-panel-heading-border;
            margin: $crm-nav-tabs-panel-heading-margin;

            > li {

                &.active,
                &:hover {

                    > a {
                        border-width: $crm-nav-tabs-panel-heading-link-border-hover-width;
                    }
                }

                > a {
                    background: $crm-nav-tabs-panel-heading-link-background !important;
                    border-color: $crm-nav-tabs-panel-heading-link-border-color !important;
                    border-width: $crm-nav-tabs-panel-heading-link-border-width;
                    color: $crm-nav-tabs-panel-heading-link-color !important;
                    font-weight: $crm-nav-tabs-panel-heading-link-weight;
                    padding: $crm-nav-tabs-panel-heading-link-padding;
                }
            }
        }
    }
}
