.navbar {
    border: 0;

    .breadcrumb {
        background: transparent;
        margin: 0;
        padding-bottom: 0;
        padding-top: 0;

        a {
            line-height: $navbar-height;
        }

        > .active {
            color: $navbar-default-color;
        }
    }
}
