table,
.table {
    margin-bottom: 0;

    th {
        background: $crm-brand-primary-light;
    }

    > thead {

        > tr {

            > th {
                border-bottom: 0;
                color: $gray-darker;
                text-transform: capitalize;
            }
        }
    }
}

.table-striped {
    background: $crm-table-striped-bg;
}
