.crm-container {
  $header-color: #f3f6f7;

  %no-border-radius {
    border-radius: 0 !important;
  }

  .crm-accordion-header {
    @extend %no-border-radius;
    line-height: 40px;
    background-image: none !important;
    background: $header-color !important;
    color: $gray-darker;
    font-weight: normal !important;

    &::before {
      @include fa-icon(.8em);
      padding-right: 10px;
    }

    &.crm-master-accordion-header {
      background: $brand-primary !important;
      color: #ffffff !important;
      font-weight: bold !important;
    }

    .crm-close-accordion {
      margin-top: 5px;
    }

    .helpicon {
      padding-left: 15px;
      color: #ffffff;
    }
  }

  .crm-accordion-wrapper {
    &:not(.collapsed) {
      .crm-accordion-header {
        &::before {
          content: '\f078';
        }
      }
    }

    &.collapsed {
      .crm-accordion-header {
        &::before {
          content: '\f054';
        }
      }
    }
  }

  .crm-accordion-body {
    @extend %no-border-radius;
    border: 0;
    background: #ffffff;
    padding: 15px;

    .form-item,
    .form-item > table {
      margin: 0;
    }

    td {
      border-right-width: 0;
    }
  }
}
