#page,
body {
  background: $background-color !important;
}

.crm-container {
  .crm-form-block {
    border-radius: 0;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, .1);
    padding: 0;
    background: linear-gradient(to bottom, $brand-primary 50px, #ffffff 50px);
  }
}
