@import '../../../org.civicrm.bootstrap/scss/vendor/bootstrap/buttons';
@import '../overrides/style/buttons';

.crm-container {
  %btn {
    @extend .btn;
    $btn-height: 20px;
    text-shadow: none;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    opacity: 1 !important;
    font-size: 1em !important;

    &:not([value~='Search']) {
      @extend .btn-secondary-outline;
      border-radius: 2px;

      &.css_right {
        padding: 7px 15px !important;
      }

      .crm-i {
        line-height: inherit;
      }
    }

    &[value~='Save'],
    &[value~='Search'] {
      @extend .btn-primary;
      border-style: solid;
      border-width: 1px;
    }
  }

  #actions {
    %btn {
      @extend .btn-secondary;
    }
  }

  // "Toolbar" buttons
  $toolbar-top-space: 7px;
  .crm-form-block > .crm-submit-buttons {
    &:first-of-type {
      padding-top: $toolbar-top-space;
      %btn {
        @extend .btn;
        padding-left: 23px;
        color: #ffffff !important;
      }
    }

    &:not(:first-of-type) {
      %btn {
        [value~='Save'] {
          @extend .btn-primary;
        }

        :not([value~='Save']) {
          @extend .btn-secondary;
        }
      }
    }
  }

  .crm-i-button,
  .refresh {
    padding: 0 !important;
  }

  .crm-button {
    background: none;
  }

  .crm-button input.crm-form-submit,
  .crm-button.crm-i-button,
  .crm-hover-button,
  .ui-dialog-buttonset .ui-button,
  a.button,
  a.button:link,
  a.button:visited,
  input[type=button] {
    @extend %btn;
  }

  .crm-hover-button {
    padding: 7px 15px !important;

    &:hover {
      background: $gray-dark !important;
    }
  }

  .crm-button-type-refresh,
  .crm-submit-buttons > .crm-button {
    padding: 0 !important;
    border: 0 !important;

    .crm-i {
      padding: 3px;
      background-color: transparent !important;
    }
  }

  .crm-i {
    text-shadow: none;
  }

  .crm-button-type-refresh {
    .crm-i {
      color: #ffffff;
    }
  }

  .adv-search-top-submit > div {
    float: right;
    padding-left: 10px;
  }

  .crm-form-block > .crm-submit-buttons {
    min-height: 50px;

    > .crm-button:first-of-type {
      margin-left: 10px;
    }
  }

  //"Expand all" and "configure pane" buttons;
  .crm-search-form-block > a,
  .crm-search-form-block > span {
    @extend .btn, .btn-secondary-outline;
    float: right;
    border: 0;
    color: #ffffff;
    margin-top: $toolbar-top-space;
  }

  .crm-search-form-block > a {
    margin-right: 10px;
  }

  .crm-search-form-block > span {
    width: 12px !important;
    overflow: hidden;

    > a {
      &:link {
        color: #ffffff;
      }

      &::before {
        @include fa-icon(.8em);
        padding: 0 15px 0 2px;
      }

      &[href~='#collapse']::before {
        content: '\f066';
      }

      &[href~='#expand']::before {
        content: '\f065';
      }
    }
  }
}
