@import '../../../org.civicrm.bootstrap/scss/vendor/bootstrap/buttons';
@import '../overrides/style/buttons';

form#user-login-form {
  input.form-submit {
    @extend .btn, .btn-primary;
  }
}

$button-border-radius: 2px;

.crm-container {

  %btn {
    @extend .btn, %open-sans-font-family;
    text-shadow: none;
    text-transform: uppercase;
    opacity: 1 !important;
    font-size: 1em !important;

    &:not(.crm-form-submit):not(.crm-close-accordion):not(.crm-clear-link) {
      @extend .btn-secondary-outline;
      border-radius: $button-border-radius;
    }

    &.crm-form-submit:not(.cancel) {
      @extend .btn-primary;
      border-style: solid;
      border-width: 1px;
      min-width: 90px;
    }
  }

  #actions {
    %btn {
      @extend .btn-secondary;
    }
  }
  // "Toolbar" buttons
  $toolbar-top-space: 6px;

  .crm-form-block {
    &.crm-search-form-block > .crm-submit-buttons:first-of-type {
      padding-top: $toolbar-top-space;

      .crm-button-type-cancel input {
        background: none !important;
      }
    }

    .crm-submit-buttons {
      &:first-of-type {
        %btn {
          @extend .btn;
          padding-left: 23px;
          color: #ffffff !important;
          min-width: initial;
        }
      }

      &:not(:first-of-type) {
        %btn {
          .crm-form-submit:not(.cancel) {
            @extend .btn-primary;
          }

          .crm-button-type-cancel input,
          .crm-form-submit.cancel {
            @extend .btn-secondary;
          }
        }
      }

      .crm-button-type-cancel input {
        @extend .btn-secondary;
        ///The default theme uses "!important"
        color: #ffffff !important;
      }
    }
  }

  .crm-i-button,
  .refresh {
    padding: 0 !important;
  }

  .crm-button {
    background: none;
  }

  #crm-submit-buttons input.crm-form-submit,
  .crm-button input.crm-form-submit,
  .crm-button.crm-i-button,
  .crm-hover-button,
  .ui-dialog-buttonset .ui-button,
  a.button,
  a.button:link,
  a.button:visited,
  input[type=button] {
    @extend %btn;
  }

  .crm-accordion-header,
  .crm-form-date-wrapper {
    a.crm-hover-button {
      @extend .btn-xs;
    }
  }

  a.crm-hover-button {
    &.css_right {
      box-sizing: content-box;
      padding: 7px 12px !important;
    }

    &.crm-close-accordion {
      padding: 7px 15px !important;
    }

    &:hover {
      background-image: none;
      color: inherit;
    }
  }

  .crm-button-type-refresh,
  .crm-submit-buttons > .crm-button {
    padding: 0 !important;
    border: 0 !important;

    .crm-i {
      padding: 3px;
      background-color: transparent !important;
      color: #ffffff;
    }
  }

  .crm-i {
    text-shadow: none;
    vertical-align: middle;
    line-height: inherit;
  }

  .crm-button-type-refresh {
    .crm-i {
      color: #ffffff;
    }
  }

  .adv-search-top-submit > div {
    float: right;
    padding-left: 10px;
  }

  .crm-form-block > .crm-submit-buttons {
    min-height: 50px;

    > .crm-button:first-of-type {
      margin-left: 10px;
    }
  }
  //"Expand all" and "configure pane" buttons;
  .crm-search-form-block > a,
  .crm-search-form-block > span {
    @extend .btn, .btn-secondary-outline;
    float: right;
    border: 0;
    color: #ffffff;
    margin-top: $toolbar-top-space;
  }

  .crm-search-form-block > a {
    margin-right: 10px;
  }

  .crm-search-form-block > span {
    width: 12px !important;
    overflow: hidden;

    > a {
      &::before {
        @include fa-icon(.8em, '', #ffffff);
        padding: 0 15px 0 2px;
      }

      &[href~='#collapse']::before {
        content: '\f066';
      }

      &[href~='#expand']::before {
        content: '\f065';
      }
    }
  }

  ul.wizard-bar {
    $height: 25px;
    @extend .btn-group;
    height: $height;
    border: 0 !important;

    > li {
      display: inline-block !important;
      height: $height !important;
      line-height: $height !important;
      box-shadow: none !important;
      border-radius: 0 !important;

      &:first-child {
        border-top-left-radius: $button-border-radius !important;
        border-bottom-left-radius: $button-border-radius !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      &:last-child {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: $button-border-radius !important;
        border-bottom-right-radius: $button-border-radius !important;
      }

      &:not(.current-step) {
        @extend %btn, .btn-default;

        &:hover {
          color: $gray-darker !important;
        }
      }

      &.current-step {
        @extend %btn, .btn-secondary;
        background: $gray-dark !important;
        border-color: $gray-darker !important;

        &:hover {
          color: #ffffff !important;
        }
      }
    }
  }

  #wizard-steps {
    + h1,
    + h2 {
      position: relative;
      top: -45px;
    }
  }
}
//Absolute positioned

.ui-dialog {
  .button {
    padding: 4px 12px !important;
    font-weight: normal !important;
  }

  .ui-dialog-buttonset {
    .crm-i {
      line-height: initial !important;
    }

    .ui-button-text-icon-primary .ui-button-text {
      padding: 0 0 0 7px !important;
    }
  }

  td .crm-hover-button {
    &:not(:only-of-type) {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    &:first-of-type {
      border-top-left-radius: $button-border-radius !important;
      border-bottom-left-radius: $button-border-radius !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-right: 0;
    }

    &:last-of-type {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: $button-border-radius !important;
      border-bottom-right-radius: $button-border-radius !important;
      border-left: 0;
    }
  }
}
