#toolbar {
  box-shadow: none !important;
}

#branding {
  $font-size: .8rem;
  padding-left: 35px !important;

  %breadcrumb-divider {
    font-size: .6em;
    content: '>';
    display: inline-block;
  }

  %breadcrumb {
    position: relative;
    top: -5px;
    float: left;
  }
  line-height: 20px;
  background: $crm-page-topbar-bg !important;
  color: #ffffff !important;

  .breadcrumb {
    @extend %breadcrumb;
    left: 10px;
    color: transparent;

    > a {
      color: #ffffff;
      font-size: $font-size;
      position: relative;
      left: -10px;
      padding: 0 5px;

      &:not(:last-of-type)::after {
        @extend %breadcrumb-divider;
        position: absolute;
        right: -10px;
      }
    }

    & + h1::before {
      @extend %breadcrumb-divider;
      padding: 0 8px 0 4px;
      position: relative;
      top: -1px;
    }
  }

  h1 {
    @extend %breadcrumb;
    color: #ffffff !important;
    font-size: $font-size !important;
  }
}

// The "printer" icon button
div#printer-friendly {
  position: absolute !important;
  right: 0 !important;
  top: -11px !important;

  a {
    color: #ffffff;
  }
}
