/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

&#{civi-page('admin-contribute')},
&#{civi-page('admin-pcp')} {
  .crm-container {
    div#alpha-filter {
      @include box-shadow($box-shadow);
      background: $crm-white;
      border-bottom: 1px solid $crm-grayblue-dark;
      border-radius: $border-radius-base $border-radius-base 0 0;
      margin-bottom: 0;
      margin-top: 10px;
      padding: 15px 10px 10px;
    }
  }

  #crm-main-content-wrapper {
    .dataTables_wrapper {
      @include civicrm-table;
      @include box-shadow($crm-form-layout-shadow-lower);
    }
  }
}

&#{civi-page('admin-contribute')} {
  .crm-contribution-search_contribution-form-block {
    margin-bottom: 20px;

    h3 {
      @include panel-header;
    }

    .form-layout-compressed {
      margin-left: 20px;
    }
  }

  .crm-contribution-page-configure-actions,
  .crm-contribution-online-contribution-actions,
  .crm-contribution-search-contribution-actions,
  .crm-contribution-page-more {
    .btn-slide {
      padding-right: 15px !important;
      text-indent: initial;
      width: auto;
    }
  }
}
