&#{civi-page('admin-contribute-managepremiums')} {
  #crm-main-content-wrapper {
    .dataTables_wrapper {
      box-shadow: none;
    }
  }

  #{civi-dialog()} {
    .CRM_Contribute_Form_ManagePremiums {
      .crm-collapsible {
        margin: 0 -20px;

        .collapsible-title {
          @include accordion-header;
          font-size: $font-size-base;
          margin-bottom: 15px;
        }
      }

      .premium-full-disabled {
        button {
          background: darken($crm-copy, $crm-darken-percentage);
          margin: 20px 0;
        }
      }

      .crm-contribution-manage_premiums-form-block {
        padding: 0;

        .collapsible-title {
          margin-bottom: 0;
        }
      }
    }
  }
}
