/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id, scss/at-extend-no-missing-placeholder, property-no-vendor-prefix */

&#{civi-page('admin-pcp')} {
  .CRM_PCP_Form_PCP {
    table.form-layout-compressed {
      margin: 20px;
    }
  }
}
