.page-civicrm-campaign {
  .crm-content-block {
    .dataTables_wrapper {
      > table {
        thead th:nth-child(2),
        tbody td:nth-child(2) {
          padding-left: 20px;
        }
      }
    }

    .crm-search-form-block {
      .searchCampaign,
      .searchSurvey,
      .searchPetition {
        margin-top: 10px;
      }
    }
  }

  .CRM_Campaign_Form_Task_Interview {
    .float-right {
      margin-bottom: 16px;
      margin-right: 14px;
    }

    .dataTables_length {
      margin-left: 20px;
    }

    .dataTables_info {
      padding-top: 11px;
    }

    .crm-copy-fields {
      border-bottom: 1px solid $gray-light;
      border-top: 1px solid $gray-light;
    }

    .civireport-criteria {
      .form-layout-compressed {
        @extend %crm-table;
        width: 100%;

        th {
          background: $gray-lighter;
        }

        td,th {
          padding: 8px 10px;
        }
      }

      .add-remove-link {
        margin: 20px 10px;

        a {
          font-size: $font-size-base;
        }
      }
    }
  }
}
