/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id, scss/at-extend-no-missing-placeholder */

#{civi-page('survey')} {
  .CRM_Campaign_Form_Survey_Main {
    .help {
      margin: $crm-status-bar-no-top;
    }

    .crm-campaign-survey-new_campaign_link {
      text-transform: capitalize;
    }
  }

  .CRM_Campaign_Form_Search {
    .crm-results-block {
      overflow-x: auto;

      .crm-pager {
        > .element-right {
          margin-top: 0;
        }
      }
    }
  }
}

#{civi-page('survey-configure')} {
  .crm-content-block {
    > #mainTabContainer {
      .ui-tabs-panel {
        .crm-submit-buttons:first-of-type {
          border-top: 0;
          margin-top: 0 !important;
        }
      }

      .crm-campaign-survey-results-form-block {
        .form-layout-compressed {
          margin: 0;
          width: 100%;

          td {
            &:not(.label) {
              padding: 0;
            }

            &.label + td {
              padding: 5px;
            }
          }
        }

        fieldset {
          legend {
            @include section-title;
            box-sizing: border-box;
            margin-bottom: 10px;
            width: 100%;
          }

          .add-remove-link {
            font-size: $font-size-base;
            padding: 20px;
          }

          .description {
            padding-left: 20px;
          }

          table {
            @extend %civihr-table;
            box-shadow: none !important;

            td:first-child {
              padding-left: 20px !important;
            }

            a {
              .crm-i.fa-trash {
                color: $brand-danger;
              }

              &:hover {
                .crm-i.fa-trash {
                  color: darken($brand-danger, $crm-darken-percentage);
                }
              }
            }
          }
        }
      }
    }
  }
}
