.page-civicrm-contact-search-builder #crm-container .crm-accordion-body {
  #map-field td {
    padding: 10px 20px 4px;
  }

  h3 {
    background: $crm-accordion-header-color;
    border-bottom: 1px solid $crm-dark-grayblue;
    border-top: 1px solid $crm-dark-grayblue;
    color: $gray-darker;
    font-size: 13px;
    margin-bottom: 0;
    padding: 15px 20px;
  }

  .crm-search-builder-add-row .form-item,
  .crm-search-builder-add-block {
    text-decoration: none;

    .submit-link {
      color: $brand-primary;
      margin: 0;
    }

    &:before {
      @include fa-icon($font-size-base, $fa-var-plus);

      color: $brand-primary;
    }
  }

  #map-field .crm-search-builder-add-row td.form-item {
    padding-bottom: 15px;
  }

  #crm-submit-buttons {
    padding: 25px 20px;
  }
}
