.page-civicrm-admin-access {
  #crm-container {
    @include civicrm-table;

    table.report {
      @include civicrm-panel;

      width: 100%;
    }
  }
}

.page-civicrm-admin-synchuser {
  .crm-form-block {
    .help {
      display: none;
    }
  }
}

.page-civicrm-acl {
  #crm-main-content-wrapper {
    #wizard-steps {
      @include civicrm-panel;
    } 
  }
  .dataTables_wrapper {
    @include civicrm-table;
  }
}

.page-civicrm-acl-entityrole {
  @import "../common/table/table";

  .dataTables_wrapper {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
  }
}
