&.page-civicrm-admin-access {

  #crm-container {
    @include civicrm-table;

    table.report {
      @include civicrm-panel;

      width: 100%;
    }
  }
}

&.page-civicrm-admin-synchuser {

  .crm-form-block {
    background: none;
    box-shadow: none;

    .help {
      display: none;
    }
  }
}
