&.page-civicrm-admin-menu {

  .crm-content-block {

    #new-menu-item {
      background: $gray-lighter;
      margin: 0;
      padding: 10px;
    }

    #navigation-tree {

      ul > li {
        padding: 5px;
      }
    }
  }
}
