.page-civicrm-dashboard {
  .crm-dashboard-controls {
    margin-top: 0;

    a {
      color: $brand-primary !important;
    }
  }

  .crm-submit-buttons {
    margin: 30px 0;
    
    a {
    
      &.button {
        background: $brand-primary;
          
        i {
          margin: 0;
        }
      }
    }
  }

  #civicrm-dashboard {
    margin-top: 20px;
    
    @import 'pages/view-dashboard';
  }

  #configure-dashlet {
    @import 'pages/edit-dashboard';
  }
}
