.crm-dashboard-controls {
  margin: $crm-standard-gap 0;
  padding: 0;

  a {
    color: $brand-primary !important;

    &:hover {
      color: darken($brand-primary, $crm-darken-percentage) !important;
    }
  }
}

@import 'pages/view-dashboard';
@import 'pages/edit-dashboard';
