// System Status
#crm-status-list {
  @include civicrm-panel;

  .ui-tabs .ui-tabs-panel {
    padding: 20px;

    .crm-status-item {
      background: $crm-white;

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }

      h3 {
        font-family: $font-family-base;
        margin: 0;
        opacity: 1;
        padding: 10px;

        &.crm-severity-error {
          background: $brand-danger;
        }

        &.crm-severity-warning {
          background: $btn-warning-bg;
          color: $gray-darker;
        }

        &.crm-severity-info {
          background: $btn-success-bg;
          color: $gray-darker;
        }

        &.crm-severity-notice {
          background: $brand-primary;
        }
      }

      .crm-status-message-body {
        margin: 0;
        padding: 15px;
      }

      button {
        @include box-shadow($box-shadow);
        background: $crm-white;
        border: none;
        border-radius: $border-radius-base;
        cursor: pointer;
        padding: 5px 10px;
      }

      .crm-status-item-actions {
        button {
          @include button-variant($crm-white, $gray-dark, $gray-dark);
          @include button-remove-border-color();

          &:hover {
            background-color: darken($crm-copy, $crm-darken-percentage);
          }
        }
      }

      .hush-menu {
        ul {
          @include box-shadow($box-shadow);
          background: $crm-white;
          border: none;
          list-style: none;
          z-index: 1;

          & > li {
            background: $crm-white;
            padding: 10px;
            color: $gray-dark;
            border: none;

            &:hover {
              background: $gray-light;
              border: none;
            }

            // remove jquery's margin: -1px;
            &.ui-state-focus {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
