/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id, scss/at-extend-no-missing-placeholder, property-no-vendor-prefix */

&#{civi-page('admin-tag')} #crm-main-content-wrapper {
  .crm-content-block {
    background: none;
    box-shadow: none;

    #option11 {
      @include civicrm-panel;
    }

    .crm-submit-buttons {
      @include civicrm-panel;

      padding: 0;
    }
  }
}
