// Styles that may apply to more than one page
//
@import "variables";
@import "mixins";

@import "table/table";
@import "ui-tabs/ui-tabs";

#crm-main-content-wrapper {

  #activity_type,
  #custom_group {
    overflow: scroll;
  }

  #ltype {
    background: transparent !important;
    box-shadow: none !important;
  }

  /*
    To prevent table to scroll vertically when popup is shown we set padding-bottom,
    and margin-bottom to oposite values (i.e. when padding is 150px, margin is -150px)
    Doing this gives space for popup to expand, overflowing over other elements.
  */
  .dataTables_wrapper {
    overflow: scroll;
    padding-bottom: 150px;
    margin-bottom: -150px;
    background: transparent !important;
    box-shadow: none;
  }

  .action-link,
  .crm-submit-buttons {
    @include civihr_panel();

    line-height: normal;
    text-align: right;
    height: auto;
    min-height: inherit;

    // overriding !importants in most of the places - what the hell
    background: $crm-table-striped-bg !important;
    margin: 0 !important;
    padding: 10px !important;

    & > span.crm-button, & > a.button {
      float: none !important;
      display: inline-block;
    }
  }

  .crm-submit-buttons > .action-link {
    box-shadow: none;
    padding: 0 !important;
  }

  .help {
    @include civihr_panel();

    padding: 10px;
    margin-bottom: 10px;
  }
}
