// Styles that may apply to more than one page
//
@import "variables";
@import "mixins";
@import "table/table";


ul.civihr-popup {
  background: $crm-white;
  box-shadow: $box-shadow;
  list-style: none;
  margin: 0;
  position: absolute;

  li > a {
    color: $gray-dark;
    display: block;
    padding: 10px 20px;
    text-decoration: none;

    &:hover {
      background-color: $crm-background;
    }
  }
}

&.civihr-popup-open {
  /* If popup is open we do not allow scrolling */
  .dataTables_wrapper,
  #activity_type,
  #custom_group,
  #ltype {
    overflow: hidden !important;
  }
}

#crm-main-content-wrapper {
  #activity_type,
  #custom_group {
    overflow: scroll;
  }

  #ltype {
    background: transparent !important;
    box-shadow: none !important;
  }

  .dataTables_wrapper {
    background: transparent !important;
    box-shadow: none;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .crm-submit-buttons {
    background: $crm-white;
    border-top: 1px solid $gray-lighter;
    margin: 20px 20px 0;
    padding: 20px 0 18px;
    text-align: right;

    a.button {
      @extend %btn-civi-primary;

      &:last-child {
        margin-right: 0;
      }
    }

    .crm-button {
      @extend %btn-civi;

      &[crm-icon=fa-check] {
        @extend %btn-civi-primary;
        padding: 8px 19px;
      }

      &[crm-icon=fa-times] {
        @extend %btn-civi-secondary-outline;
        color: $gray;
        border: solid 1px $gray-dark;
        padding: 7px 19px;
        margin: 0;

        &:hover {
          background: $gray-dark;
          color: $crm-white;
        }
      }
    }
  }

  .action-link {
    @include civicrm-panel;
    height: auto;
    line-height: normal;
    min-height: inherit;
    text-align: right;

    // overriding !importants in most of the places - what the hell
    background: $gray-lighter !important;
    margin: 0 !important;
    padding: 10px !important;

    & > span.crm-button, & > a.button {
      display: inline-block;
      float: none !important;
    }
  }

  .crm-submit-buttons > .action-link {
    box-shadow: none;
    padding: 0 !important;
  }

  .help {
    background: $crm-light-green-color;
    border-radius: $border-radius-base;
    margin-bottom: 10px;
    padding: 10px;
  }
}
