@mixin civihr_table() {
  table {
    max-width: 100%;

    tr {
      background: #FFFFFF;
      border: none;
      border-bottom: $panel-border;

      & > td,
      & > th {
        color: $gray-dark;
        background: transparent;
        border: none;
        padding: 15px;
        vertical-align: middle;

        // prevent table from overflowing
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 1px;
        white-space: nowrap;
      }

      & > th {
        color: #4D5663;

        .DataTables_sort_icon {
          display: block;
        }
      }
    }

    thead > tr {
      background: #F4F7F8;
    }

    &.row-highlight {

      tr:hover {
        background: #FCFDFD !important;
      }
    }
  }
}

@mixin civihr_panel() {
  background: #FFFFFF;
  box-shadow: $box-shadow;
}

@mixin civihr_actions() {
  @include civihr_panel();

  line-height: normal;
  text-align: right;
  height: auto;
  min-height: inherit;

  // overriding !importants in most of the places - what the hell
  background: $crm-table-striped-bg !important;
  margin: 0 !important;
  padding: 10px !important;

  & > span.crm-button {
    float: none !important;
    display: inline-block;
  }
}

@mixin civihr_help {
  @include civihr_panel();

  padding: 10px;
  margin-bottom: 10px;
}
