/*
 * Adds CiviCRM table-specific styles for all children tables of admin part
 */
@mixin civicrm-table() {
  table:not(.form-layout-compressed) {
    max-width: 100%;

    tr {
      background: #FFFFFF;
      border: none;
      border-bottom: $panel-border;

      & > td,
      & > th {
        color: $gray-dark;
        background: transparent;
        border: none;
        padding: 15px 10px;
        vertical-align: middle;

        &:first-child {
          padding-left: 20px;
        }

        &:last-child {
          padding-right: 20px;
        }
      }

      & > th {
        color: $gray-darker;

        .DataTables_sort_icon {
          display: block;
        }
      }
    }

    thead > tr {
      background: #F4F7F8;
    }

    &.row-highlight {

      tr:hover {
        background: #FCFDFD !important;
      }
    }
  }
}

/*
 * Since different elements may be a CiviCRM Panel, this mixin prevents duplicating much code.
 */
@mixin civicrm-panel() {
  background: $crm-white;
  box-shadow: $box-shadow;
  border-radius: $border-radius-base;
}
