.CRM_Contact_Form_Search_Advanced .crm-results-block,
.CRM_Contact_Form_Search_Basic .crm-results-block {
  @extend %block-with-shadow;
  margin-top: 20px;

  .crm-search-tasks {
    background: $gray-lighter;
    border-bottom: solid 1px $crm-background;
    border-radius: 0 !important;
    box-shadow: none;
    margin-bottom: 0 !important;

    td {
      padding: 10px;
    }

    td .qill {
      color: $crm-copy;
    }

    .select2-container {
      margin: 0 !important;
    }
  }

  .crm-pager {
    margin: 0;

    > .element-right {
      margin-top: 7px;
    }

    + .float-right {
      background: $crm-gray-lightest;
      float: none !important;
      padding: 4px 10px 10px !important;
      text-align: right;
    }
  }

  script + .crm-pager {
    background: $crm-gray-lightest;
  }

  .sticky th {
    line-height: 1.1em !important;
    padding: 15px 20px !important;

    &:not(:first-child):not(:nth-child(2)) {
      padding-left: 0 !important;
    }

    .sticky-header {
      height: 30px;
    }

    &:last-child {
      &,
      span {
        line-height: normal;
      }
    }
  }

  #alpha-filter,
  .crm-search-tasks,
  .crm-selection-reset {
    background: $crm-white !important;
    padding: 15px 15px 5px !important;
  }

  #alpha-filter {
    float: left;
    margin: 0 !important;

    a {
      color: $brand-primary;
    }

    + .crm-selection-reset {
      float: right;
      margin-bottom: 10px !important;
      margin-top: 10px;
    }
  }

  .crm-pager,
  table {
    box-shadow: none !important;
  }

  table.selector {
    @extend %crm-table;
    border-top: solid 1px $crm-dark-grayblue;
    margin-top: 0 !important;
    padding-top: 0 !important;

    tr {
      padding-left: 0 !important;

      > th {
        line-height: 1.5em !important;
        padding: 14px 10px !important;
        vertical-align: middle;
      }

      > th:first-child {
        padding-left: 20px !important;
      }

      > td {
        line-height: 1.5em;
        padding: 12px 10px;
        vertical-align: middle;

        &:first-child {
          padding-left: 20px;
        }
      }

      > td:not(:last-child),
      > th:not(:last-child) {
        .privacy-flag {
          margin-left: 5px;
          width: 27px;
        }

        > span {
          align-items: center;
          display: flex;
        }
      }
    }

    > tbody > tr > td:last-child {
      padding-right: 20px;
      text-align: right;
    }

    tr.highlight > td {
      background: $gray-light !important;
    }

    ul.panel {
      @extend %block-with-shadow;
      border: solid 1px $crm-background !important;
      margin-top: 10px !important;

      li {
        background: $crm-white !important;
        padding: 0 !important;
      }

      li a.crm-hover-button.action-item {
        border: 0 !important;
        border-radius: 0 !important;
        color: $crm-copy !important;
        font-weight: initial;

        &:hover {
          background-color: $crm-background !important;
          color: $crm-copy !important;
        }
      }
    }

    .crm-icon {
      background: none !important;
      position: relative;
      text-indent: 0 !important;
      top: -3px;

      &::before {
        text-indent: 0 !important;
      }

      &.Individual-icon::before {
        @include fa-icon($font-size-base, $fa-var-user);
      }

      &.Household-icon::before {
        @include fa-icon(13px, $fa-var-home);
      }

      &.Organization-icon::before {
        @include fa-icon(13px, $fa-var-building);
      }
    }
  }

  .font-size12pt {
    font-size: $font-size-h2;
    font-weight: $crm-font-weight-h2;
    color: $gray-darker;
    padding-bottom: 10px;
  }

  .font-size11pt {
    font-size: $font-size-base;
    font-weight: $crm-font-weight-h2;
    color: $gray-darker;
  }
}
