.CRM_Contact_Form_Search_Advanced .crm-results-block {
  @extend %block-with-shadow;
  padding: 15px !important;

  .crm-search-tasks {
    border-radius: 0 !important;
    border-bottom: solid 1px $crm-background;
    padding-bottom: 15px !important;
    margin-bottom: 15px !important;
  }

  .crm-pager-nav {
    padding-left: 0 !important;
  }

  .crm-tooltip-wrapper {
    background-image: none !important;

    .crm-tooltip {
      @extend %block-with-shadow;
      background: $crm-dark-blue !important;


      .crm-table-group-summary tr td,
      .label,
      .content {
        color: #ffffff !important;
        font-weight: 600;
      }

      .crm-table-group-summary,
      td {
        background: $crm-dark-blue !important;
      }

      .crm-table-group-summary > tbody > tr:nth-child(1) > td {
        font-size: 1.5em;
      }

      td,
      tr {
        border: 0 !important;
        border-bottom: 0 !important;
      }
    }
  }

  #alpha-filter,
  .crm-search-tasks {
    background: #ffffff !important;
    padding-left: 0 !important;
    padding-right: 0;
  }

  #alpha-filter {
    float: left;
    margin-bottom: 15px !important;

    + .crm-selection-reset {
      margin-bottom: 15px !important;
      float: right;
      margin-top: 10px;
    }
  }

  .crm-pager,
  table {
    box-shadow: none !important;
  }

  table.selector {
    @extend %crm-table;
    border-top: solid 1px $crm-background;
    padding-top: 15px !important;
    margin-top: 15px !important;

    tr.highlight > td {
      background: $gray-light !important;
    }

    ul.panel {
      @extend %block-with-shadow;
      border: solid 1px $crm-background !important;
      margin-top: 10px !important;

      li {
        background: #ffffff !important;
        padding: 0 !important;

        a {
          border: 0 !important;
          border-radius: 0 !important;
          line-height: 30px !important;
          color: $crm-copy !important;
          font-weight: initial;

          &:hover {
            background-color: $crm-background !important;
          }
        }
      }
    }

    .crm-icon {
      background: none !important;
      text-indent: 0 !important;

      &::before {
        text-indent: 0 !important;
      }

      &.Individual-icon::before {
        @include fa-icon(13px, '\f007');
      }

      &.Household-icon::before {
        @include fa-icon(13px, '\f015');
      }

      &.Organization-icon::before {
        @include fa-icon(13px, '\f1ad');
      }
    }
  }
}
