{
  "extends": "../../.stylelintrc",
  "rules": {
    "max-nesting-depth": null,
    "selector-max-compound-selectors": null,
    "selector-no-qualifying-type": null,
    "selector-max-id": null
  }
}
