// Bootstrap calendar
// =======================
$datepicker-border-color: rgba(0, 0, 0, 0.15);
$datepicker-gray-dark: #535a67;
$datepicker-gray-darker: #525966;
$crm_gray: #767b8e;
$crm_dark_gray: #4e4e5f;
$crm_table_odd_row: #fbfbfc;
$crm_table_even_row: #fff;
$crm_table_border: #ecedee;
