// Bootstrap calendar
// =======================
$datepicker-border-color: rgba(0, 0, 0, 0.15);
$datepicker-gray-dark: #535a67;
$datepicker-gray-darker: #525966;
$sorting-gray-darker: #F3F3F6;

$contact-avatar: 90px;
$navbar-shadow: 0 3px 18px 0 rgba(49, 40, 40, 0.25);
$crm-checkbox-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
$border-radius-tag: 20px;
$border-radius-radio: 50%;
