// Bootstrap calendar
// =======================
$datepicker-border-color: rgba(0, 0, 0, 0.15);
$datepicker-gray-dark: #535a67;
$datepicker-gray-darker: #525966;

$select2-inner-background: #f1f5f6;

$contact-avatar: 90px;

$crm-checkbox-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
$crm-contribute-form-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);
$crm-form-item-shadow: 0 3px 6px 0 rgba(48, 40, 40, 0.25);
$crm-form-layout-shadow: 0 3px 18px 0 rgba(48, 40, 40, 0.25);
$crm-input-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset;
$crm-search-input-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
$crm-tab-shadow: 0 9px 9px 0 rgba(48, 40, 40, 0.25);

$crm-black-olive-color: #3E3E3E;
$crm-blue-light: #58b7d1;
$crm-blue-light-color: #5897FB;
$crm-cancel-color: #555;
$crm-dark-gray-color: #70716b;
$crm-green-color: #B0D730;
$crm-light-gray-color: #818c97;
$crm-light-green-color: #BEDEBB;

$font-family-fontawesome: 'FontAwesome';

$crm-font-weight-td: 100 !default;

$crm-min-width: 1005px;
$crm-max-width: 1504px;
$crm-min-lg-width: 1505px;
$crm-sm-th-width: 200px;

$fa-var-alert: '\f06a';
$fa-var-info-msg: '\f05a';
$fa-var-success: '\f00c';
$fa-caret-down: '\f078';
$fa-caret-right: '\f054';
