@import 'variables';
@import 'functions';
@import 'mixins';
@import 'SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/overrides/variables';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/overrides/variables';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/variables';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/mixins/ALL';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/tooltip';
@import 'SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/mixins/ALL';
@import 'SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/fonts/ALL';
@import 'SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/vendor/font-awesome/variables';
@import 'SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/vendor/font-awesome/path';
@import 'SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/overrides/style/ALL';
@import 'SCSSROOT/org.civicrm.shoreditch/scss/angular/overrides/ALL';
@import 'SCSSROOT/org.civicrm.shoreditch/scss/jquery/overrides/ALL';
@import 'common/common';
@import 'main-menu/main-menu';
@import 'api/api';
@import 'contact/contact';
@import 'search/search';
@import 'administer/administer';
@import 'managers/manager';
@import 'dashboard/dashboard';
@import 'campaign/campaign';
@import 'event/event';
@import 'financial/financial';
@import 'grant/grant';
@import 'pledge/pledge';

body {
  @include open-sans-font-family();
}
