@import 'variables';
@import '../bootstrap/overrides/variables';
@import 'SCSSROOT/org.civicrm.bootstrap/scss/overrides/variables';
@import 'SCSSROOT/org.civicrm.bootstrap/scss/vendor/bootstrap/variables';
@import 'SCSSROOT/org.civicrm.bootstrap/scss/vendor/bootstrap/mixins/ALL';
@import '../bootstrap/mixins/*';
@import '../bootstrap/fonts/*';
@import '../bootstrap/vendor/font-awesome/variables';
@import '../bootstrap/vendor/font-awesome/path';
@import '../bootstrap/overrides/style/*';
@import 'common/common';
@import 'main-menu/main-menu';
@import 'contact/contact';
@import 'advanced-search/advanced-search';
@import 'vacancies/vacancies';
@import 'administer/administer';
@import 'managers/manager';

body,
%open-sans-font-family {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
