@import 'variables';
@import 'mixins';
@import '../bootstrap/overrides/variables';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/overrides/variables';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/variables';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/mixins/ALL';
@import '../bootstrap/mixins/*';
@import '../bootstrap/fonts/*';
@import '../bootstrap/vendor/font-awesome/variables';
@import '../bootstrap/vendor/font-awesome/path';
@import '../bootstrap/overrides/style/*';
@import 'common/common';
@import 'main-menu/main-menu';
@import 'contact/contact';
@import 'search/search';
@import 'administer/administer';
@import 'managers/manager';
@import "dashboard/dashboard";

body,
%open-sans-font-family {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
