%search-filter-block {
  margin: 20px 0;
  padding: 18px 15px;
  background-color: $gray-lighter;

  .form-layout-compressed {
    margin: 0;
  }

  .select2-container {
    width: 180px !important;
  }
}

%group-buttons {
  border-left: 1px solid transparent !important;

  &:hover {
    background: none;
    border-left: 1px solid #AAAAAA !important;
    color: $crm-copy;
  }
}

// .page-civicrm-vacancy
// =====================================
.page-civicrm-vacancy {
  .crm-container {
    .advmultiselect {
      input[type='button'] {
        bottom: 0 !important;
        position: relative;
        margin: 0 20px !important;
        height: 35px;
        padding: 0 12px;

        &:first-child {
          margin-right: 0 !important;
        }
      }

      .crm-form-multiselect {
        margin: 0 !important;
      }

      tr:first-child {
        td:nth-child(2) {
          vertical-align: bottom;
          padding-bottom: 4px;
        }
      }
    }

    .crm-block.crm-form-block {
      .form-layout-compressed .crm-profile-selector-preview {
        @extend .btn-primary;
        height: 30px;
        line-height: 16px;
        margin-left: 20px;

        .crm-i {
          display: none;
        }
      }
    }
  }

  .CRM_HRRecruitment_Form_HRVacancy {
    .crm-block {
      padding-top: 20px;

      > table.form-layout-compressed,
      > fieldset {
        margin: 20px;
      }

      > table.form-layout-compressed {
        margin-top: 0;

        td {
          &.label {
            text-align: left !important;
          }

          > .select2-container,
          > .crm-form-text,
          > .crm-form-date-wrapper .crm-form-text:nth-child(2) {
            min-width: 200px !important;
            width: 200px !important;

            &.hasDatePicker {
              min-width: 169px !important;
              width: 169px !important;
            }
          }
        }
      }
    }

    @media (max-width: 1340px) {
      #s2id_permission_1 {
        min-width: 200px !important;
      }

      .crm-form-multiselect {
        min-width: 230px !important;
        width: 230px !important;
      }
    }

    @media (max-width: 1100px) and (min-width: 861px) {
      .crm-form-multiselect {
        min-width: 160px !important;
        width: 160px !important;
      }
    }

    @media (max-width: 860px) {
      .advmultiselect {
        td:nth-child(2) {
          vertical-align: middle !important;
          padding-bottom: 15px !important;

          > input:first-child {
            margin: 0 0 10px 0 !important;
          }
        }
      }
    }
  }

  #HRVacancy > div.crm-block.crm-form-block > div > span.crm-button {
    &.crm-i-button {
      min-width: auto !important;

      &.crm-button-type-next.crm-button_qf_HRVacancy_next {
        @extend .btn-primary;

        > .crm-i,
        > .crm-form-submit {
          color: #fff !important;
        }
      }

      &.crm-button-type-cancel.crm-button_qf_HRVacancy_cancel {
        @extend .btn-secondary-outline;

        &:hover {
          > .crm-i,
          > .crm-form-submit {
            color: #fff !important;
          }
        }
      }

      > .crm-i {
        padding: 3px;
      }

      > .crm-form-submit {
        &:hover {
          border: 0 !important;
        }
      }
    }
  }

  #addMorePermission {
    @extend .btn-primary;

    > .add-icon {
      background-image: none;
      text-indent: 0;
      margin-right: 3px;

      &:after {
        @include fa-icon(13px, '\f067');
        position: relative;
        top: -1px;
        color: #fff !important;
      }
    }
  }

  .crm-submit-buttons {
    padding: 20px !important;
    margin: 0 !important;
    min-height: 35px !important;
  }

  .CRM_HRRecruitment_Form_HRVacancy {
    table:first-child {
      tbody:first-child {
        label[for^="dp"] {
          position: relative;
          height: 30px;
          line-height: 30px;
          margin: 7.5px 0;
          display: block;

          &:after {
            @include fa-icon(13px, '\f073');
            font-weight: normal;
            position: absolute;
            left: 338px;
            top: 0;
            color: $brand-primary;
            z-index: 91;
          }

          &:before {
            content: '';
            position: absolute;
            left: 327px;
            top: 0;
            width: 30px;
            height: 28px;
            border: 1px solid $crm-copy;
            background: $crm-accordion-header-color;
            z-index: 90;
          }
        }

        .crm-form-time {
          margin-left: 15px !important;
        }

        tr {
          td {
            vertical-align: middle !important;
          }
        }

        &:not(.CRM_HRRecruitment_Form_HRVacancy_Template) {
          tr:nth-child(n+5):nth-child(-n+7) {
            td:first-child {
              vertical-align: top !important;
            }
          }
        }

        &.CRM_HRRecruitment_Form_HRVacancy_Template {
          tr:nth-child(n+4):nth-child(-n+6) {
            td:first-child {
              vertical-align: top !important;
            }
          }
        }
      }
    }
  }

  table {
    &.vacancy-popup {
      margin-bottom: 20px;
    }
  }

  .view-hrvacancies {
    .description {
      margin-bottom: 20px;
    }
  }

  .CRM_HRRecruitment_Form_Search {
    table {
      .action-item {
        border: 0 !important;
      }
    }

    .crm-search-form-block {
      margin-bottom: 20px;
    }
  }

  #searchForm {
    padding: 20px;

    td {
      padding: 0;
    }

    tr:nth-child(2) {
      td {
        padding: 20px 0;
      }
    }

    #_qf_Search_refresh {
      margin-bottom: 0 !important;
    }

    .listing-box {
      background-color: transparent;
      border-color: $crm-copy;

      > div {
        background-color: transparent;

        label {
          color: $crm-copy !important;
          font-weight: normal !important;
          padding: 5px;
        }
      }
    }

    .font-size12pt {
      font-size: 1em;
    }

    .crm-form-text {
      width: 312px !important;
    }
  }

  .hr-pipeline-tab {
    .crm-accordion-header {
      h2 {
        color: $gray-darker !important;
      }
    }

    .hr-vacancy {
      width: 49%;
      margin-bottom: 20px;
      border: 1px solid $crm-background;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      overflow: hidden;

      > div {
        padding: 0;
        font-size: 13px;
        font-family: 'Open Sans';
        font-weight: normal;

        > table {
          width: 101%;
          background-color: #ffffff;
          border: 0;

          tr {
            &:nth-child(2) {
              td {
                line-height: 25px;
              }
            }

            td {
              color: $crm-dark-blue;
              padding: 0 15px;

              &:not(:first-child) {
                padding: 10px 15px;
              }

              h3 {
                background-color: $crm-copy;
                font-weight: bold;
                padding: 8px 15px;

                > a {
                  color: #ffffff !important;
                  border: 0;

                  &:hover {
                    border: 0;

                    .edit-icon {
                      background-image: none;
                    }
                  }

                  .edit-icon {
                    background-image: none;
                    text-indent: 0;
                    top: -3px;
                    margin: 0;

                    &:after {
                      @include fa-icon(13px, '\f040', #ffffff);
                      font-weight: normal;
                    }

                    &:hover {
                      &:after {
                        opacity: .8;
                      }
                    }
                  }
                }
              }

              .hr-stage {
                border-left: 0 !important;
                width: auto !important;

                a {
                  font-weight: 600;
                  color: $brand-primary;
                  right: 0;
                  left: -3px;
                }
              }
            }

            &:first-child {
              td {
                padding: 0;
              }
            }

            &:nth-child(2) {
              font-weight: 600;
            }
          }
        }
      }
    }

    .hr-dashboard-recent-activity {
      border: 1px solid $crm-background;
      overflow: hidden;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .hr-recent-activity-title {
        background-color: $crm-copy;
        font-weight: bold;
        padding: 8px 15px;
        border-color: $crm-copy;
        line-height: 24px;
      }

      .row-highlight {
        border: 0;

        tr {
          background-color: #ffffff !important;
          border-bottom: 1px solid $crm-background;

          .hr-recent-activity-block {
            font-size: 13px;
            color: $crm-dark-blue;
          }
        }
      }
    }
  }

  .CRM_HRRecruitment_Form_Application {
    .crm-profile-name-application_profile {
      padding: 20px;

      .label {
        text-align: left !important;
      }

      .select2-container,
      .crm-form-text {
        width: 173px !important;
      }

      legend {
        @extend .collapsible-title;
        padding-top: 20px;
      }

      label[for="custom_87"] {
        @extend %label-input-file;
      }

      input[type=file] {
        @extend %input-file;
      }

      #editrow-custom_92 {
        .content {
          label {
            margin-right: 15px;
          }
        }
      }
    }

    .crm-submit-buttons {
      > .crm-button {
        &.crm-button_qf_Application_upload {
          @extend .btn-primary;
          min-width: auto !important;
          margin-left: 0;

          .crm-i {
            color: #fff !important;
          }
        }

        &.crm-button_qf_Application_cancel {
          @extend .btn-secondary-outline;
        }

        .crm-i {
          padding: 3px !important;
        }

        .crm-form-submit {
          padding-left: 2.3em !important;
          min-width: auto !important;

          &:hover {
            color: inherit !important;
            border: 0 !important;
          }
        }
      }
    }
  }
}

// .page-civicrm-case
// =====================================
.page-civicrm-case {
  .font-size12pt {
    font-size: 13px;

    label {
      width: 212px;
      display: inline-block;
    }
  }

  .crm-case-search-form-block {
    tr {
      td {
        padding: 0 !important;

        &.label {
          text-align: left !important;
        }

        &.crm-submit-buttons {
          padding: 12.5px 20px !important;
        }
      }

      &:first-child {
        > td {
          padding-top: 20px !important;
        }
      }

      &:nth-child(n+1):nth-child(-n+4) {
        > td {
          padding: 5px 20px !important;

          &:first-child {
            width: 220px;
            box-sizing: border-box;
          }
        }
      }

      &.crm-case-search-form-block-sort_name {
        > td {
          .crm-button_qf_Search_refresh {
            float: right !important;
          }

          #_qf_Search_refresh-top {
            margin-right: 0 !important;
          }
        }
      }
    }

    #Application {
      margin-top: 20px;

      .crm-accordion-body {
        padding: 20px !important;

        td {
          padding-left: 0 !important;
        }
      }
    }
  }

  .crm-search-tasks {
    @extend %search-filter-block;
  }

  .caseSelector {
    > tbody {
      > tr {
        > td:first-child,
        > th:first-child {
          width: 50px;
          text-align: center;
        }

        th {
          color: $gray-darker !important;

          a {
            color: $gray-darker !important;
          }
        }

        .crm-hover-button {
          @extend %group-buttons;
        }

        .nestedActivitySelector {
          td {
            &:nth-child(8) {
              text-align: left;
            }
          }
        }

        .ui-buttonset {
          .ui-button {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

// .page-civicrm-activity
// =====================================
.page-civicrm-activity {
  .crm-search-tasks {
    @extend %search-filter-block;
  }

  .crm-hover-button {
    @extend %group-buttons;
  }

  #searchForm {
    box-sizing: border-box;

    tr {
      &:not(#activityCustom) {
        td {
          padding: 10px 20px !important;
        }
      }

      &:nth-child(n+8):nth-child(-n+9) {
        display: none;
      }

      td {
        border: 0 !important;
        padding: 10px 0 !important;

        &.font-size12pt {
          font-size: 13px;
        }

        .crm-button_qf_Search_refresh {
          float: right !important;
          margin: 0;

          > .crm-form-submit {
            margin-right: 0 !important;
          }
        }

        &.label {
          text-align: left;
        }

        #sort_name {
          max-width: 230px !important;
          min-width: 230px !important;
        }

        .select2-choices,
        .select2-choice,
        #activity_subject {
          width: 329px !important;
          min-width: 329px !important;
        }
      }
    }
  }
}
