.page-civicrm-vacancy {
  .crm-container {
    .advmultiselect {
      input[type='button'] {
        bottom: 21px !important;
        position: relative;
      }
    }

    .crm-block.crm-form-block {
      .form-layout-compressed .crm-profile-selector-preview {
        @extend .btn-primary;
      }
    }
  }

  .CRM_HRRecruitment_Form_HRVacancy {
    .crm-block {
      padding-top: 20px;

      > table.form-layout-compressed,
      > fieldset {
        margin: 20px;
      }

      > table.form-layout-compressed {
        margin-top: 0;

        td {
          &.label {
            text-align: left !important;
          }

          > .select2-container,
          > .crm-form-text,
          > .crm-form-date-wrapper .crm-form-text:nth-child(2) {
            min-width: 200px !important;
            width: 200px !important;

            &.hasDatePicker {
              min-width: 169px !important;
              width: 169px !important;
            }
          }
        }
      }
    }
  }

  #HRVacancy > div.crm-block.crm-form-block > div > span.crm-button {
    &.crm-i-button {
      min-width: auto !important;

      &.crm-button-type-next.crm-button_qf_HRVacancy_next {
        @extend .btn-primary;

        > .crm-i,
        > .crm-form-submit {
          color: #fff !important;
        }
      }

      &.crm-button-type-cancel.crm-button_qf_HRVacancy_cancel {
        @extend .btn-secondary-outline;

        &:hover {
          > .crm-i,
          > .crm-form-submit {
            color: #fff !important;
          }
        }
      }

      > .crm-i {
        padding: 3px;
      }

      > .crm-form-submit {
        &:hover {
          border: 0 !important;
        }
      }
    }
  }

  #addMorePermission {
    @extend .btn-primary;

    > .add-icon {
      background-image: none;
      text-indent: 0;
      margin-right: 3px;

      &:after {
        @include fa-icon(13px, '\f067');
        position: relative;
        top: -1px;
        color: #fff !important;
      }
    }
  }



  .crm-submit-buttons {
    padding: 20px !important;
    margin: 0 !important;
    min-height: 35px !important;
  }

  .CRM_HRRecruitment_Form_HRVacancy {
    tbody:first-child {
      label[for^="dp"] {
        position: relative;

        &:after {
          @include fa-icon(13px, '\f073');
          font-weight: normal;
          position: absolute;
          left: 338px;
          top: 1px;
          color: $brand-primary;
          z-index: 91;
        }

        &:before {
          content: '';
          position: absolute;
          left: 327px;
          top: -5px;
          width: 30px;
          height: 28px;
          border: 1px solid $crm-copy;
          background: $crm-accordion-header-color;
          z-index: 90;
        }
      }

      .crm-form-time {
        margin-left: 15px !important;
      }
    }
  }

  table {
    &.vacancy-popup {
      margin-bottom: 20px;
    }
  }

  .view-hrvacancies {
    .description {
      margin-bottom: 20px;
    }
  }

  .CRM_HRRecruitment_Form_Search {
    table {
      .action-item {
        border: 0 !important;
      }
    }
  }
}
