.crm_page__content {

    @media (min-width: $screen-md-min) {
        overflow: hidden;

        .crm_page__main {
            margin-left: $crm-page-sidebar-width;
        }

        .crm_page__sidebar {
            float: left;
            width: $crm-page-sidebar-width;

            // equal height with container solution
            margin-bottom: -99999px;
            padding-bottom: 99999px;
        }

    }
}

.crm_page__footer {
    text-align: center;

    > .crm_page__footer__logo {
        display: inline-block;
        margin-bottom: 15px;
    }
}

.crm_page__footer__logo {
    color: $gray-darker;
    font-size: em(22);
}

.crm_page__main {
    padding: $crm-page-main-padding;
    padding-bottom: 50px;

    > .crm_page__footer {
        margin-top: 50px;
    }
}

.crm_page__sidebar {
    background: $crm-page-sidebar-bg;
}
