.crm_sidebar {
    background: #fff;

    .nav-stacked {

        > li {

            > a {
                color: $nav-sidebar-color;
                font-weight: $nav-sidebar-weigth;
                padding: $nav-sidebar-link-padding;
            }

            + li {
                margin-top: 0;
            }

            &.active {

                > a {
                    background: $nav-sidebar-link-hover-bg;
                    color: $nav-sidebar-link-color;
                }
            }
        }
    }
}
