/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

#configure-dashlet {
  .crm-submit-buttons {
    margin: $crm-standard-gap 0;
    padding: 0;
  }

  .dashlets-header {
    font-size: $font-size-h3;
    margin-bottom: $crm-standard-gap;
  }

  .portlet-header {
    @include prefix(border-radius, $border-radius-small, webkit moz);
    background: $crm-accordion-header-color;
    border-color: $crm-grayblue-dark;
    color: $gray-dark;
    font-family: $font-family-base;
    font-size: $font-size-medium;
    font-weight: $crm-font-weight-h3;
    margin: 0;
    padding: 15px;
  }

  #available-dashlets {
    background-color: $crm-white;
    border: 1px dashed $crm-copy;
    min-height: 40px;
    padding: 25px;
    width: auto;

    .portlet {
      border: 0;
    }
  }

  div[id*='dashlets-header-col'] {
    @include border-box();
    background: $crm-copy;
    color: $crm-white;
    margin-bottom: 0;
    padding: 15px;

    &[id*='col-1'] {
      float: right;
      margin-left: 0 !important;
    }
  }

  div[id*='existing-dashlets-col'] {
    @include border-box();
    background: $crm-white;
    border: 0;
    padding: 15px;

    &[id*='col-1'] {
      float: right;
      margin-left: 0 !important;
    }

    .portlet {
      border: 0;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}
