ul.ui-tabs-nav {
  background: #FFFFFF;
  border-bottom: $panel-border;
  padding: 0;
  padding-bottom: 0;
  border-radius: 0;

  *:focus {
    outline: none;
  }

  li {
    display: inline-block;
    white-space: normal;
    margin-bottom: -1px;
    border: 1px solid transparent;

    padding: 5px 10px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    background: transparent !important;
    border-radius: 3px 3px 0px 0px;
    top: 0;
    box-sizing: border-box;

    a,
    a em {
      color: $gray-darker;
    }

    &.ui-state-active {
      background: $crm-table-striped-bg !important;
      border: $panel-border;
      border-bottom: 1px solid $crm-table-striped-bg;

      a,
      a em {
        color: $brand-primary;
      }
    }
  }
}
