.CRM_Contact_Form_Search_Advanced {
  .adv-search-top-submit {
    .crm-button {
      float: right !important;
    }
  }

  .form-layout {
    .crm-form-submit {
      margin-left: 20px;
      margin-top: 15px;
    }
  }
}
