/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id, scss/at-extend-no-missing-placeholder */

.CRM_Contact_Form_Search_Custom .crm-search-form-block table.form-layout-compressed {
  td {
    button.crm-form-submit {
      @extend .btn-sm;
      float: none;
      margin-left: 20px !important;
      vertical-align: initial;
    }
  }

  td.label {
    width: auto;
  }
}
