.CRM_Contact_Form_Search_Basic,
.CRM_Contact_Form_Search_Advanced {
  label {
    padding: 0 !important;
  }

  .selector {
    clear: both;

    thead th {
      background: $gray-lighter;
      color: $gray-darker;
      line-height: 1.5em;
      padding: 15px 20px;
      vertical-align: middle;
    }
  }

  .crm-search-results {
    margin: 0;
  }

  .crm-search-form-block .crm-accordion-wrapper {
    overflow: hidden;
  }

  .crm-content-block .crm-results-block table:not(.crm-table-group-summary) {
    table-layout: fixed;

    td:not(:last-child):not(:nth-child(2)):not(:nth-child(3)) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    td:nth-child(3) {
      word-wrap: break-word;
    }

    th:first-child,
    td:first-child {
      width: 20px;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 28px;
    }
  }

  .crm-accordion-wrapper.crm-advanced_search_form-accordion {
    border-radius: $panel-border-radius;
  }

  .crm-search-form-block,
  .crm-search-form-block .crm-form-block {
    border-radius: $panel-border-radius;
  }

  .crm-basic-criteria-form-block {
    padding: 0 !important;

    .crm-accordion-body {
      padding: 20px;
    }

    .crm-accordion-body .label {
      color: $gray-darker;
      font-size: $font-size-base;
      text-align: left;

      &,
      > label {
        font-weight: normal !important;
      }
    }
  }
}
