// Namespace for the entire theme
// Set it to an empty string to remove the namespace
$bootstrap-namespace : "#bootstrap-theme";

//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

$icon-font-path: "../fonts/" !default;

$crm-wizard-active-bg-color: $gray-lighter;
$crm-wizard-active-font-color: $brand-primary;

