&.page-civicrm-admin-setting-component {

  .crm-form-block {
    background: none;
    box-shadow: none;

    .help {
      @include civihr_help();
    }

    table.advmultiselect,
    p.description {
      @include civihr_panel();
    }

    table.advmultiselect {
      width: 100%;

      td {
        border: none;
      }
    }

    p.description {
      padding: 10px;
    }

    .crm-submit-buttons {
      @include civihr_actions();
    }
  }
}
