&.page-civicrm-admin-extensions {
  .help {
    margin: 20px;
  }

  #mainTabContainer {
    @include civicrm-table;
    border-radius: none !important;
    box-shadow: none !important;

    #extensions-addnew,
    #extensions-main {
      padding: 0 !important;
      border: none;

      table#option11,
      table#option12 {
        border-top: none;

        td:not(:first-of-type) {
          width: 70px;
          text-overflow: clip;
        }

        tr.hiddenElement {
          background: $crm-white;

          table.crm-info-panel {
            width: 100%;

            td {
              text-overflow: clip;
              width: auto;

              &.label {
                width: 150px;
              }
            }
          }
        }
      }

      table#option12 td:last-of-type {
        width: 140px;
      }
    }
  }
}
