&#{civi-page('admin-mapping')} {
  @include civicrm-table;

  .form-item {
    padding: 0;
  }

  #crm-container {
    tr.columnheader {
      background: $gray-lighter;
      border: none;
      border-bottom: 1px solid $gray-light;
    }
  }
}

&#{civi-page('admin-setting-mapping')} {
  .form-layout-compressed {
    tr {
      td:first-child {
        padding-left: 20px;
      }
    }
  }
}
