&.page-civicrm-admin-options {

  #browseValues {
    @include civicrm-table;
    @include civicrm-panel;
  }
}


&.page-civicrm-admin-setting-preferences-multisite,
&.page-civicrm-admin-setting-misc {

  .crm-form-block {
    @include civicrm-table;

    .crm-submit-buttons {
      box-shadow: none;
      margin: 0 !important;
    }

    .form-layout {
      margin: 10px 0;
    }

    .description {
      padding: 10px;
    }
  }
}
