/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

&#{civi-page('admin-job')} {
  #ltype {
    @include civicrm-table;

    .disabled {
      &,
      td {
        color: $crm-gray-matte !important;
      }
    }

    th {
      white-space: nowrap;
    }
  }

  .CRM_Admin_Form_Job {
    h3 {
      @include box-shadow($box-shadow);
      @include panel-header;
      margin-bottom: 0;
    }

    .crm-job-form-block {
      @include box-shadow($crm-form-layout-shadow-lower);
      border-radius: 0 0 $border-radius-base $border-radius-base !important;

      .crm-form-time {
        @include civicrm-form-control;
        @include open-sans-font-family();
        margin: 10px 0;
      }
    }
  }
}

&#{civi-page('admin-joblog')} {
  h3 {
    @include panel-header;
    margin-bottom: 0;
  }

  .status.no-popup {
    margin: 0 20px;
  }
}
