&.page-civicrm-admin-setting-smtp {
  .crm-form-block {
    @include civicrm-table;

    table.form-layout-compressed {
      .crm-smtp-form-block-outBound_option {
        td {
          vertical-align: middle;
        }
      }
    }

    legend {
      @include section-title;
      box-sizing: border-box;
      width: 100%;
    }
  }
}
