&.page-civicrm-admin-setting-smtp {
  .crm-form-block {
    @include civicrm-table;

    table.form-layout-compressed {

      td {
        input[type=radio] + label {
          line-height: 135%;
        }
      }

      .crm-smtp-form-block-outBound_option {
        td {
          vertical-align: middle;

          &.label {
            padding-top: 0;
          }
        }
      }
    }

    legend {
      @include section-title;
      box-sizing: border-box;
      width: 100%;
    }
  }
}
