&.page-civicrm-admin-setting-smtp {
  .crm-form-block {
    @include civihr_table;

    background: none;
    box-shadow: none;

    table.form-layout-compressed {
      @include civihr_panel();

      width: 100%;

      .crm-smtp-form-block-outBound_option {

        td:last-of-type {

          label {
            padding-right: 15px;
          }
        }
      }
    }

    #bySMTP,
    #bySendmail {
      @include civihr_panel;

      overflow: hidden;

      legend {
        display: block;
        width: 100%;
        margin: 0;
        padding: 15px 10px;
      }

      table.form-layout-compressed {
        background: none;
        box-shadow: none;
        margin: 0;
      }
    }
  }
}
