&.page-civicrm-a {
  @include civihr_table();
  
  .crmCaseType {
    
    .crm-block {
      padding: 20px;
    }

    input[type=checkbox] {
      @include styled-checkbox();
    }

    input[type=radio] {
      @include styled-radio();
    }

    .ui-tabs {
      box-shadow: none;
      border-top: 1px solid $crm-background;

      table.row-highlight {
        box-shadow: none;

        tr th,
        tr td {
          line-height: normal;
        }

      }

      #acttab-statuses {
        table th:first-child,
        table td:first-child {
          width: 16px;
        }

        .crm-hover-button {
          color: $brand-primary;
        }
      }

      .ui-tabs-panel {
        padding: 0 !important;
      }
    }
  }

  table tr.forked {
    font-weight: normal;
  }
}
