.crm-content-block {
  @include civihr_panel();
  @include civihr_table();

  .action-link,
  .crm-submit-buttons {
    text-align: right;
    margin: 0;
    height: auto;
    padding: 10px;
    line-height: normal;

    a {
      float: none;
    }
  }
}
