// Collapse
.crm-collapsible {
  background: #FFF;
  box-sizing: border-box;
  box-shadow: $box-shadow;
  border-radius: 0;
  margin-top: 14px;
  padding: 15px 20px !important;

  .crm-inline-block-content {
    padding: 0 !important;
  }

  .crm-summary-block {
    box-shadow: none !important;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid $gray-lighter;
  }

  .collapsible-title {
    background-image: none !important;
    color: $gray-darker;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    padding: 0;

    &:hover {
      color: $gray-darker;
    }

    &:before {
      content: "\f078";
      font-size: 13px;
      font-weight: normal;
      font-family: "FontAwesome";
      margin-right: 5px;
    }
  }
}
