/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, selector-no-qualifying-type, selector-max-id */

#{civi-page('contact-view')} {
  @import 'tabs';
  @import 'header';
  @import 'detail';

  .select2-search::before {
    top: 17px !important;
  }
}

@import 'pages/new-individual';
@import 'pages/new-email';
@import 'pages/import-contact';
@import 'pages/manage-groups';
@import 'pages/find-and-merge-duplicate';
@import 'pages/dedupe-exception';
@import 'pages/contact-report';
@import 'pages/reports';
@import 'pages/export';
@import 'pages/new-activity';
@import 'pages/task-common';
@import 'pages/task-delete';
@import 'pages/contact-preferences';
@import 'pages/email-builder';
@import 'pages/smart-group';
@import 'pages/tag-contacts';
@import 'pages/add-to-group';
@import 'pages/add-to-smart-group';
@import 'pages/remove-group';
@import 'pages/memberships';
@import 'pages/events';
@import 'pages/contributions';
@import 'pages/new-price-set';
@import 'pages/batch';
@import 'pages/member-import';
@import 'pages/add-to-household';
@import 'pages/relationships';
@import 'pages/view-contact';
@import 'pages/notes';
@import 'pages/change-log';
@import 'pages/pledges';
@import 'pages/find-contacts';
