.page-civicrm-contact-view {
  @import 'tabs';
  @import 'header';
  @import 'detail';
}

@import 'pages/new-individual';
@import 'pages/new-email';
@import 'pages/import-contact';
@import 'pages/manage-groups';
@import 'pages/find-and-merge-duplicate';
@import 'pages/dedupe-exception';
@import 'pages/contact-report';
@import 'pages/activity-details';
@import 'pages/find-contacts';
