@import "collapse";
@import "tooltip";

.ui-tabs-panel {
  padding-top: 10px !important;

  // Remove the space from the angular's container
  > div {
    padding: 0 !important;
  }

  .crm-summary-block {
    margin-bottom: 14px;
    background: #FFF;
    box-shadow: $box-shadow;
  }

  div.crm-clear {
    font-family: 'Open Sans';
    font-size: 13px;
    padding: 12.5px 20px;

    &,
    a {
      color: $gray-dark;
    }
  }

  div.crm-summary-row {
    div.crm-label {
      font-weight: 600;

      &,
      a {
        color: $gray-darker !important;
      }
    }
  }

  div.crm-clear,
  div.crm-summary-row,
  div.crm-summary-row div.crm-label {
    background-color: #FFF !important;
  }

  // Fix the row width when has the .container class
  .container.crm-summary-row {
    width: auto;
    padding: 0;
  }

  // Hide the user photo from the panels
  #crm-contact-thumbnail {
    display: none;
  }

  .float-left {
    float: none !important;
    padding: 0 !important;
  }
}

// Edit label
#crm-container {

  .crm-summary-block-wrap {
    float: left;
    width: calc(100% - $contact-avatar*2); // 100% - width of the image - margin
    margin-top: 0;
  }

  #crm-contactname-content {
    border: none !important;
    max-height: 60px;

    .crm-summary-display_name {
      padding: 22px 0; // centering name vertically
    }
  }

  .crm-summary-contactname-block {
    padding: 10px 0;
  }

  .crm-contact-detail-wrap {
    margin-top: 0px;
  }

  form.CRM_Contact_Form_Inline_ContactName {
    border: none;

    .select2-choice {

      .select2-search-choice-close {
        top: 8px;
        right: 30px;
      }

      .select2-chosen {
        margin-right: 26px;
      }
    }

    .crm-inline-edit-form {
      background-color: transparent !important;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border: 0;

      & > .crm-inline-edit-field ~ .crm-inline-edit-field {
        padding: 10px 5px;
      }

      & > .crm-inline-edit-field {
        padding: 10px 5px 10px 0;

        label {
          color: $crm-white;
        }

        #household_name {
          height: 33px !important;
          margin-top: 2px;
          background: $crm-page-topbar-bg-light;
          padding: 1px 10px;
          color: $crm-white;
          border-color: $crm-copy;
        }
      }

      .crm-inline-button {
        padding: 20px 5px;
        margin: 0 !important;
        border: 0;
        order: 2;
      }

      .crm-button_qf_ContactName_upload {
        i {
          display: inline-block;
        }
      }

      .crm-form-submit {
        padding: 7px 12px !important;
        margin-top: 5px;
        min-width: initial;

        &:hover {
          background-color: $brand-primary !important;
          color: $crm-white !important;
        }

        &.cancel {
          background-color: $brand-danger !important;
          color: $crm-white !important;
          border-radius: 2px;
          border: none !important;

          &:hover {
            background-color: $brand-danger !important;
          }
        }
      }
    }
  }

  .crm-inline-edit-form {
    background-color: transparent !important;
    padding: 10px;
  }

  .crm-inline-edit {
    border-width: 1px !important;

    .crm-edit-help {
      border-radius: 0;
      background: $crm-accordion-header-color !important;
      color: $gray-dark;
      padding: .2em .9em;
    }

    &:hover {
      border-style: solid;
      border-color: $gray-dark;

      .crm-edit-help {
        border-left: 1px solid $gray-dark;
        border-bottom: 1px solid $gray-dark;
      }
    }

    &.form {
      font-family: 'Open Sans';
      border: 1px solid $brand-primary !important;

      .crm-button {
        border: 0;

        .crm-i {
          display: none;
        }

        input {
          padding-left: 12px;

          &.default {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      .delete-button {
        background: $brand-danger !important;
        color: #FFF !important;
        border-color: $brand-danger !important;

        float: right !important;
        margin-right: 15px;

        &:hover {
          background: darken($brand-danger, 10%) !important;
        }

        .icon {
          display: none;
        }
      }

      .crm-button-type-cancel,
      .crm-button_qf_Address_1_cancel,
      .crm-button_qf_Address_2_cancel,
      .crm-button_qf_Address_3_cancel,
      .crm-button_qf_Address_4_cancel,
      .crm-button_qf_Address_5_cancel,
      .crm-button_qf_Address_6_cancel {
        input {
          color: $gray-darker !important;
          border: 1px solid $gray-darker !important;
        }

        &:hover {
          input {
            color: #fff !important;
            background-color: $gray-dark;
            border-color: $gray-darker;
          }
        }
      }

      td {
        background-color: transparent !important;
      }
    }
  }

  .form-layout-compressed {
    width: 100% !important;
  }

  .crm-address-element {
    .helpicon {
      right: -16px !important;
    }
  }

  .crm-container .twelve {
    width: 10em;
  }

  .crm-inline-button,
  .crm-submit-buttons {
    height: 35px;
    margin-bottom: 10px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  div.contact_panel td {
    border: 0;
  }
}

#Address_1,
#Address_2,
#Address_3,
#Address_4,
#Address_5,
#Address_6 {
  padding: 10px;

  .form {
    overflow-x: hidden;
  }

  .crm-form-select {
    width: 39% !important;
  }

  .crm-form-text {
    min-width: auto !important;
    max-width: 100% !important;
    width: 94% !important;
  }

  #address_1_geo_code_1,
  #address_1_geo_code_2,
  #address_2_geo_code_1,
  #address_2_geo_code_2,
  #address_3_geo_code_1,
  #address_3_geo_code_2,
  #address_4_geo_code_1,
  #address_4_geo_code_2,
  #address_5_geo_code_1,
  #address_5_geo_code_2,
  #address_6_geo_code_1,
  #address_6_geo_code_2 {
    width: 18% !important;
  }

  input[type="checkbox"] {
    margin: 6.5px 5px 7.5px 0 !important;
  }

  label {
    font-weight: normal !important;

    &[for="address_1_location_type_id"],
    &[for="address_2_location_type_id"],
    &[for="address_3_location_type_id"],
    &[for="address_4_location_type_id"],
    &[for="address_5_location_type_id"],
    &[for="address_6_location_type_id"] {
      font-weight: bold !important;
    }
  }

  .crm-submit-buttons,
  .crm-inline-button {
    margin-bottom: 20px;
  }

  .form-layout-compressed {
    label,
    br {
      display: none;
    }

    .helpicon {
      position: relative;
      top: 15px;
      right: 7px;
      float: right;
    }

    .crm-form-select {
      width: 95% !important;
      min-width: auto !important;
    }
  }
}


.crm-inline-edit {
  form {
    .crm-content {
      margin-left: 0 !important;

      input[type="text"] {
        width: 100%;
      }
    }

    .crm-label,
    .label {
      display: none;
    }

    .crm-clear {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

input[type="text"] {
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
}

.select2-arrow {
  background: none !important;
  padding: 0 4px;
}

.select2-choice {
  border-radius: 0;
  box-sizing: inherit;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;

  color: $gray-dark;
  background-color: #fff;
  background-image: none;
  border: 1px solid $gray-dark;
}

#CustomData {
  .custom_20_1-row {
    .label {
      width: 100% !important;
      display: table-cell !important;
    }

    .html-adjust {
      .crm-hover-button {
        display: none;
      }
    }
  }
}
