#branding {
  display: none;
}

#page {
  padding: 0;
  margin: 0;
}

.crm-summary-block-wrap {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.crm-summary-contactphoto {
  float: left;
  width: $contact-avatar;
  height: $contact-avatar;
  border-radius: 50%;
  margin: 10px $contact-avatar/2 0;
  padding-top: 5px;
}

.crm-summary-contactname-block-without-contract {
  background: $brand-danger !important;
}

.crm-contact-detail {
  color: $gray-lighter;
  margin-right: 15px;

  strong {
    color: $crm-white;
  }
}

.crm-contact-detail-wrap {
  line-height: 20px;
  margin-top: 8px;
}

#crm-container {
  div.crm-summary-contactname-block {
    background: $crm-page-topbar-bg;
    color: $crm-white;
    min-height: 110px; // min-height is needed as we use float inside
    padding-left: 20px;
    position: relative;
  }

  .crm-contact-page {
    padding: 0;
  }
}

.crm-actions-ribbon {
  background: $crm-gray-bright;
  color: $crm-white;
  margin-bottom: 0 !important;
  padding: 15px 20px;

  .button {
    background-color: $brand-primary !important;
    border: 0 !important;

    &.delete {
      background-color: $brand-danger !important;
    }
  }

  .crm-next-action,
  .crm-previous-action {
    .button {
      background-color: transparent !important;
      border: 1px solid $crm-white !important;
      padding: 7px 6px 7px 0 !important;
      width: 90px;

      .crm-i {
        display: none;
      }
    }
  }

  .button {
    .crm-i {
      top: 0;
    }
  }

  .crm-i {
    position: relative;
    top: -2px;
  }
}

.crm-summary-display_name {
  font-size: 24px !important;
  font-weight: $headings-font-weight;
  padding-top: 12px;

  .crm-summary-link {
    display: none;
  }
}

.crm-inline-edit-field {
  .select2-drop,
  .select2-choice {
    width: auto !important;
  }
}
