.crm-contact-page {
  position: relative;
  padding: 4px;

  #mainTabContainer {
    background-color: transparent;
    padding: 0;
    overflow: hidden;

    .ui-tabs-nav {
      width: 15%;
      float: left;
      padding: 4px;

      background: #FFFFFF;
      padding: 0;
      border-radius: 0;
      box-shadow: $box-shadow;

      padding-bottom: 99999px;
      margin-bottom: -99999px;
    }

    li.crm-tab-button {
      display: block;
      width: 100%;
      font-size: 12px;
      white-space: normal;

      border: 0;
      padding: 10px;
      font-family: 'Open Sans';
      font-size: 13px;
      font-weight: 600;
      background: transparent;
      border-radius: 0;
      top: 0;
      box-sizing: border-box;

      padding: 0;
      margin-bottom: 0;

      &.ui-tabs-active,
      &:hover {
        background: $background-color;

        a,
        em {
          color: $brand-primary !important;
        }
      }

      a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px !important;

        // ICONS
        // ==============
        &::before {
          content: "\f12e";
          margin-right: 10px;
          font-family: "FontAwesome";
          font-weight: normal;
        }

        &[title="Contact Summary"]::before {
          content: "\f007";
        }

        &[title="Job Contract"]::before {
          content: "\f016";
        }

        &[title="Job Roles"]::before {
          content: "\f022";
        }

        &[title="Personal Details"]::before {
          content: "\f05a";
        }

        &[title="Absences"]::before {
          content: "\f273";
        }

        &[title="Appraisals"]::before {
          content: "\f200";
        }

        &[title="Assignments"]::before {
          content: "\f0f2";
        }

        &[title="Tasks"]::before {
          content: "\f03a";
        }

        &[title="Documents"]::before {
          content: "\f0c5";
        }

        &[title="Identification"]::before {
          content: "\f09d";
        }

        &[title="Immigration"]::before {
          content: "\f072";
        }

        &[title="Emergency Contacts"]::before {
          content: "\f0fa";
        }

        &[title="Managers"]::before,
        &[title="Relationships"]::before {
          content: "\f0e8";
        }

        &[title="Bank Details"]::before {
          content: "\f19c";
        }

        &[title="Career History"]::before {
          content: "\f1da";
        }

        &[title="Medical & Disability"]::before {
          content: "\f193";
        }

        &[title="Qualifications"]::before {
          content: "\f0a3";
        }

        &[title="Notes"]::before {
          content: "\f040";
        }

        &[title="Groups"]::before {
          content: "\f0c0";
        }

        &[title="Change Log"]::before {
          content: "\f187";
        }

        &[title="Cases"]::before {
          content: "\f0f6";
        }
      }

      a,
      em {
        cursor: default;
        color: $gray-darker !important;
      }
    }

    .ui-tabs-panel {
      float: right;
      width: 84%;

      #contactsummary, #hrjob-contract, #hrjobroles, #civitasks, #cividocuments {
        padding: 15px 15px 0 0 !important;
      }
    }
  }

  /* override of jquery-ui.css that creates weird white background */
  .ui-widget-content {
    background: transparent;
  }

  .ui-dialog {
    background: #FFFFFF;
  }

  /* overriding ui-widget-content class from jquery-ui.css */
  .ui-widget-content {
    border: 0 !important;
    color: #222222;
  }
}
