#crm-contact-actions-list {
  background: transparent !important;
  margin-top: 20px;
  box-shadow: $box-shadow;
  width: auto;

  &:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFF;
  }

  .crm-contact-actions-list-inner {
    background-color: #FFF;
    padding: 10px 0 !important;

    .crm-contact_actions-list {
      border-color: $crm-background !important;
      width: 175px;
      margin-left: 175px;
      margin-right: 175px;

        .crm-action-new-case,
        .crm-action-new-relationship,
        .crm-action-new-note,
        .crm-action-tag-contact {
          display: none;
        }
    }

    .crm-contact_print-list{
      width: 175px;

      .crm-contact-print {
        display: none;
      }
    }

    ul {
      padding: 0 !important;
      height: auto;

      li {
        padding: 10px !important;

        &:hover {
          background: $crm-background !important;

          a {
            background: $crm-background !important;
          }
        }
      }
    }

    a {
      color: $gray-dark !important;
    }
  }
}
