&.page-civicrm-admin-domain {

  .crm-form-block {

    .crm-submit-buttons {
      box-shadow: none !important;
      background: $crm-table-striped-bg !important;

      min-height: auto;
      height: auto;
      text-align: right;

      & > span.crm-button {
        float: none !important;
        display: inline-block;;
      }

      &:first-of-type {
        margin-bottom: 10px !important;
        text-align: left;
      }
    }

    div:not(.crm-submit-buttons),
    & > h3,
    & > table td {
      padding: 10px !important;
    }

    #Address_Block_1 .crm-submit-buttons {
      margin: -10px !important;
      padding: 10px !important;
    }
  }
}
