&#{civi-page('admin-schedulereminders')},
&#{civi-page('admin-labelformats')},
&#{civi-page('admin-pdfformats')} {

  #reminder, #ltype {
    @include civicrm-table;
  }

  #option11_wrapper {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  #crm-main-content-wrapper > .spacer {
    display: none;
  }
}
